<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title"><text class="uppercase blue-text lato">Database</text><text class="uppercase orange-text lato"> Backups</text></h1>

            </div>
        </div>
    </div>
</div>



<section class="compare-page" id="content">


<div class="content-wrap mid-section">




<div class="section m-0 pt-0 mid-one compare-result-section user-management-sections newsletter-sections">
<div class="container clearfix quote-container-homepage">
<div class="row">

<div class="col-md-12">


    <div cg-busy="{promise:databasePromise}">
        <div class="table-responsive">
        <table ng-table="tableParams" class="table table-striped campus-result-table ">

            <form name="userEditForm" submit-validate >

                <tr ng-repeat="database in $data" ng-form="editRowForm">

                    <td data-title="'File Name'" width="200">
                        <span>{{database.fileName}}</span>
                    </td>
                    <td data-title="'Date Time'" width="200" >
                        <span>{{database.fileTime}}</span>
                    </td>
                    <td data-title="'Size'" width="200" >
                        <span>{{database.fileSize}}</span>
                    </td>
                    <td data-title="'Action'" width="200" >
                        <span><button ng-click="downloadDatabase(database.fileName)" class="myBtn orange-btn">Download</button></span>
                    </td>

                </tr>
            </form>
        </table>
        </div>

    </div>
</div>

</div>

</div>
</div>


</div>
</div>

</section>



