<div class="safety-first-page-head-banner message-board-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-7">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>Message</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text text-left"><strong>

                        <text class="uppercase navy-blue-text ">Board</text>

                    </strong></p>
                </div>

            </div>


            <div class="col-md-5 text-right">
                <div class="guard-image">
                    <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

<div class="section m-0 pt-0 search-result-section">
    <div class="container clearfix ">
        <div class="row">
            <div class="col-md-12 mid-three-people-quote-col">
                <div class="message-board-type-buttons text-center">

                    <div class="btn-group">
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'All'"
                               uncheckable>All</label>
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'Unread'"
                               uncheckable>Unread</label>
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'Starred'"
                               uncheckable>Starred</label>
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'SellingDeal'" uncheckable>I am Selling</label>
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'ContactedDeal'" uncheckable>I am Buying</label>
                        <label class="btn btn-check" ng-change="typeChange(radioModel)" ng-model="radioModel" uib-btn-radio="'Sold'"
                               uncheckable>Sold</label>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="search-page-options message-board-type-options">Sort By:

                    <select ng-change="changeSortType()" ng-model="sortType">
                        <option value="bookTitle" ng-selected="true">Title</option>
                        <option value="bookDirectorAuthorArtist">Author</option>
                        <option value="bookIsbn">ISBN</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4 message-board-pagination text-center">
                <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                ng-change="changePage(currentPage)" class="search-page-pagination "
                                boundary-links="true"
                                rotate="false" num-pages="numPages"></uib-pagination>

            </div>
            <div class="col-md-4 text-center">


                <div class="search-page-options message-board-search">

                    <div class="input-group">

                        <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                            </span>

                        <input type="text"
                               ng-model="searchQuery"
                                ng-change="search(searchQuery)"

                               placeholder="search your book"
                               class="form-control">

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container clearfix">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3 message-board-column-header-checkbox text-center">
                    <text class="all-checkbox-text">
                        All
                        <label  class="checkbox checkbox-custom-alt checkbox-white white-text">
                            <input type="checkbox" name="agree" id="agree" ng-model="user.agree"><i></i>
                        </label>
                    </text>

                </div>
                <div class="col-md-9 message-board-column-header text-center white-border-left-1">
                    <text class="uppercase ">&nbsp;&nbsp; Text book deals</text>
                </div>
            </div>

            <div class="row">
                <div  cg-busy="{promise:getDealsPromise}" class="col-md-12 message-boards-all-deals-column">
                    <ul class="tabs-menu message-board-tabs-menu">

                        <li ng-show="bookDeals.length==0" >
                            <div class="row">
                                <div class="col-md-12 text-center message-board-check-star-item-column">
                                    <text>No Textbook Deal is found.</text>
                                </div>

                            </div>
                        </li>

                        <li ng-class="{true:'active'}[deal.active]" data-ng-repeat="deal in bookDeals">
                            <div class="row">
                                <div class="col-md-3 text-center message-board-check-star-item-column">
                                    <div class="message-board-check-star-item">
                                        <label  class="checkbox checkbox-custom-alt white-text">
                                            <input type="checkbox" name="agree"  ng-model="user.agree"><i></i>
                                        </label>

                                        <span><a ng-click="makeStar(deal)">
                                            <i ng-show="!deal.starred" class="fa fa-star-o"></i>
                                            <i ng-show="deal.starred" class="fa fa-star"></i>
                                        </a></span>
                                    </div>

                                </div>
                                <div class="col-md-9 ">
                                    <a href="" ng-click="active(deal)">
                                        <dl class="dl-horizontal message-board-textbook-deal-item">
                                            <dt><img class="" data-ng-src="{{imageHostPath}}{{deal.bookImage}}"/>
                                            </dt>
                                            <dd><text class="convert-to-white-text orange-text lato uppercase">{{deal.bookTitle}}</text> <span ng-show="deal.newMessages>0" class="badge">{{deal.newMessages}}</span><br/>
                                                <text class="grey-text">ISBN:</text> <text class="blue-text convert-to-white-text">{{deal.bookIsbn}}</text><br/>
                                                <!--{{deal.dealType}}-->

                                                <button ng-show="deal.dealType=='contactedDeal'" class="myBtn orange-btn message-board-btn" ui-sref="app.contactedBookList">Go to Deal</button>
                                                <button ng-show="deal.dealType=='sellingDeal'" class="myBtn orange-btn message-board-btn" ui-sref="app.sellingBookList">Go to Deal</button>

                                                <text  class="price-text convert-to-white-text orange-text float-right">${{deal.bookPriceSell}}</text>
                                            </dd>
                                            <!--<dd class=""></dd>-->
                                        </dl>

                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="message-board-column-header text-center">
                <text class="uppercase text-center "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; Contact</text>
            </div>

            <div class="message-board-all-contacts">
                <div class="message-board-contacts" ng-show="deal.active" data-ng-repeat="deal in bookDeals">

                    <div class="row" ng-show="deal.contacts.length==0">
                        <div class="col-md-12 text-center">
                            <text>No one has contacted for this textbook deal yet.</text>
                        </div>
                    </div>

                    <uib-accordion >

                        <uib-accordion-group ng-repeat="contact in deal.contacts track by $index" is-open="row.open">
                            <uib-accordion-heading >

                                <div class="row" ng-click="getMessages(contact,row.open,deal)">

                                    <div class="col-md-5 no-right-padding">
                                        <div class="message-icons text-white lato pull-left">
                                            <i class="angle-icon fa-3x fa" ng-class="{'fa-angle-up': row.open, 'fa-angle-down': !row.open}"></i><br/>
                                            <i class="envelope-icon fa fa-envelope-o "></i><br/>
                                            <span ng-show="contact.newMessages>0" class="badge">{{contact.newMessages}}</span>
                                        </div>

                                        <div class="avatar-image pull-left">
                                            <span><img class="" data-ng-src="{{imageHostPath}}{{contact.profilePicture}}"/></span>
                                            <span class="text-white lato uppercase contact-name">{{contact.contactName}}</span>

                                        </div>

                                    </div>
                                    <div class="col-md-2 no-left-padding no-right-padding">
                                        <div class="item-price">
                                            <text class="text-white lato">Price: ${{deal.bookPriceSell}}</text>
                                        </div>
                                    </div>

                                    <div class="col-md-5 no-left-padding no-right-padding">
                                        <div class="book-details">
                                            <div class="pull-right">
                                                <img class="book-image" data-ng-src="{{imageHostPath}}{{deal.bookImage}}"/>
                                            </div>
                                            <div class="pull-right book-title-and-isbn">
                                                <text uib-tooltip="{{deal.bookTitle}}" class="white-text lato uppercase">{{deal.bookTitle | limitTo:20}}<text  ng-show="deal.bookTitle.length>25">...</text></text><br/>

                                                <text class="white-text">ISBN:</text> <text class="white-text ">{{deal.bookIsbn}}</text><br/>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </uib-accordion-heading>
                            <div cg-busy="{promise:messagePromise}">
                                <div class="contact-messages" >

                                    <div ng-show="(deal.dealType=='sellingDeal') || (deal.dealType=='contactedDeal' && deal.bookContactMethod=='buyerToSeller')">

                                        <ul   class="list-group no-radius no-border">


                                            <li  class="list-group-item" style="background: #E9E9E9">
                                                <h5 class="lato px-18 ">Contact Details</h5>
                                                <div class="row" ng-show="deal.dealType=='sellingDeal'">
                                                    <div class="col-md-4">
                                                        <span ng-show="contact.buyerEmail!=undefined"><i class="contact-details-circle fa fa-envelope-o"></i> {{contact.buyerEmail}}</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span ng-show="contact.buyerCellPhone!=undefined"><text class="contact-details-circle">C</text> {{contact.buyerCellPhone}}</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span ng-show="contact.buyerHomePhone!=undefined"><text class="contact-details-circle">H</text> {{contact.buyerHomePhone}}</span>
                                                    </div>

                                                </div>


                                                <div class="row"ng-show="deal.dealType=='contactedDeal' && deal.bookContactMethod=='buyerToSeller'">
                                                    <div class="col-md-4">
                                                        <span ng-show="deal.sellerEmail!=undefined"><i class="contact-details-circle fa fa-envelope-o"></i> {{deal.sellerEmail}}</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span ng-show="deal.sellerCellNumber!=undefined"><text class="contact-details-circle">C</text> {{deal.sellerCellNumber}}</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span ng-show="deal.sellerHomeNumber!=undefined"><text class="contact-details-circle">H</text> {{deal.sellerHomeNumber}}</span>
                                                    </div>

                                                </div>


                                           <!-- <span ng-show="deal.dealType=='sellingDeal'" >
                                                <span ng-show="contact.buyerEmail!=undefined"><i class="contact-details-circle fa fa-envelope-o"></i> {{contact.buyerEmail}}</span>
                                                <span ng-show="contact.buyerHomePhone!=undefined"><br/><i class="contact-details-circle fa fa-phone"></i> {{contact.buyerHomePhone}}</span>
                                                <span ng-show="contact.buyerCellPhone!=undefined"><br/><i class="contact-details-circle fa fa-phone"></i> {{contact.buyerCellPhone}}</span>
                                            </span>-->

                                            <!--<span ng-show="deal.dealType=='contactedDeal' && deal.bookContactMethod=='buyerToSeller'">
                                                <span ng-show="deal.sellerEmail!=undefined"><i class="contact-details-circle fa fa-envelope-o"></i> {{deal.sellerEmail}}</span>
                                                <span ng-show="deal.sellerHomeNumber!=undefined"><br/><i class="contact-details-circle fa fa-phone"></i> {{deal.sellerHomeNumber}}</span>
                                                <span ng-show="deal.sellerCellNumber!=undefined"><br/><i class="contact-details-circle fa fa-phone"></i> {{deal.sellerCellNumber}}</span>
                                            </span>-->

                                            </li>
                                        </ul>
                                    </div>

                                        <div scroll-glue  ng-class="{'message_box_div_{{contact.contactId}}':true}" class="contact-messages" >


                                        <div  ng-show="contact.messages.length>0"
                                            class="list-group no-radius no-border">

                                            <div ng-repeat="message in contact.messages track by $index"
                                                 class="list-group-item b-{{mail.label.color}}">

                                                <div class="media">

                                                    <div class="pull-left"><img class="small-avatar-image" data-ng-src="{{imageHostPath}}{{message.senderProfilePicture}}"/></div>
                                                    <div>
                                                        <text class="lato orange-text">{{message.sender}}</text><br/>
                                                        <text class="margin-left-20 lato italic">{{message.messageBody}}</text>
                                                    </div>

                                                    <div class="message-date pull-right">

                                                        <text class="lato italic">{{message.messageDateTime}}</text>
                                                    </div>


                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <ul class="list-group no-radius no-border">
                                        <li class="list-group-item"  style="background: #E9E9E9">
                                            <form name="sendMessageForm" submit-validate
                                                  ng-submit="sendMessage(sendMessageForm.$valid,contact,deal)"
                                                  role="form" novalidate>
                                                <div ng-class="{ 'has-error' : sendMessageForm.message.$invalid && !sendMessageForm.message.$pristine, 'has-success' : sendMessageForm.message.$valid && !sendMessageForm.message.$pristine}">
                                                    <textarea rows="5" class="form-control" placeholder="Type your message here.." ng-model="contact.message" name="message" required
                                                              type="text"></textarea>
                                                </div>


                                                <div class="box-div-for-message-board-input">
                                                    <input class="send-message-button myBtn orange-btn" type="submit" value="Send"/>
                                                </div>

                                            </form>

                                        </li>
                                    </ul>
                                </div>
                            </div>



                        </uib-accordion-group>

                    </uib-accordion>

                </div>
            </div>


        </div>
    </div>



</div>




</div>
</section>

