<div class="contact-us-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">


            </div>
        </div>
    </div>
</div>


<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

    <div class="container clearfix">

        <div class="row">


            <!-- BLOG POSTS -->
            <div cg-busy="{promise:getDealsPromise}" class="col-sm-12 blog-posts contact-us-form-div">

                <div class="contact-page-left-side">

                    <div class="row">

                        <div class="col-md-4">
                            <h3 class="text-center lato" >TextBook Deals</h3>
                            <div class="faq-topics-div">



                                <ul class="tabs-menu message-board-tabs-menu">

                                    <li ng-class="{true:'active'}[deal.active]" data-ng-repeat="deal in bookDeals">
                                        <a href="" ng-click="active(deal)" >
                                        <dl class="dl-horizontal">
                                            <dt> <img class="" data-ng-src="{{imageHostPath}}{{deal.bookImage}}"/></dt>
                                            <dd>{{deal.bookTitle}} <span ng-show="deal.newMessages>0" class="badge">{{deal.newMessages}}</span><br/>
                                                ISBN: {{deal.bookIsbn}}</dd>
                                        </dl>

                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <h3 class="text-center lato" >Contacts</h3>
                            <div class="tab-content">
                                <div class="faq-all-questions">

                                    <div ng-show="deal.active" data-ng-repeat="deal in bookDeals">


                                        <ul class="list-group no-radius no-border" id="mails-list">
                                            <li ng-repeat="contact in deal.contacts"
                                                class="list-group-item b-{{mail.label.color}}">

                                                <div class="media">

                                                    <div class="media-body">
                                                        <div class="media-heading m-0">
                                                            <a href="" ng-click="getMessages(contact)" class="mr-5">{{contact.contactName}} <span ng-show="contact.newMessages>0"  class="badge">{{contact.newMessages}}</span></a>
                                                            <!--<span class="label bg-primary">label</span>-->
                                                            <span class="pull-right text-sm text-muted">
                                                              <span class="hidden-xs">{{contact.contactDateTimeFormatted}}</span>

                                                            </span>
                                                        </div>
                                                        <small>{{contact.contactEmail}}</small>
                                                    </div>
                                                </div>


                                                <ul ng-show="contact.messages.length>0" class="list-group no-radius no-border">
                                                    <li ng-repeat="message in contact.messages"
                                                        class="list-group-item b-{{mail.label.color}}">

                                                        <div class="media">

                                                            <div class="media-body">
                                                                <div class="media-heading m-0">
                                                                    <text class="blue-text">{{message.sender}}</text> : {{message.messageBody}}
            <span class="pull-right text-sm text-muted">
              <span class="hidden-xs">{{message.messageDateTime}}</span>

            </span>
                                                                </div>

                                                            </div>
                                                        </div>



                                                    </li>
                                                    <li class="list-group-item">
                                                        <form  name="sendMessageForm" submit-validate ng-submit="sendMessage(sendMessageForm.$valid,contact)" role="form" novalidate>
                                                            <input ng-model="contact.message" name="message" type="text" />
                                                            <input type="submit" value="Send"/>
                                                        </form>

                                                    </li>
                                                </ul>


                                            </li>
                                        </ul>



                                        <!--<ul>
                                            <li data-ng-repeat="contact in deal.contacts"><a ng-click="getMessages(contact)">{{contact.buyerNickName}}</a>
                                                <ul><li data-ng-repeat="message in contact.messages">{{message.messageDateTime}}::{{message.sender}}: {{message.messageBody}}</li>
                                                    <form  name="sendMessageForm" submit-validate ng-submit="sendMessage(sendMessageForm.$valid,contact)" role="form" novalidate>
                                                        <input ng-model="contact.message" name="message" type="text" />
                                                        <input type="submit" value="Send"/>
                                                    </form>
                                                </ul>

                                            </li>
                                        </ul>-->

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>


            </div>
            <!-- END BLOG POSTS -->


        </div>
        <!-- blog -->


    </div>


</div>
</section>

