<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title hidden-xs"><text class="uppercase blue-text lato">University</text><text class="uppercase orange-text lato"> Management</text></h1>
                <h1 class="header-title visible-xs"><text class="uppercase blue-text lato">University</text><text class="uppercase orange-text lato"> Manage.</text></h1>

            </div>
        </div>
    </div>
</div>



<section class="compare-page" id="content">


<div class="content-wrap mid-section">




<div class="section m-0 pt-0 mid-one compare-result-section user-management-sections">
<div class="container clearfix quote-container-homepage">
<div class="row">




<div class="col-md-12">

<uib-tabset justified="true" type="pills">
    <uib-tab class="first-tab">
    <uib-tab-heading>
        <div class="people-icon-div"></div>
        <text>Pending University</text>
    </uib-tab-heading>
    <div cg-busy="{promise:universityPromise}">


        <div class="button-panel">
            <button ng-click="approveSelectedUniversities()" class="myBtn app-btn buy-now-button "><i class="fa fa-check"></i>&nbsp;Approve Checked Universities</button>
            <a ui-sref="app.addUniversity" class="myBtn app-btn buy-now-button "><i class="fa fa-plus"></i>&nbsp;Add New University</a>
        </div>

<div class="table-responsive">
        <table ng-table="tableParams" class="table table-striped campus-result-table ">

            <form name="universityEditForm" submit-validate >

                <tr ng-repeat="university in $data" ng-form="editRowForm">
                    <td  style="text-align: left;width: 4%;" header="'ng-table/headers/checkbox.html'">
                        <label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-click="addOrRemoveSelectedUniversities(university)" ng-model="checkboxes.items[university.universityId]"><i></i></label>
                    </td>
                    <td data-title="'Name'" style="width: 20%;" filter="{ 'universityName': 'text' }">
                        <span ng-if="!university.$edit">{{university.universityName}}</span>

                        <div ng-if="university.$edit"
                             ng-class="{ 'has-error' : editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine, 'has-success' : editRowForm.universityName.$valid && !editRowForm.universityName.$pristine}">
                            <input name="universityName" class="input-sm form-control" type="text"
                                   required
                                   ng-model="university.universityName"/>
                            <p class="help-block">
                                <span ng-show="editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine">University Name is required.</span>
                            </p>
                        </div>

                    </td>
                    <td data-title="'Campuses'" style="width: 20%;"  >
                        <ol type="1">
                            <li data-ng-repeat="campus in university.campuses">{{campus.campusName}}, {{campus.stateName}}({{campus.stateShortName}}), {{campus.countryName}}<br><br></li>
                        </ol>
                    </td>
                    <td data-title="'Url'" style="width: 16%;" >
                        <span ng-if="!university.$edit">{{university.universityUrl}}</span>
                        <div ng-if="university.$edit">
                            <input name="universityUrl" class="input-sm form-control" type="text"
                                   ng-model="university.universityUrl"/>
                        </div>
                    </td>
                    <td data-title="'Status'" style="width: 10%;" >
                        <span ng-if="!university.$edit">{{university.universityStatus}}</span>
                    <div ng-if="university.$edit">
                        <select ng-model="university.universityStatus" class="form-control mb-10">
                            <option ng-selected="university.universityStatus=='Activated'"
                                    value="Activated">Activated
                            </option>
                            <option ng-selected="university.universityStatus=='Deactivated'"
                                    value="Deactivated">Deactivated
                            </option>
                        </select>
                    </div>
                    </td>
                    <td data-title="'Date'" style="width: 20%;" sortable="'creationDateTime'">
                        <span >{{university.creationDateTime}}</span>
                    </td>
                    <td data-title="'Actions'" style="width: 10%">
                        <a ng-if="!university.$edit" href="" ng-click="editRow(university)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit<br/></a>
                        <a ng-if="!university.$edit" href="" ui-sref="app.universityEdit({university:university})" class="text-warning text-uppercase text-strong text-sm mr-10">Edit in Details<br/></a>
                        <a ng-if="!university.$edit" href="" ui-sref="app.universityMerge({university:university})" class="text-success text-uppercase text-strong text-sm mr-10">Merge<br/></a>
                        <a ng-if="university.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,university,false)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save Only<br/></a>
                        <a ng-if="university.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,university,true)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save & Approve<br/></a>
                        <a ng-if="university.$edit" href="" ng-click="cancelEditRow(university)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel<br/></a>
                    </td>
                </tr>
            </form>
        </table>
</div>
        <script type="text/ng-template" id="ng-table/headers/checkbox.html">
            <label class="checkbox checkbox-custom-alt"><input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""><i></i></label>
        </script>



    </div>
</uib-tab>
    <uib-tab class="mid-tab">
    <uib-tab-heading>
        <div class="book-close-icon-div"></div>
        <text>Activated University</text>
    </uib-tab-heading>
    <div cg-busy="{promise:activatedUniversityPromise}">

        <div class="table-responsive">
        <table ng-table="activatedTableParams" class="table table-striped campus-result-table ">

            <form name="universityEditForm" submit-validate >

                <tr ng-repeat="university in $data" ng-form="editRowForm">

                    <td data-title="'Name'" style="width: 20%;"  filter="{ 'universityName': 'text' }">
                        <span ng-if="!university.$edit">{{university.universityName}}</span>

                        <div ng-if="university.$edit"
                             ng-class="{ 'has-error' : editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine, 'has-success' : editRowForm.universityName.$valid && !editRowForm.universityName.$pristine}">
                            <input name="universityName" class="input-sm form-control" type="text"
                                   required
                                   ng-model="university.universityName"/>
                            <p class="help-block">
                                <span ng-show="editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine">University Name is required.</span>
                            </p>
                        </div>

                    </td>
                    <td data-title="'Campuses'" style="width: 20%;"  >
                        <ol type="1">
                            <li data-ng-repeat="campus in university.campuses">{{campus.campusName}}, {{campus.stateName}}({{campus.stateShortName}}), {{campus.countryName}}<br><br></li>
                        </ol>
                    </td>
                    <td data-title="'Url'" style="width: 16%;" >
                        <span ng-if="!university.$edit">{{university.universityUrl}}</span>
                        <div ng-if="university.$edit">
                            <input name="universityUrl" class="input-sm form-control" type="text"
                                   ng-model="university.universityUrl"/>
                        </div>
                    </td>
                    <td data-title="'Status'" style="width: 10%;" >
                        <span ng-if="!university.$edit">{{university.universityStatus}}</span>
                        <div ng-if="university.$edit">
                            <select ng-model="university.universityStatus" class="form-control mb-10">
                                <option ng-selected="university.universityStatus=='Activated'"
                                        value="Activated">Activated
                                </option>
                                <option ng-selected="university.universityStatus=='Deactivated'"
                                        value="Deactivated">Deactivated
                                </option>
                            </select>
                        </div>
                    </td>
                    <td data-title="'Date'" style="width: 20%;" sortable="'creationDateTime'">
                        <span >{{university.creationDateTime}}</span>
                    </td>
                    <td data-title="'Actions'" style="width: 10%">
                        <a ng-if="!university.$edit" href="" ng-click="editRow(university)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit<br/></a>
                        <a ng-if="!university.$edit" href="" ui-sref="app.universityEdit({university:university})" class="text-warning text-uppercase text-strong text-sm mr-10">Edit in Details<br/></a>
                        <a ng-if="!university.$edit" href="" ui-sref="app.universityMerge({university:university})" class="text-success text-uppercase text-strong text-sm mr-10">Merge<br/></a>
                        <a ng-if="university.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,university,true)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save<br/></a>
                        <a ng-if="university.$edit" href="" ng-click="cancelEditRow(university)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel<br/></a>
                    </td>
                </tr>
            </form>
        </table>
            </div>
    </div>
</uib-tab>
    <uib-tab class="last-tab">
        <uib-tab-heading>
            <div class="book-open-icon-div"></div>
            <text>Deactivated University</text>
        </uib-tab-heading>
        <div cg-busy="{promise:deactivatedUniversityPromise}">
            <div class="table-responsive">
            <table ng-table="deactivatedTableParams" class="table table-striped campus-result-table ">

                <form name="universityEditForm" submit-validate >

                    <tr ng-repeat="university in $data" ng-form="editRowForm">

                        <td data-title="'Name'" style="width: 20%;"  filter="{ 'universityName': 'text' }">
                            <span ng-if="!university.$edit">{{university.universityName}}</span>

                            <div ng-if="university.$edit"
                                 ng-class="{ 'has-error' : editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine, 'has-success' : editRowForm.universityName.$valid && !editRowForm.universityName.$pristine}">
                                <input name="universityName" class="input-sm form-control" type="text"
                                       required
                                       ng-model="university.universityName"/>
                                <p class="help-block">
                                    <span ng-show="editRowForm.universityName.$invalid && !editRowForm.universityName.$pristine">University Name is required.</span>
                                </p>
                            </div>

                        </td>
                        <td data-title="'Campuses'" style="width: 20%;"  >
                            <ol type="1">
                                <li data-ng-repeat="campus in university.campuses">{{campus.campusName}}, {{campus.stateName}}({{campus.stateShortName}}), {{campus.countryName}}<br><br></li>
                            </ol>
                        </td>
                        <td data-title="'Url'" style="width: 16%;" >
                            <span ng-if="!university.$edit">{{university.universityUrl}}</span>
                            <div ng-if="university.$edit">
                                <input name="universityUrl" class="input-sm form-control" type="text"
                                       ng-model="university.universityUrl"/>
                            </div>
                        </td>
                        <td data-title="'Status'" style="width: 10%;" >
                            <span ng-if="!university.$edit">{{university.universityStatus}}</span>
                            <div ng-if="university.$edit">
                                <select ng-model="university.universityStatus" class="form-control mb-10">
                                    <option ng-selected="university.universityStatus=='Activated'"
                                            value="Activated">Activated
                                    </option>
                                    <option ng-selected="university.universityStatus=='Deactivated'"
                                            value="Deactivated">Deactivated
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td data-title="'Date'" style="width: 20%;" sortable="'creationDateTime'">
                            <span >{{university.creationDateTime}}</span>
                        </td>
                        <td data-title="'Actions'" style="width: 10%">
                            <a ng-if="!university.$edit" href="" ng-click="editRow(university)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit<br/></a>
                            <a ng-if="!university.$edit" href="" ui-sref="app.universityEdit({university:university})" class="text-warning text-uppercase text-strong text-sm mr-10">Edit in Details<br/></a>
                            <a ng-if="!university.$edit" href="" ui-sref="app.universityMerge({university:university})" class="text-success text-uppercase text-strong text-sm mr-10">Merge<br/></a>
                            <a ng-if="university.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,university,true)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save<br/></a>
                            <a ng-if="university.$edit" href="" ng-click="cancelEditRow(university)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel<br/></a>
                        </td>
                    </tr>
                </form>
            </table>
                </div>
        </div>
    </uib-tab>

</uib-tabset>
</div>

</div>

</div>
</div>


</div>
</div>

</section>


