<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title">
                    <text class="uppercase blue-text lato">Merge</text>
                    <text class="uppercase orange-text lato"> University</text>
                </h1>

            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one compare-result-section user-management-sections">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <!-- BLOG POSTS -->
                    <div cg-busy="{promise:universityPromise}" class="col-sm-12 blog-posts contact-us-form-div">


                        <!-- tile -->
                        <section class="tile text-left" fullscreen="isFullscreen01">


                            <!-- tile body -->
                            <div class="tile-body">


                                <div class="row" data-ng-repeat="university in universities">
                                    <div class="col-md-12">
                                        <h1 class="lato form-page-header">University Details</h1>

                                        <p class="" for="universityName"><strong>University Name:</strong>
                                            {{university.universityName}}</p>

                                        <p class="" for="universityName"><strong>University Url:</strong>
                                            {{university.universityUrl}}</p>

                                        <p class="" for="universityName"><strong>University Status:</strong>
                                            {{university.universityStatus}}</p>

                                        <p class="" for="universityName"><strong>University Creation Date:</strong>
                                            {{university.creationDateTime}}</p>

                                        <p class="" for="universityName"><strong>Campuses:</strong></p>

                                        <ol type="1">
                                            <li data-ng-repeat="campus in university.campuses">
                                                {{campus.campusName}}, {{campus.stateName}}({{campus.stateShortName}}),
                                                {{campus.countryName}}
                                            </li>
                                        </ol>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="lato form-page-header">Similar Universities</h1>


                                        <div class="table-responsive">
                                        <table ng-table="similarTableParams" class="table table-striped campus-result-table ">

                                            <form name="universityEditForm" submit-validate >

                                                <tr ng-repeat="university in $data">

                                                    <td data-title="'Name'" style="width: 20%;"  filter="{ 'universityName': 'text' }">
                                                        <span >{{university.universityName}}</span>

                                                    </td>
                                                    <td data-title="'Campuses'" style="width: 20%;"  >
                                                        <ol type="1">
                                                            <li data-ng-repeat="campus in university.campuses">{{campus.campusName}}, {{campus.stateName}}({{campus.stateShortName}}), {{campus.countryName}}<br><br></li>
                                                        </ol>
                                                    </td>
                                                    <td data-title="'Url'" style="width: 16%;" >
                                                        <span >{{university.universityUrl}}</span>
                                                    </td>
                                                    <td data-title="'Status'" style="width: 10%;" >
                                                        <span >{{university.universityStatus}}</span>
                                                    </td>
                                                    <td data-title="'Date'" style="width: 20%;" sortable="'creationDateTime'">
                                                        <span >{{university.creationDateTime}}</span>
                                                    </td>
                                                    <td data-title="'Actions'" style="width: 10%">
                                                        <button data-options="splash-2 splash-primary splash-ef-2"
                                                                ng-click="showMergeUniversityModal($event,'mergeModalContent',{university:university})"
                                                                class="myBtn app-btn orange-btn">Merge With This
                                                        </button>

                                                        <!--<a  href="" ng-click="mergeUniversity(university)" class="text-primary text-uppercase text-strong text-sm mr-10">Merge With This<br/></a>-->
                                                    </td>
                                                </tr>
                                            </form>
                                        </table>
</div>
                                    </div>
                                </div>


                            </div>
                            <!-- /tile body -->


                        </section>
                        <!-- /tile -->


                    </div>

                </div>


            </div>
        </div>


    </div>
    </div>

</section>

<script type="text/ng-template" id="mergeModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">You want to Merge This University?</h3>
    </div>
    <div class="modal-body">

        <p>You Sure you want to Merge Universities ?</p>

        <p>Once merged all the users regarding this university will be transferred to "{{src.university.universityName}}" and previous university will be removed from database.</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(mergeUniversity,src)">
            <i class="fa fa-check"></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>