<div ng-parallax pattern="'dist/images/parallax/login_parallax.jpg'" offset="0" speed="5" class="parallax-box dark">

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">University Map</p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-7 login-page-col-div">

                <div class="login-page-dark-div university-map-page-form">


                    <form class="addUniversityForm" name="universityCreateForm" submit-validate
                          ng-submit="saveNewUniversity(universityCreateForm.$valid)" role="form" novalidate>

                        <!-- tile -->
                        <section class="tile text-left" fullscreen="isFullscreen01">


                            <!-- tile body -->
                            <div class="tile-body">


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.campus.$invalid && !userForm.campus.$pristine, 'has-success' : userForm.campus.$valid && !userForm.campus.$pristine}">

                                            <p class="white-text">Search by any University Name, Campus Name or State Name: </p> <p class="white-text">If not found then <a ui-sref="app.addUniversity">Create a new university!</a></p>

                                            <input
                                                    placeholder="Type any University/Campus/State Name"

                                                    typeahead-on-select="onCampusSelect($item, $model, $label)"
                                                    ng-model-options="modelOptions"
                                                    name="campus"
                                                    required type="text"
                                                    ng-model="campus"
                                                    uib-typeahead="campus as campus.display for campus in querySearch($viewValue)"
                                                    typeahead-loading="loadingCampuses"
                                                    typeahead-no-results="noResults"
                                                    class="form-control input-style"
                                                    autocomplete="off">

                                            <text ng-show="loadingCampuses"  class="white-text"><i class="fa fa-cog fa-spin fa-fw"></i> Getting University Information...</text>
                                            <div ng-show="noResults" class="text-danger">
                                                <i class="fa fa-times"></i> No Results Found
                                            </div>


                                            <p class="help-block">
                                                <span ng-show="userForm.campus.$invalid && !userForm.campus.$pristine">Campus is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-12" ng-show="campusDetails" >

                                        <p class="white-text"><b>University Name:</b>&nbsp; {{campusDetails.universityName}}</p>
                                        <p class="white-text"><b>University Url:</b>&nbsp; {{campusDetails.universityUrl}}</p>
                                        <p class="white-text"><b>University Campus:</b>&nbsp; {{campusDetails.campusName}}</p>
                                        <p class="white-text"><b>University State:</b>&nbsp; {{campusDetails.stateName}} ( {{campusDetails.stateShortName}} )</p>
                                        <p class="white-text"><b>University Country:</b>&nbsp; {{campusDetails.countryName}}</p>


                                    </div>


                                </div>


                            </div>
                            <!-- /tile body -->


                        </section>
                        <!-- /tile -->


                    </form>


                </div>


            </div>
            <div class="col-md-4 col-md-offset-1 login-page-col-div">

                <div class="login-page-dark-div login-page-quotation add-university-help-text white-text">

                    <h4 class="white-text">What is this?</h4>

                    <p>Here you can search your University if it exists on Student 2 Student.
                    </p>
                    <br/><br/>
                    <h4 class="white-text">Search Type</h4>

                    <p>You can use University Name, State Name, Campus Name and even Country Name to search</p><br/><br/>


                </div>


            </div>

        </div>


    </div>


</div>






