<div class="page page-core page-login">

    <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">STDENT2</span>STUDENT</h3>
    </div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">

        <h2 class="text-light text-greensea">Add University</h2>


        <form name="universityCreateForm" ng-submit="submitForm(universityCreateForm.$valid)" role="form" novalidate>

            <!-- tile -->
            <section class="tile text-left" fullscreen="isFullscreen01">


                <!-- tile body -->
                <div class="tile-body">


                    <div class="row" data-ng-repeat="university in universities">


                        <div class="form-group col-md-12"
                             ng-class="{ 'has-error' : universityCreateForm.universityName.$invalid && !universityCreateForm.universityName.$pristine, 'has-success' : universityCreateForm.universityName.$valid && !universityCreateForm.universityName.$pristine}">
                            <label for="universityName">University Name: </label>
                            <input type="text" name="universityName" id="universityName" class="form-control"
                                   ng-model="university.universityName" required>

                            <p class="help-block">
                                <span ng-show="universityCreateForm.universityName.$invalid && !universityCreateForm.universityName.$pristine">University Name is required.</span>

                            </p>
                        </div>

                        <div class="form-group col-md-12"
                             ng-class="{ 'has-error' : universityCreateForm.universityUrl.$invalid && !universityCreateForm.universityUrl.$pristine, 'has-success' : universityCreateForm.universityUrl.$valid && !universityCreateForm.universityUrl.$pristine}">
                            <label for="universityUrl">University Url: </label>
                            <input type="text" name="universityUrl" id="universityUrl" class="form-control"
                                   ng-model="university.universityUrl">

                        </div>

                        <div class="form-group col-md-12"
                             ng-class="{ 'has-error' : universityCreateForm.referral.$invalid && !universityCreateForm.referral.$pristine, 'has-success' : universityCreateForm.referral.$valid && !universityCreateForm.referral.$pristine}">
                            <label for="referral">Referral: </label>
                            <select ng-model="university.referral" class="form-control mb-10" id="referral"
                                    data-ng-options="referral.id as referral.referral_name for referral in referrals">
                                <option value="">---Select Referral---</option>
                            </select>

                            <p class="help-block">
                                <span ng-show="universityCreateForm.referral.$invalid && !universityCreateForm.referral.$pristine">Referral is required.</span>

                            </p>
                        </div>


                        <div data-ng-repeat="campus in university.campuses">
                            <div class="row">
                                <div class="form-group col-md-6"
                                     ng-class="{ 'has-error' : universityCreateForm.campus.campusName.$invalid && !universityCreateForm.campus.campusName.$pristine, 'has-success' : universityCreateForm.campus.campusName.$valid && !universityCreateForm.campus.campusName.$pristine}">
                                    <label for="referral">Campus Name: </label>

                                    <input type="text" class="form-control" name="campus" id="campus"
                                           placeholder="Enter Campus Name"
                                           ng-model="campus.campusName" required>

                                    <p class="help-block">
                                        <span ng-show="universityCreateForm.campus.campusName.$invalid && !universityCreateForm.campus.referral.$pristine">Campus name is required.</span>

                                    </p>
                                </div>

                                <div class="form-group col-md-6"
                                     ng-class="{ 'has-error' : universityCreateForm.campus.country.$invalid && !universityCreateForm.campus.country.$pristine, 'has-success' : universityCreateForm.campus.country.$valid && !universityCreateForm.campus.country.$pristine}">
                                    <label for="country">Country: </label>
                                    <select id="country" ng-model="campus.country" class="form-control mb-10"
                                            ng-change="fetchStates(university,campus)"
                                            data-ng-options="country.id as country.countryName for country in countries">
                                        <option value="">---Select Country---</option>
                                    </select>

                                    <p class="help-block">
                                        <span ng-show="universityCreateForm.campus.country.$invalid && !universityCreateForm.campus.country.$pristine">Country is required.</span>

                                    </p>
                                </div>

                                <div class="form-group col-md-6"
                                     ng-class="{ 'has-error' : universityCreateForm.campus.state.$invalid && !universityCreateForm.campus.state.$pristine, 'has-success' : universityCreateForm.campus.state.$valid && !universityCreateForm.campus.state.$pristine}">
                                    <label for="state">State: </label>

                                    <select id="state" ng-model="campus.state" class="form-control mb-10"
                                            data-ng-options="state.id as state.stateName for state in campus.stateList">
                                        <option value="">---Select State---</option>
                                    </select>

                                    <p class="help-block">
                                        <span ng-show="universityCreateForm.campus.state.$invalid && !universityCreateForm.campus.state.$pristine">State is required.</span>

                                    </p>
                                </div>

                                <div class="form-group col-md-6">
                                    <button ng-if="university.campusRemove"
                                            class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10"
                                            ng-click="removeCampus(university,campus)"><i class="fa fa-trash"></i> <span>Delete Campus Row</span>
                                    </button>
                                </div>
                            </div>
                            <hr/>


                        </div>


                        <button class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10"
                                ng-click="addNewCampus(university)"><i
                                class="fa fa-plus"></i> <span>Add Campus Row</span></button>


                        <div class="tile-header dvd dvd-btm">
                            <p ng-if="university.response" class="{{university.university_message_class}}">
                                {{university.university_message}}</p>
                        </div>

                    </div>


                </div>
                <!-- /tile body -->


            </section>
            <!-- /tile -->

            <div class="bg-slategray lt wrap-reset mt-20 text-left">
                <p class="m-0">
                    <a ng-click="saveNewUniversities()" class="btn btn-greensea b-0 text-uppercase pull-right"
                       ng-disabled='userForm.$invalid'>Submit</a>
                    <a ui-sref="security.signup" class="btn btn-lightred b-0 text-uppercase">Back</a>
                </p>
            </div>
        </form>


    </div>

</div>
