<div ng-parallax pattern="'assets/images/parallax/login_parallax.png'" offset="0" speed="5" class="parallax-box dark">

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">University Map</p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-7 login-page-col-div">

                <div class="login-page-dark-div university-map-page-form">


                    <form class="addUniversityForm" name="universityCreateForm" submit-validate
                          ng-submit="saveNewUniversity(universityCreateForm.$valid)" role="form" novalidate>

                        <!-- tile -->
                        <section class="tile text-left" fullscreen="isFullscreen01">


                            <!-- tile body -->
                            <div class="tile-body">


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-class="{ 'has-error' : userForm.campus.$invalid && !userForm.campus.$pristine, 'has-success' : userForm.campus.$valid && !userForm.campus.$pristine}">
                                            <!--<label class="white-text">University: </label> &nbsp;&nbsp;&nbsp; <span>If not found then <a href="" ng-click="showCreateNewUniversity()">Create a new university!</a></span>-->
                                            <p class="white-text">Search by any University Name, Campus Name or State Name: </p> <p class="white-text">If not found then <a ui-sref="app.addUniversity">Create a new university!</a></p>

                                            <md-autocomplete required
                                                             md-input-id="input-style"

                                                             md-input-name="campus"
                                                             md-selected-item="selectedItem"
                                                             md-search-text-change="searchTextChange(searchText)"
                                                             md-search-text="searchText"
                                                             md-selected-item-change="selectedItemChange(item)"
                                                             md-items="item in querySearch(searchText)"
                                                             md-item-text="item.display"
                                                             md-min-length="0"
                                                             placeholder="Type any University/Campus?State Name">
                                                <md-item-template>

                                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found for "{{searchText}}".

                                                </md-not-found>

                                                <div ng-messages="registrationCompleteForm.autocompleteField.$error" ng-if="registrationCompleteForm.autocompleteField.$touched">
                                                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                                    <div ng-message="minlength">Your entry is not long enough.</div>
                                                    <div ng-message="maxlength">Your entry is too long.</div>
                                                </div>

                                            </md-autocomplete>
                                            <p class="help-block">
                                                <span ng-show="userForm.campus.$invalid && !userForm.campus.$pristine">Campus is required.</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-12" ng-show="campusDetails" >

                                        <p class="white-text"><b>University Name:</b>&nbsp; {{campusDetails.universityName}}</p>
                                        <p class="white-text"><b>University Url:</b>&nbsp; {{campusDetails.universityUrl}}</p>
                                        <p class="white-text"><b>University Campus:</b>&nbsp; {{campusDetails.campusName}}</p>
                                        <p class="white-text"><b>University State:</b>&nbsp; {{campusDetails.stateName}} ( {{campusDetails.stateShortName}} )</p>
                                        <p class="white-text"><b>University Country:</b>&nbsp; {{campusDetails.countryName}}</p>


                                    </div>







                                </div>


                            </div>
                            <!-- /tile body -->


                        </section>
                        <!-- /tile -->


                    </form>


                </div>


            </div>
            <div class="col-md-4 col-md-offset-1 login-page-col-div">

                <div class="login-page-dark-div login-page-quotation add-university-help-text white-text">

                    <h4 class="white-text">What is this?</h4>

                    <p>Here you can search your University if it exists on Student 2 Student.
                    </p>
                    <br/><br/>
                    <h4 class="white-text">Search Type</h4>

                    <p>You can use University Name, State Name, Campus Name and even Country Name to search</p><br/><br/>


                </div>


            </div>

        </div>


    </div>


</div>


<!--<div parallax-background  class="login-page-parallax  dark" parallax-ratio="0.3">-->


<!--</div>-->




