<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">STDENT2</span>STUDENT</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">

    <h2 class="text-light text-greensea">Sign Up</h2>


    <form name="userForm" ng-submit="submitForm(userForm.$valid)" role="form" novalidate>

        <!-- tile -->
        <section class="tile text-left" fullscreen="isFullscreen01">


            <!-- tile body -->
            <div class="tile-body">


                <div class="form-group" ng-class="{ 'has-error' : userForm.fullName.$invalid && !userForm.fullName.$pristine, 'has-success' : userForm.fullName.$valid && !userForm.fullName.$pristine}">
                    <label for="fullName">Full Name: </label>
                    <input type="text" name="fullName" id="fullName" class="form-control" ng-model="user.fullName" ng-minlength="3"  required>
                    <p class="help-block">
                        <span ng-show="userForm.fullName.$invalid && !userForm.fullName.$pristine">Full Name is required.</span>
                        <span ng-show="userForm.fullName.$error.minlength">Full Name is too short.</span>


                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' :  userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}">
                    <label for="username">Username: </label>
                    <input data-val-username type="text" name="username" id="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20" required>
                    <p class="help-block">
                        <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">Username is required.</span>
                        <span ng-show="userForm.username.$error.minlength">Username is too short.</span>
                        <span ng-show="userForm.username.$error.maxlength">Username is too long.</span>
                        <span ng-show="userForm.username.$error.valUsername">Username Already Exist.</span>
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">
                    <label for="email">Email: </label>
                    <input data-val-email type="email" name="email" id="email" class="form-control" ng-model="user.email" required>
                    <p class="help-block">
                        <span ng-show="userForm.email.$invalid && !userForm.email.$pristine">Email is required.</span>
                        <span ng-show="userForm.email.$error.valEmail">Email Already Exist.</span>
                    </p>
                </div>

                <div class="row">

                    <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-minlength="6" required>
                        <p class="help-block">
                            <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
                            <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                        </p>
                    </div>

                    <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
                        <label for="passwordConfirm">Password confirmation: </label>
                        <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required>
                        <p class="help-block">
                            <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
                        </p>
                    </div>

                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.campus.$invalid && !userForm.campus.$pristine, 'has-success' : userForm.campus.$valid && !userForm.campus.$pristine}">
                    <label>University: </label>

                    <md-autocomplete required


                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="What is your University Campus?">
                        <md-item-template>

                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found for "{{searchText}}".
                            <a ng-click="newState(searchText)">Create a new one!</a>
                        </md-not-found>

                        <div ng-messages="registrationCompleteForm.autocompleteField.$error" ng-if="registrationCompleteForm.autocompleteField.$touched">
                            <div ng-message="required">You <b>must</b> have a favorite state.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                            <div ng-message="maxlength">Your entry is too long.</div>
                        </div>

                    </md-autocomplete>
                    <p class="help-block">
                        <span ng-show="userForm.campus.$invalid && !userForm.campus.$pristine">Campus is required.</span>
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.referral.$invalid && !userForm.referral.$pristine, 'has-success' : userForm.referral.$valid && !userForm.referral.$pristine}">
                    <label for="referral">Referral: </label>
                    <!--<input type="text" name="referral" id="referral" class="form-control" ng-model="user.referral" required>-->
                    <select id="referral"  ng-model="user.referral"  class="form-control mb-10"
                             data-ng-options="referral.id as referral.referral_name for referral in referrals" required>
                        <option value="">---Select State---</option>
                    </select>
                    <p class="help-block">
                        <span ng-show="userForm.referral.$invalid && !userForm.referral.$pristine">Referral is required.</span>
                        <!--<span ng-show="userForm.username.$error.minlength">Username is too short.</span>
                        <span ng-show="userForm.username.$error.maxlength">Username is too long.</span>-->
                    </p>
                </div>



               <!-- <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine, 'has-success' : userForm.phone.$valid && !userForm.phone.$pristine}">
                    <label for="phone">Phone: </label>
                    <input type="text" name="phone" id="phone" class="form-control" ng-model="user.phone" placeholder="(XXX) XXXX XXX" ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/">
                    <p class="help-block">
                        <span ng-show="userForm.phone.$invalid && !userForm.phone.$pristine">Phone in bad format.</span>
                    </p>
                </div>-->

                <div class="checkbox" ng-class="{ 'has-error' : userForm.agree.$invalid && !userForm.agree.$pristine, 'has-success' : userForm.agree.$valid && !userForm.agree.$pristine}">
                    <label class="checkbox checkbox-custom">
                        <input type="checkbox" name="agree" id="agree" ng-model="user.agree" required><i></i> I agree to the <a href class="text-info">Terms of Service</a>
                    </label>
                    <p class="help-block">
                        <span ng-show="userForm.agree.$invalid && !userForm.agree.$pristine">You must accept Terms of Service.</span>
                    </p>
                </div>


            </div>
            <!-- /tile body -->


            <!-- tile footer -->
            <!--<div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                &lt;!&ndash; SUBMIT BUTTON &ndash;&gt;
                <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Submit</button>
            </div>-->
            <!-- /tile footer -->

        </section>
        <!-- /tile -->

        <div class="bg-slategray lt wrap-reset mt-20 text-left">
            <p class="m-0">
                <a ng-click="register()"  class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='userForm.$invalid'>Submit</a>
                <a ui-sref="security.login" class="btn btn-lightred b-0 text-uppercase">Back</a>
            </p>
        </div>
    </form>


  </div>

</div>
