<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title"><text class="uppercase blue-text lato">List of deals</text><text class="uppercase orange-text lato"> I have contacts for</text></h1>

            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


<div class="content-wrap mid-section">


<!--SELLER TO BUYER-->
<div class="selling-book-promise-div" cg-busy="{promise:sellingBookPromise,templateUrl:'views/template/search_result_loading_template.html'}">

<div class="section m-0 pt-0 archive-page-sections" ng-show="!resultFound">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="lato px-25 orange-text">You have no active textbook deals yet. You can start selling your textbooks within seconds  <a ui-sref="app.sellBook">here</a> or buy textbooks <a ui-sref="app.bookBuy">here</a></p>
            </div>
        </div>
    </div>
</div>

<div class="section m-0 pt-0 archive-page-sections" data-ng-repeat="deal in campusBookDeals">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-3">
                <div class="search-book-image-carousel selling-book-image-carousel">
                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">

                        <uib-slide ng-repeat="slide in deal.bookImages" active="slide.active">
                            <img  ng-click="viewImage($event,book.bookTitle)" data-options="splash-2 splash-primary splash-ef-2"
                                  class="big-images" ng-src="{{imageHostPath}}{{slide.image}}" style="margin:auto;">

                        </uib-slide>
                    </uib-carousel>
                    <div class="btn-group" ng-show="deal.showThumb">
                        <div class="text-center">
                        <span><a class="thumb-control-left" ng-click="prevPage(deal)"><i class="fa fa-angle-left fa-3x"></i></a></span>

                                    <span class="search-thumb-image"
                                          ng-repeat="thumb in deal.showThumbnails"
                                          ng-class="{true:'active',false:'not-active'}[thumb.active]">
                                        <img ng-src="{{imageHostPath}}{{thumb.image}}" ng-click="setActive(deal,thumb.imageId)"/>
                                    </span>

                        <span><a class="thumb-control-right" ng-click="nextPage(deal)"><i
                                class="fa fa-angle-right fa-3x"></i></a></span>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <div class="archive-page-headers">
                            <h3 class="book-title orange-text lato uppercase">{{deal.bookTitle}}</h3>
                            <h4 class="book-sub-title blue-text lato">{{deal.bookSubTitle}}</h4>
                            <p class="book-description grey-text">By <text class="blue-text">{{deal.bookDirectorAuthorArtist}}</text> :: Published by {{deal.bookPublisher}} {{deal.bookPublishDate}} :: ({{deal.bookBinding}})
                                <br/>ISBN: <text class="blue-text">{{deal.bookIsbn}}</text>&nbsp;&nbsp;&nbsp;&nbsp;ISBN-13: <text class="blue-text">{{deal.bookIsbn13}}</text></p>
                        </div>
                        <div class="archive-page-deal-information">
                            <div ng-show="!deal.viewMoreInfo" class="view-more-info-btn-div">
                                <button ng-click="deal.viewMoreInfo=true" class="view-more-info-btn myBtn app-btn blue-btn">View More Information</button>
                            </div>
                            <div ng-show="deal.viewMoreInfo">
                                <text class="box-title uppercase orange-text lato"><strong>Deal Information</strong></text>
                                <div class="deal-information-box">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p><text class="blue-text"><strong>Contact Method</strong></text>
                                                <text class="grey-text" ng-if="deal.bookContactMethod=='sellerToBuyer'"> : Seller Contact You (Buyer)</text>
                                                <text class="grey-text" ng-if="deal.bookContactMethod=='buyerToSeller'"> : You (Buyer) Contact Seller</text>
                                                <text class="grey-text" ng-if="deal.bookContactMethod=='student2studentBoard'"> : Use Student2Student Message Board</text>
                                                <br/></p>




                                            <p ng-if="deal.bookContactMethod=='buyerToSeller'">
                                                <text class="icons"><i class="fa fa-envelope-o 2x"></i></text>
                                                <text><strong>{{deal.sellerEmail}}</strong></text>
                                                <br/>
                                            </p>

                                            <p ng-if="deal.bookContactMethod=='buyerToSeller'">
                                                <text class="icons"><i class="fa fa-phone 2x"></i></text>
                                                <text ng-show="deal.sellerCellNumber!=null"><strong>{{deal.sellerCellNumber}}</strong></text>
                                                <text ng-show="deal.sellerCellNumber==null"><strong>Not Provided by Seller</strong></text>
                                                <br/></p>
                                            <p ng-if="deal.bookContactMethod=='buyerToSeller'">
                                                <text class="icons"><i class="fa fa-phone 2x"></i></text>
                                                <text ng-show="deal.sellerHomeNumber!=null"><strong>{{deal.sellerHomeNumber}}</strong></text>
                                                <text ng-show="deal.sellerHomeNumber==null"><strong>Not Provided by Seller</strong></text>
                                                <br/></p>




                                            <p><text class="blue-text"><strong>Comment</strong></text>
                                                <text ng-show="deal.bookComment!=undefined" class="grey-text"> : {{deal.bookComment}}</text>
                                                <text ng-show="deal.bookComment==undefined" class="grey-text"> : No Comments</text>
                                                <br/></p>
                                        </div>
                                        <div class="col-md-5">
                                            <p><text class="blue-text"><strong>Payment</strong></text> <text class="grey-text"> :

                                                <text ng-show="deal.bookPaymentMethodCaShOnExchange && !deal.bookPaymentMethodCheque">
                                                    Cash
                                                </text>
                                                <text ng-show="!deal.bookPaymentMethodCaShOnExchange && deal.bookPaymentMethodCheque">
                                                    Cheque
                                                </text>
                                                <text ng-show="deal.bookPaymentMethodCaShOnExchange && deal.bookPaymentMethodCheque">
                                                    Cash, Cheque
                                                </text>

                                            </text><br/></p>
                                            <p><text class="blue-text"><strong>Available Date</strong></text> <text class="grey-text"> : {{deal.bookAvailableDate}}</text><br/></p>
                                            <p><text class="blue-text"><strong>Available To Public</strong></text> <text class="grey-text"> : {{deal.bookIsAvailablePublic}}</text><br/></p>
                                            <p><text class="blue-text"><strong>Textbook Has Notes</strong></text> <text class="grey-text"> : {{deal.bookHasNotes}}</text><br/></p>
                                            <p><text class="blue-text"><strong>Textbook Is Highlighted</strong></text> <text class="grey-text"> : {{deal.bookIsHighlighted}}</text><br/></p>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="archive-page-side">
                            <h1 class="orange-text open-sans price-header">${{deal.bookPriceSell}} </h1>

                            <!--<div class="buttons">
                                <button class="myBtn app-btn orange-btn"><img src="./dist/images/archive_pages/list.png"/> &nbsp; Edit Deal</button>
                                <button class="myBtn app-btn orange-btn"><img src="./dist/images/archive_pages/lock.png"/> &nbsp; Deactivate</button>
                                <button class="myBtn app-btn orange-btn"><img src="./dist/images/archive_pages/del.png"/> &nbsp; Delete</button>
                            </div>-->


                        </div>
                    </div>
                </div>




            </div>


        </div>
        <div class="row" ng-show="deal.viewMoreInfo">
            <div class="col-md-12">
                <div class="archive-page-contact-history">
                    <text class="box-title uppercase orange-text lato"><strong>Contact history - </strong></text>
                    <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='sellerToBuyer'"><strong> Seller Contact You (Buyer) <text uib-tooltip="You as Buyer will not receiving any of Seller's information. Seller will contact buyer" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></strong></text>
                    <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='buyerToSeller'"><strong> You (Buyer) Contact Seller <text uib-tooltip="You as Buyer will receive Seller information and will contact Seller. Buyer can also provide information to the seller." class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></strong></text>
                    <text class="box-title uppercase blue-text lato" ng-if="deal.bookContactMethod=='student2studentBoard'"><strong> Use Student2Student Message Board <text uib-tooltip="You can chat with the buyer on Student2Student Message Board." class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></strong></text>
                    <div class="contact-history-box">
                        <table class="table contact-history-table" cg-busy="{promise:messagePromise}">
                            <thead>
                            <tr>
                                <th style="width: 20%;">Date</th>
                                <th style="width: 20%;">Seller Nickname</th>
                                <!--<th style="width: 15%;">Email</th>-->
                                <!--<th style="width: 13%;">CellPhone</th>-->
                                <!--<th style="width: 13%;">HomePhone</th>-->
                                <th style="width: 60%;">Action</th>
                            </tr>
                            </thead>

                            <tbody data-ng-repeat="contact in deal.contacts">
                            <tr>
                                <td>{{contact.contactDateTime}}</td>
                                <td>{{deal.sellerUsername}}</td>
                                <!--<td>{{contact.buyerEmail}}</td>-->
                                <!--<td>{{contact.buyerCellPhone}}</td>-->
                                <!--<td>{{contact.buyerHomePhone}}</td>-->
                                <td>

                                    <text ng-show="!contact.showingMessages"><button  ng-click="getMessages(contact)" class="myBtn app-btn orange-btn contact-btn"><i class="fa fa-envelope-o"></i> Messages</button><br/></text>
                                    <text ng-show="contact.showingMessages"><button  ng-click="contact.showingMessages=false" class="myBtn app-btn green-btn contact-btn"><i class="fa fa-envelope-o"></i> Messages</button><br/></text>
                                    <button  ng-show="!contact.sendingMessages" ng-click="contact.sendingMessages=true" class="myBtn app-btn  orange-btn contact-btn"><i class="fa fa-paper-plane"></i> Send Messages</button><br/>
                                    <!--<button ng-show="!contact.showingMessages" ng-click="getMessages(contact)" class="myBtn app-btn orange-btn contact-btn">See Messages</button>
                                    <button ng-show="contact.showingMessages" ng-click="contact.showingMessages=false" class="myBtn app-btn orange-btn contact-btn">Hide Messages</button>
                                    <button  ng-show="!contact.sendingMessages" ng-click="contact.sendingMessages=true" class="myBtn app-btn orange-btn contact-btn">Send Messages</button>-->

                                </td>
                            </tr>


                            <tr ng-show="contact.showingMessages" class="message-header-tr">
                                <th>Date</th>
                                <th>Nickname</th>
                                <th>Message</th>
                            </tr>

                            <tr ng-show="contact.showingMessages" class="message-header-tr" data-ng-repeat="message in contact.messages">
                                <td class="italic">{{message.messageDateTime}}</td>
                                <td class="italic">{{message.sender}}</td>
                                <td class="italic">{{message.messageBody}}</td>
                            </tr>

                            <tr ng-show="contact.sendingMessages">

                                <td colspan="3" ng-class="{ 'has-error' : messageForm.message.$invalid && !messageForm.message.$pristine, 'has-success' : messageForm.message.$valid && !contactForm.message.$pristine}">

                                    <form  name="messageForm" class="form-horizontal" submit-validate ng-submit="sendMessage(messageForm.$valid,contact,deal,messageForm)" role="form" novalidate>



                                        <textarea name="message" class="form-control" placeholder="Write Your Message" ng-model="contact.message" required></textarea>

                                        <p class="help-block">
                                            <span  ng-show="messageForm.message.$invalid && !messageForm.message.$pristine">Message is required.</span>
                                        </p>



                                        <button type="submit" class="myBtn app-btn orange-btn contact-btn"><i class="fa fa-paper-plane"></i> SEND</button>
                                        <button type="button" ng-click="contact.sendingMessages=false" class="myBtn app-btn orange-btn contact-btn"><i class="fa fa-times"></i> Cancel</button>

                                    </form>

                                </td>
                            </tr>

                            </tbody>



                        </table>

                    </div>
                </div>
                <div><button ng-click="deal.viewMoreInfo=false" class="myBtn back-button"><img src="./dist/images/archive_pages/back.png"> &nbsp;&nbsp;&nbsp;Close</button></div>

            </div>
        </div>

    </div>
</div>









<div class="section custom-pagination-section" ng-show="showPagination">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                ng-change="changePage(currentPage)" class="search-page-pagination"
                                boundary-links="true"
                                rotate="false" num-pages="numPages"></uib-pagination>

            </div>
        </div>
    </div>
</div>

</div>

</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">
    <!-- <div class="modal-header">
         <h3 class="modal-title custom-font white-text">{{title}}</h3>
     </div>-->
    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>

<script type="text/ng-template" id="sellingModalContent">
     <div class="modal-header">
         <h3 class="modal-title custom-font white-text">You want to Sell Book to "{{src.contact.buyerNickName}}"?</h3>
     </div>
    <div class="modal-body">

        <p>You Sure you want to sell this book to this user ?</p>
        <p>Once Sold You can see the book on the Selling Archive Page</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(markUserAsBuyerOfThatDeal,src)" >
            <i class="fa fa-check" ></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>
