<div class="sell-book-page-head-banner">
    <div class="container clearfix">


        <div class="row search-banner-row sell-main-page-banner-row">

            <div class="col-md-12">


                <p class="text-white mid-two-header search-page-big-text">sell your <text class="tiya-text">textbooks</text></p>
                <p class="text-white white-text lato sub-title-p">Don't waste time ... Sell your textbooks to other students on-campus</p>
            </div>


            <div class="col-md-12 text-center">
                <div class="middle-part">
                    <img data-ng-src="dist/images/sell_book/barcode.png"/><text class="white-text lato uppercase barcode-text">ISBN</text>

                </div>

            </div>


            <div class="col-md-offset-2 col-md-8">
                <div class="search-banner-input-col sell-book-form">
                    <div cg-busy="{promise:bookSearchMainPromise}" class="search-page-input-div">
                        <form name="bookSearchForm" submit-validate ng-submit="searchByIsbn(bookSearchForm.$valid)" role="form"
                              novalidate>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
                                <input  required name="searchText" id="searchText" ng-model="isbn"
                                        type="text" class="form-control search-page-input"
                                        placeholder="Enter your ISBN">

                           <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  Sell
                              </button>
                           </span>


                            </div>
                            <p class="help-block">
                        <span class="orange-text"
                              ng-show="bookSearchForm.searchText.$invalid && !bookSearchForm.searchText.$pristine">This Field is required.</span>

                            </p>

                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>

        </div>



    </div>


</div>


