<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title"><text class="uppercase blue-text lato">My </text><text class="uppercase orange-text lato"> Wishlist</text></h1>

            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


<div class="content-wrap mid-section">


<!--SELLER TO BUYER-->
    <div class="selling-book-promise-div" cg-busy="{promise:sellingBookPromise,templateUrl:'views/template/search_result_loading_template.html'}">
<div class="section m-0 pt-0 archive-page-sections" data-ng-repeat="deal in wishListBooks">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-3">
                <div class="search-book-image-carousel">
                    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">

                        <uib-slide ng-repeat="slide in deal.bookImages" active="slide.active">
                            <img  ng-click="viewImage($event,book.bookTitle)" data-options="splash-2 splash-primary splash-ef-2"
                                  class="big-images" ng-src="{{imageHostPath}}{{slide.image}}" style="margin:auto;">

                        </uib-slide>
                    </uib-carousel>
                    <div class="btn-group" ng-show="deal.showThumb">
                        <span><a class="thumb-control-left" ng-click="prevPage(deal)"><i class="fa fa-angle-left fa-3x"></i></a></span>

                                    <span class="search-thumb-image"
                                          ng-repeat="thumb in deal.showThumbnails"
                                          ng-class="{true:'active',false:'not-active'}[thumb.active]">
                                        <img ng-src="{{imageHostPath}}{{thumb.image}}" ng-click="setActive(deal,thumb.imageId)"/>
                                    </span>

                        <span><a class="thumb-control-right" ng-click="nextPage(deal)"><i
                                class="fa fa-angle-right fa-3x"></i></a></span>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <div class="archive-page-headers">
                            <h3 class="book-title orange-text lato uppercase"><a class="orange-link" ui-sref="app.bookComparePrice({asin:deal.bookIsbn10,isbn:deal.bookIsbn10})">{{deal.bookTitle}}</a></h3>
                            <h4 class="book-sub-title blue-text lato">{{deal.bookSubTitle}}</h4>
                            <p class="book-description grey-text">By <text class="blue-text">{{deal.bookDirectorAuthorArtist}}</text> :: Published by {{deal.bookPublisher}} {{deal.bookPublishDate}} :: ({{deal.bookBinding}})
                                ISBN-10: <text class="blue-text">{{deal.bookIsbn10}}</text> :: ISBN-13: <text class="blue-text">{{deal.bookIsbn13}}</text></p>
                        </div>
                        <div class="archive-page-deal-information">
                            <div ng-show="!deal.viewMoreInfo" class="view-more-info-btn-div">
                                <button ng-click="deal.viewMoreInfo=true" class="view-more-info-btn myBtn app-btn blue-btn">View More Information</button>
                            </div>
                            <div ng-show="deal.viewMoreInfo">
                                <text class="box-title uppercase orange-text lato"><strong>Book Details</strong></text>
                                <div class="deal-information-box">
                                    <div class="row">
                                        <div class="col-md-12">

                                                <text class="grey-text"> {{deal.bookDescription}}</text><br/></p>


                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="archive-page-side">
                            <h1 class="orange-text open-sans price-header">{{deal.bookAmazonPrice}} </h1>

                            <div class="buttons">

                                <button data-options="splash-2 splash-primary splash-ef-2" ng-click="showDeleteModal($event,'deleteModalContent',{book:deal})" class="myBtn app-btn orange-btn"><img src="./dist/images/archive_pages/del.png"/> &nbsp; Delete</button>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row" ng-show="deal.viewMoreInfo">
                    <div class="col-md-12">

                        <div><button ng-click="deal.viewMoreInfo=false" class="myBtn back-button"><img src="./dist/images/archive_pages/back.png"> &nbsp;&nbsp;&nbsp;Close</button></div>

                    </div>
                </div>


            </div>


        </div>

    </div>
</div>

        <div class="section custom-pagination-section" ng-show="showPagination">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                        ng-change="changePage(currentPage)" class="search-page-pagination"
                                        boundary-links="true"
                                        rotate="false" num-pages="numPages"></uib-pagination>

                    </div>
                </div>
            </div>
        </div>

    </div>








<!--BUYER TO SELLER-->




</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">
    <!-- <div class="modal-header">
         <h3 class="modal-title custom-font white-text">{{title}}</h3>
     </div>-->
    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>

<script type="text/ng-template" id="deleteModalContent">
     <div class="modal-header">
         <h3 class="modal-title custom-font white-text">Delete this book from WishList?</h3>
     </div>
    <div class="modal-body">

        <p>You Sure you want to sell this book from WishList?</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(deleteBookFromWishList,src)" >
            <i class="fa fa-check" ></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>
