
        <div class="row">
            <form name="userForm" submit-validate ng-submit="addUser(userForm.$valid)" role="form" novalidate>
            <div class="col-md-6 reg-page-col-div">

                <div >



                    <!-- tile -->
                    <section class="tile text-left" fullscreen="isFullscreen01">


                        <!-- tile body -->
                        <div class="tile-body">


                            <div class="form-group" ng-class="{ 'has-error' : userForm.fullName.$invalid && !userForm.fullName.$pristine, 'has-success' : userForm.fullName.$valid && !userForm.fullName.$pristine}">

                                <p class="" for="fullName">Full Name: </p>
                                <input type="text" name="fullName" id="fullName" class="form-control " ng-model="user.fullName" ng-minlength="3"  required>
                                <p class="help-block">
                                    <span ng-show="userForm.fullName.$invalid && !userForm.fullName.$pristine">Full Name is required.</span>
                                    <span ng-show="userForm.fullName.$error.minlength">Full Name is too short.</span>


                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}">

                                <p class="" for="fullName">Username: </p>
                                <input data-val-username type="text" name="username" id="username" class="form-control " ng-model="user.username" ng-minlength="3" ng-maxlength="20" required>
                                <p class="help-block">
                                    <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">Username is required.</span>
                                    <span ng-show="userForm.username.$error.minlength">Username is too short.</span>
                                    <span ng-show="userForm.username.$error.maxlength">Username is too long.</span>
                                    <span ng-show="userForm.username.$error.valUsername">Username Already Exist.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">

                                <p class="" for="fullName">Email: </p>
                                <input data-val-email type="email" name="email" id="email" class="form-control " ng-model="user.email" required>
                                <p class="help-block">
                                    <span ng-show="userForm.email.$invalid && !userForm.email.$pristine">Email is required.</span>
                                    <span ng-show="userForm.email.$error.valEmail">Email Already Exist.</span>
                                </p>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">

                                    <p class="" for="fullName">Password: </p>
                                    <input type="password" name="password" id="password" class="form-control " ng-model="user.password" ng-minlength="6" required>
                                    <p class="help-block">
                                        <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
                                        <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                                    </p>
                                </div>

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">

                                    <p class="" for="fullName">Password Confirmation: </p>
                                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control " ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required>
                                    <p class="help-block">
                                        <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
                                    </p>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="myBtn app-btn buy-now-button "><i class="fa fa-check"></i>&nbsp;Add New Admin User</button>
                                </div>
                                <div class="col-md-6">
                                    <a ui-sref="app.userList" class="myBtn app-btn buy-now-button "><i class="fa fa-times"></i>&nbsp;Cancel</a>
                                </div>
                            </div>


                        </div>


                    </section>

                </div>




            </div>

            </form>
        </div>

