<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title hidden-xs"><text class="uppercase blue-text lato">User</text><text class="uppercase orange-text lato"> Management</text></h1>
                <h1 class="header-title visible-xs"><text class="uppercase blue-text lato">User</text><text class="uppercase orange-text lato"> Manage.</text></h1>

            </div>
        </div>
    </div>
</div>



<section class="compare-page" id="content">


<div class="content-wrap mid-section">




<div class="section m-0 pt-0 mid-one compare-result-section user-management-sections">
<div class="container clearfix quote-container-homepage">
<div class="row">

<div class="col-md-12">

<uib-tabset justified="true" type="pills">
    <uib-tab class="first-tab">
    <uib-tab-heading>
        <div class="people-icon-div"></div>
        <text>Pending Users</text>
    </uib-tab-heading>
    <div cg-busy="{promise:userPromise}">


        <div class="button-panel">
            <button ng-click="approveSelectedUsers()" class="myBtn app-btn buy-now-button "><i class="fa fa-check"></i>&nbsp;Approve Checked Users</button>

        </div>



        <div class="table-responsive">
            <table ng-table="tableParams" class="table table-striped campus-result-table ">

                <form name="userEditForm" submit-validate >

                    <tr ng-repeat="user in $data" ng-form="editRowForm">
                        <td  style="text-align: left;width: 4%;" header="'ng-table/headers/checkbox.html'">
                            <label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-click="addOrRemoveSelectedUsers(user)" ng-model="checkboxes.items[user.userId]"><i></i></label>
                        </td>
                        <td data-title="'Picture'" style="width: 15%;"  >
                            <div class="profile-image"><img ng-src="{{imageHostPath}}{{user.profilePicture}}"/></div>
                        </td>
                        <td data-title="'Username'" style="width: 15%;"  sortable="'username'" filter="{ 'username': 'text' }">
                            <span ng-if="!user.$edit">{{user.username}}</span>


                            <div ng-if="user.$edit"
                                 ng-class="{ 'has-error' : editRowForm.username.$invalid && !editRowForm.username.$pristine, 'has-success' : editRowForm.username.$valid && !editRowForm.username.$pristine}">
                                <input name="username" class="input-sm form-control" type="text"
                                       required
                                       ng-model="user.username"/>
                                <p class="help-block">
                                    <span ng-show="editRowForm.username.$invalid && !editRowForm.username.$pristine">Username is required.</span>
                                </p>
                            </div>

                        </td>
                        <td data-title="'Full Name'" style="width: 12%;" filter="{ 'fullName': 'text' }">
                            <span>{{user.fullName}}</span>
                        </td>
                        <td data-title="'Email'" style="width: 8%;" filter="{ 'email': 'text' }">
                            <span>{{user.email}}</span>
                        </td>
                        <td data-title="'Type'" style="width: 8%;" filter="{'userType': 'select'}" filter-data="userType">
                            <span>{{user.userType}}</span>
                        </td>
                        <td data-title="'Date'" style="width: 10%;" sortable="'registrationDateTime'">
                            <span>{{user.registrationDateTime}}</span>
                        </td>
                        <td data-title="'Verified'" style="width: 13%;" filter="{'enabled': 'select'}" filter-data="verifiedStatus">
                            <span ng-if="!user.$edit && user.enabled">Yes</span>
                            <span ng-if="!user.$edit && !user.enabled">No</span>

                            <div ng-if="user.$edit">
                                <select ng-model="user.enabled" class="form-control mb-10">
                                    <option ng-selected="user.enabled==true"
                                            value="true">Activated
                                    </option>
                                    <option ng-selected="user.enabled==false"
                                            value="false">Deactivated
                                    </option>
                                </select>
                            </div>

                        </td>
                        <td data-title="'Actions'" style="width: 15%">
                            <a ng-if="!user.$edit" href="" ng-click="editRow(user)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit</a>
                            <a ng-if="!user.$edit" target="_blank" ui-sref="app.mySellPage({username:user.username})" class="text-success text-uppercase text-strong text-sm mr-10">Sell Page</a>
                            <a ng-if="user.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,user)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save & Approve</a>
                            <a ng-if="user.$edit" href="" ng-click="cancelEditRow(user)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel</a>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

        <script type="text/ng-template" id="ng-table/headers/checkbox.html">
            <label class="checkbox checkbox-custom-alt"><input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""><i></i></label>
        </script>



    </div>
</uib-tab>
    <uib-tab class="mid-tab">
    <uib-tab-heading>
        <div class="book-close-icon-div"></div>
        <text>Approved Users</text>
    </uib-tab-heading>
    <div cg-busy="{promise:userPromise}">

        <div class="table-responsive">
        <table ng-table="approvedTableParams" class="table table-striped campus-result-table ">

            <form name="userEditForm" submit-validate >

                <tr ng-repeat="user in $data" ng-form="editRowForm">

                    <td data-title="'Picture'" width="200"  >
                        <div class="profile-image"><img ng-src="{{imageHostPath}}{{user.profilePicture}}"/></div>
                    </td>
                    <td data-title="'Username'" width="200"  sortable="'username'" filter="{ 'username': 'text' }">
                        <span>{{user.username}}</span>

                    </td>
                    <td data-title="'Full Name'" width="200" filter="{ 'fullName': 'text' }">
                        <span>{{user.fullName}}</span>
                    </td>
                    <td data-title="'Email'" width="200" filter="{ 'email': 'text' }">
                        <span>{{user.email}}</span>
                    </td>
                    <td data-title="'Type'" filter="{'userType': 'select'}" filter-data="userType">
                        <span>{{user.userType}}</span>
                    </td>
                    <td data-title="'University'" width="200" filter="{ 'universityName': 'text' }">
                        <span>{{user.universityName}}</span>
                    </td>
                    <td data-title="'Campus'" width="200" filter="{ 'campusName': 'text' }">
                        <span>{{user.campusName}}</span>
                    </td>
                    <td data-title="'Status'" width="200" filter="{ 'enabled': 'select' }" filter-data="activationStatus">
                        <div ng-if="!user.$edit">
                            <span ng-if="user.enabled">Activated</span>
                            <span ng-if="!user.enabled">Deactivated</span>

                        </div>

                        <div ng-if="user.$edit">
                            <select ng-model="user.enabled" class="form-control mb-10">
                                <option ng-selected="user.enabled==true"
                                        value="true">Activated
                                </option>
                                <option ng-selected="user.enabled==false"
                                        value="false">Deactivated
                                </option>
                            </select>
                        </div>

                    </td>
                    <td data-title="'Date'" style="width: 10%;" sortable="'registrationDateTime'">
                        <span>{{user.registrationDateTime}}</span>
                    </td>


                    <td data-title="'Actions'" width="200">
                        <a ng-if="!user.$edit" href="" ng-click="editRow(user)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit</a>
                        <a ng-if="!user.$edit" target="_blank" ui-sref="app.mySellPage({username:user.username})"  class="text-success text-uppercase text-strong text-sm mr-10">Sell Page</a>
                        <a ng-if="user.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,user)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save</a>
                        <a ng-if="user.$edit" href="" ng-click="cancelEditRow(user)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel</a>
                    </td>
                </tr>
            </form>
        </table>
            </div>
    </div>
</uib-tab>
    <uib-tab class="last-tab">
        <uib-tab-heading>
            <div class="book-open-icon-div"></div>
            <text>Admin Users</text>
        </uib-tab-heading>
        <div cg-busy="{promise:userPromise}">

            <div class="button-panel">
                <a ui-sref="app.userList.addUser" class="myBtn app-btn buy-now-button "><i class="fa fa-plus"></i>&nbsp;Add Admin User</a>

            </div>

            <div ui-view="addUserView" ></div>
            <div class="table-responsive">
            <table ng-table="adminTableParams" class="table table-striped campus-result-table ">

                <form name="userEditForm" submit-validate >

                    <tr ng-repeat="user in $data" ng-form="editRowForm">
                        <td data-title="'Picture'" width="200"  >
                            <div class="profile-image"><img ng-src="{{imageHostPath}}{{user.profilePicture}}"/></div>
                        </td>
                        <td data-title="'Username'" width="200"  sortable="'username'" filter="{ 'username': 'text' }">
                            <span>{{user.username}}</span>

                        </td>
                        <td data-title="'Full Name'" width="200">
                            <span>{{user.fullName}}</span>
                        </td>
                        <td data-title="'Email'" width="200" filter="{ 'email': 'text' }">
                            <span>{{user.email}}</span>
                        </td>

                        <td data-title="'Status'" width="200">
                            <div ng-if="!user.$edit">
                                <span ng-if="user.enabled">Activated</span>
                                <span ng-if="!user.enabled">Deactivated</span>

                            </div>

                            <div ng-if="user.$edit">
                                <select ng-model="user.enabled" class="form-control mb-10">
                                    <option ng-selected="user.enabled==true"
                                            value="true">Activated
                                    </option>
                                    <option ng-selected="user.enabled==false"
                                            value="false">Deactivated
                                    </option>
                                </select>
                            </div>

                        </td>

                        <td data-title="'Actions'" width="200">
                            <a ng-if="!user.$edit" href="" ng-click="editRow(user)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit</a>
                            <a ng-if="user.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,user)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save</a>
                            <a ng-if="user.$edit" href="" ng-click="cancelEditRow(user)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel</a>
                        </td>
                    </tr>
                </form>
            </table>
                </div>
        </div>
    </uib-tab>

</uib-tabset>
</div>

</div>

</div>
</div>


</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">

    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>
