<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title">
                    <text class="uppercase blue-text lato">User</text>
                    <text class="uppercase orange-text lato"> Log</text>
                </h1>


            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one compare-result-section user-management-sections">
            <div class="container clearfix quote-container-homepage">
                <div class="row">

                    <div class="col-md-12">


                        <div cg-busy="{promise:logPromise}" class="table-responsive">
                            <table ng-table="tableParams" class="table table-striped campus-result-table ">


                                <tr ng-repeat="log in $data" >


                                    <td data-title="'Username'" width="100" filter="{ 'username': 'text' }">
                                        <span>{{log.username}}</span>
                                    </td>
                                    <td data-title="'Log Type'" width="100" filter="{'logType': 'select'}" filter-data="logTypes">
                                        <span>{{log.logType}}</span>
                                    </td>
                                    <td data-title="'Log Date Time'" width="100" sortable="'logDateTime'">
                                        <span>{{log.logDateTime}}</span>
                                    </td>
                                    <td data-title="'Log User Type'" width="100" filter="{'logUserType': 'select'}" filter-data="logUserTypes">
                                        <span>{{log.logUserType}}</span>
                                    </td>
                                    <td data-title="'IP Address'" width="100" >
                                        <span>{{log.userIpAddress}}</span>
                                    </td>
                                    <td data-title="'Log'" width="200" >
                                        <span>{{log.logDescription}}</span>
                                    </td>

                                </tr>

                            </table>
                        </div>


                    </div>

                </div>

            </div>
        </div>


    </div>
    </div>

</section>

