<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Student</span>2Student</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">


    <h2 class="text-light text-greensea">Log In</h2>

    <form name="form" class="form-validation mt-20" novalidate>

        <div class="form-group">

            <span class="text text-danger">{{credential_error}}</span>
        </div>
      <div class="form-group">

        <input type="text" class="form-control underline-input" placeholder="Username / Email" ng-model="user._username" required>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input" ng-model="user._password" required>
      </div>

      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="login()" ng-disabled='form.$invalid'>Login</button>
        <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
          <input type="checkbox"><i></i> Remember me
        </label>
        <a ui-sref="security.forgotpassword" class="pull-right mt-10">Forgot Password?</a>
      </div>

    </form>

    <hr class="b-3x"/>

    <div class="social-login text-left">

      <ul class="pull-right list-unstyled list-inline">
				<li class="p-0">
					<a ng-click="loginViaFacebook()" class="btn btn-sm btn-primary b-0 btn-rounded-20" href="javascript:;"><i class="fa fa-facebook"></i></a>
				</li>

				<li class="p-0">
					<a ng-click="loginViaGoogle()" class="btn btn-sm btn-lightred b-0 btn-rounded-20" href="javascript:;"><i class="fa fa-google-plus"></i></a>
				</li>
          <!--<li class="p-0">
              <a ng-click="trying_google()" class="btn btn-sm btn-lightred b-0 btn-rounded-20" href="javascript:;"><i class="fa fa-google-plus"></i></a>
          </li>-->

			</ul>

			<h5>Or login with</h5>

		</div>

    <div class="bg-slategray lt wrap-reset mt-40">
      <p class="m-0">
				<a ui-sref="security.signup" class="text-uppercase">Create an account</a>
			</p>
    </div>

  </div>

</div>
