<div ng-parallax pattern="'assets/images/parallax/login_parallax.png'" offset="0"  speed="5"  class="parallax-box dark" >

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">Reset Password</p>


            </div>



        </div>
        <div class="row ">
            <div class="col-md-6 col-centered login-page-col-div">

                <div cg-busy="{promise:resetPromise}" class="forgot-password-page-dark-div login-page-form">

                    <div class="row" ng-show="!resetLinkAlive">
                        <div class="col-md-12">
                            <p class="text-danger lato px-25">The Reset my Password link has already been used or has expired. Please reset your password again <a ui-sref="app.forgotPassword">here</a></p>
                        </div>
                    </div>

                    <form ng-show="resetLinkAlive" name="userForm" submit-validate ng-submit="resetPassword(userForm.$valid)" role="form" novalidate>


                        <section class="tile text-left" fullscreen="isFullscreen01">



                            <div class="tile-body">




                                <div class="row">

                                    <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
                                        <p class="white-text" for="password">Password: <text uib-tooltip="Password must be minimum length of 6 characters" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                        <input type="password" name="password" id="password" class="form-control input-style" ng-model="user.password" ng-minlength="6" required>
                                        <p class="help-block">
                                            <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
                                            <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
                                        <p class="white-text" for="passwordConfirm">Password confirmation: </p>

                                        <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control input-style" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required>
                                        <p class="help-block">
                                            <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
                                        </p>
                                    </div>

                                </div>




                            </div>


                        </section>


                        <div class="form-group text-left mt-20">
                            <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Set New Password</button>

                        </div>


                    </form>



                </div>


            </div>


        </div>


    </div>


</div>


