<div ng-parallax pattern="'dist/images/parallax/login_parallax.jpg'" offset="0"  speed="5"  class="parallax-box dark" >

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">Join</p>

            </div>

        </div>
        <div cg-busy="{promise:signupPromise}" class="row reg-page-dark-div">
            <form name="userForm" submit-validate ng-submit="register(userForm.$valid)" role="form" novalidate>
            <div class="col-md-6 reg-page-col-div">

                <div class="reg-page-form">



                    <!-- tile -->
                    <section class="tile text-left" fullscreen="isFullscreen01">


                        <!-- tile body -->
                        <div class="tile-body">


                            <div class="form-group" ng-class="{ 'has-error' : userForm.fullName.$invalid && !userForm.fullName.$pristine, 'has-success' : userForm.fullName.$valid && !userForm.fullName.$pristine}">

                                <p class="white-text" for="fullName">Full Name: <text uib-tooltip="Full Name must be minimum length of 3 characters" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                <input type="text" name="fullName" id="fullName" class="form-control input-style" ng-model="user.fullName" ng-minlength="3"  required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.fullName.$invalid && !userForm.fullName.$pristine">Full Name is required.</span>
                                    <span ng-show="userForm.fullName.$error.minlength">Full Name is too short.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}">

                                <p class="white-text" for="fullName">Username: <text uib-tooltip="Username must be minimum length of 3 characters and maximum 20 characters. Username may contain alphanumeric values but no special characters except '-' or '_'" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                <input data-val-username val-username-special-char type="text" name="username" id="username" class="form-control input-style" ng-model="user.username" ng-minlength="3" ng-maxlength="20" required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">Username is required.</span>
                                    <span ng-show="userForm.username.$error.minlength">Username is too short.</span>
                                    <span ng-show="userForm.username.$error.maxlength">Username is too long.</span>
                                    <span ng-show="userForm.username.$error.valUsername">Username Already Exist.</span>
                                    <span ng-show="userForm.username.$error.valUsernameSpecialChar">Username should not contain special characters except '-' or '_'.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine, 'has-success' : userForm.email.$valid && !userForm.email.$pristine}">

                                <p class="white-text" for="fullName">Email: </p>
                                <input data-val-email type="email" name="email" id="email" class="form-control input-style" ng-model="user.email" required autocomplete="off">
                                <p class="help-block">
                                    <span ng-show="userForm.email.$invalid && !userForm.email.$pristine">Email is required.</span>
                                    <span ng-show="userForm.email.$error.valEmail">Email Already Exist.</span>
                                </p>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">

                                    <p class="white-text" for="fullName">Password: <text uib-tooltip="Password must be minimum length of 6 characters" class="orange-text"><i class="fa fa-info-circle" aria-hidden="true"></i></text></p>
                                    <input type="password" name="password" id="password" class="form-control input-style" ng-model="user.password" ng-minlength="6" required autocomplete="off">
                                    <p class="help-block">
                                        <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</span>
                                        <span ng-show="userForm.password.$error.minlength">Password is too short.</span>
                                    </p>
                                </div>

                                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">

                                    <p class="white-text" for="fullName">Password Confirmation: </p>
                                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control input-style" ng-model="user.passwordConfirm" ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " required autocomplete="off">
                                    <p class="help-block">
                                        <span ng-show='userForm.passwordConfirm.$error.validator'>Passwords do not match!</span>
                                    </p>
                                </div>

                            </div>


                        </div>


                    </section>

                </div>


            </div>
            <div class="col-md-6 reg-page-col-div ">

                <div class=" reg-page-form">


                    <div class="form-group" ng-class="{ 'has-error' : userForm.campus.$invalid && !userForm.campus.$pristine, 'has-success' : userForm.campus.$valid && !userForm.campus.$pristine}">

                        <p class="white-text">University: </p> <p class="white-text">If not found then <a ui-sref="app.addUniversity">Create a new university!</a></p>

                        <input
                                placeholder="What is your University Campus?"
                                ng-change="onCampusChange()"
                                typeahead-on-select="onCampusSelect($item, $model, $label)"
                                ng-model-options="modelOptions"
                                name="campus"
                                required type="text"
                                ng-model="campus"
                                uib-typeahead="campus as campus.display for campus in querySearch($viewValue)"
                                typeahead-loading="loadingCampuses"
                                typeahead-no-results="noResults"
                                class="form-control input-style"
                                autocomplete="off">

                        <text ng-show="loadingCampuses"  class="white-text"><i class="fa fa-cog fa-spin fa-fw"></i> Getting University Information...</text>
                        <div ng-show="noResults" class="text-danger">
                            <i class="fa fa-times"></i> No Results Found
                        </div>



                        <p class="help-block">
                            <span ng-show="userForm.campus.$invalid && !userForm.campus.$pristine">Campus is required.</span>
                        </p>
                    </div>



                    <div class="form-group" ng-class="{ 'has-error' : userForm.referral.$invalid && !userForm.referral.$pristine, 'has-success' : userForm.referral.$valid && !userForm.referral.$pristine}">

                        <p class="white-text" for="fullName">Referral: </p>

                        <select name="referral" id="referral"  ng-model="user.referral"  class="form-control mb-10 input-style"
                                data-ng-options="referral.id as referral.referral_name for referral in referrals" required>
                            <option value="">---Select Referral---</option>
                        </select>
                        <p class="help-block">
                            <span ng-show="userForm.referral.$invalid && !userForm.referral.$pristine">Referral is required.</span>

                        </p>
                    </div>





                    <div class="checkbox reg-confirm-checkbox" ng-class="{ 'has-error' : userForm.agree.$invalid && !userForm.agree.$pristine, 'has-success' : userForm.agree.$valid && !userForm.agree.$pristine}">
                        <label  class="checkbox checkbox-custom white-text">
                            <input type="checkbox" name="agree" id="agree" ng-model="user.agree" required><i></i> I agree to the <a ui-sref="app.privacyPolicy">Privacy Policy :: </a>
                            <a ui-sref="app.disclaimer"> Disclaimer </a>
                            <a ui-sref="app.conditionOfUse">:: Condition of Use</a>
                        </label>
                        <p class="help-block">
                            <span ng-show="userForm.agree.$invalid && !userForm.agree.$pristine">You must accept Terms of Service.</span>
                        </p>
                    </div>



                    <div class="form-group" ng-class="{'has-error':userForm.recaptcha.$invalid && !userForm.recaptcha.$pristine}">
                        <div    name="recaptcha"
                                vc-recaptcha
                                ng-model="user.key"
                                required
                                ></div>
                        <p class="help-block">
                            <span  ng-show="userForm.recaptcha.$invalid && !userForm.recaptcha.$pristine">Captcha is required.</span>
                        </p>
                    </div>



                    <div class="form-group text-left mt-20 margin-top-35">
                        <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Sign Up</button>


                    </div>

                    <div class="text-center white-text margin-top-35">
                        Already have an account?&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="app.login">Login Now</a>
                    </div>




                </div>


            </div>
            </form>
        </div>


    </div>


</div>






