<div ng-parallax pattern="'assets/images/parallax/login_parallax.jpg'" offset="0"  speed="5"  class="parallax-box dark" >

    <div class="container clearfix">


        <div class="row">

            <div class="col-md-12">


                <p class="text-white mid-two-header">Change Password</p>


            </div>



        </div>
        <div class="row ">
            <div class="col-md-6 col-centered login-page-col-div">

                <div class="forgot-password-page-dark-div login-page-form">


                    <form name="changePasswordForm" submit-validate ng-submit="changePassword(changePasswordForm.$valid)" role="form" novalidate>

                        <!-- tile -->
                        <section class="tile text-left" fullscreen="isFullscreen01">


                            <!-- tile body -->
                            <div class="tile-body">

                                <div class="row">


                                    <div class="form-group col-md-12" ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine, 'has-success' : changePasswordForm.oldPassword.$valid && !changePasswordForm.oldPassword.$pristine}">
                                        <label class="white-text" for="oldPassword">Old Password: </label>
                                        <input type="password" name="oldPassword" id="oldPassword" class="form-control input-style" ng-model="user.oldPassword" ng-minlength="6" required>
                                        <p class="help-block">
                                            <span ng-show="changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine">Old Password is required.</span>
                                            <span ng-show="changePasswordForm.oldPassword.$error.minlength">Old Password is too short.</span>
                                        </p>
                                    </div>


                                    <div class="form-group col-md-12" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine, 'has-success' : changePasswordForm.newPassword.$valid && !changePasswordForm.newPassword.$pristine}">
                                        <label class="white-text" for="newPassword">New Password: </label>
                                        <input type="password" name="newPassword" id="newPassword" class="form-control input-style" ng-model="user.newPassword" ng-minlength="6" required>
                                        <p class="help-block">
                                            <span ng-show="changePasswordForm.newPassword.$invalid && !changePasswordForm.newPassword.$pristine">New Password is required.</span>
                                            <span ng-show="changePasswordForm.newPassword.$error.minlength">New Password is too short.</span>
                                        </p>
                                    </div>

                                    <div class="form-group col-md-12" ng-class="{ 'has-error' : changePasswordForm.newPasswordConfirm.$invalid && !changePasswordForm.newPasswordConfirm.$pristine, 'has-success' : changePasswordForm.newPasswordConfirm.$valid && !changePasswordForm.newPasswordConfirm.$pristine}">
                                        <label class="white-text" for="newPasswordConfirm">Confirm New Password: </label>
                                        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="form-control input-style" ng-model="user.newPasswordConfirm" ui-validate=" '$value==user.newPassword' " ui-validate-watch=" 'user.newPassword' " required>
                                        <p class="help-block">
                                            <span ng-show='changePasswordForm.newPasswordConfirm.$error.validator'>New Passwords do not match!</span>
                                        </p>
                                    </div>



                                </div>


                            </div>


                        </section>


                        <div class="form-group text-left mt-20">
                            <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Set New Password</button>

                        </div>


                    </form>



                </div>


            </div>


        </div>


    </div>


</div>


