<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-7">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>profile</strong>
                </p>

                    <!--<p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;fight</text>
                        <text class="uppercase orange-text">them</text>
                    </strong></p>-->
                </div>

            </div>


            <div class="col-md-5 text-right">
                <div class="guard-image">
                    <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

<div class="container clearfix">

<div class="row">


<!-- BLOG POSTS -->
<div cg-busy="{promise:profilePromise}" class="col-sm-9 blog-posts contact-us-form-div">
<form name="updateProfileForm" submit-validate ng-submit="updateProfile(updateProfileForm.$valid)">
    <div class="contact-page-left-side profile-page">

        <div class="row">
            <div class="col-md-8">
                <h1 ng-show="!updatingProfile" class="lato form-page-header">Profile</h1>

                <h1 ng-show="updatingProfile" class="lato form-page-header">Update Profile</h1>

            </div>
            <div class="col-md-4">
                <a ng-show="!updatingProfile" ui-sref="app.changePassword" class="myBtn orange-btn max-large-btn"><i
                        class="fa fa-cog"></i> Change Password</a>
                <button type="button" ng-show="!updatingProfile" ng-click="editProfile()"
                        class="myBtn orange-btn max-large-btn"><i class="fa fa-pencil-square-o"></i> Update Profile Info
                </button>

                <button type="submit" ng-show="updatingProfile" class="myBtn orange-btn max-large-btn"><i class="fa fa-check"></i>
                    Save Profile Info
                </button>
                <button type="button" ng-show="updatingProfile" ng-click="cancelEditProfile()"
                        class="myBtn orange-btn max-large-btn"><i class="fa fa-times"></i> Cancel
                </button>


            </div>
        </div>


        <div class="row contact-form-start-div">


            <div class="col-md-12">

                <div class="profile-image">
                    <img data-ng-src="{{imageHostPath}}{{user.profilePicture}}"/>
                </div>

                <text class="lato px-18">Full Name :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.fullName}}</text>
                <br/>
                <text class="lato px-18">Username :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.username}}</text>
                <br/>
                <text class="lato px-18">Email :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.email}}</text>
                <br/>
                <text class="lato px-18">Email Notification:&nbsp;&nbsp;&nbsp;</text>
                <text class="all-checkbox-text">

                    <label  class="checkbox checkbox-custom-alt checkbox-black">
                        <input ng-change="changeEmailNotification(emailNotification)" type="checkbox" name="emailNotification" id="emailNotification" ng-model="emailNotification"><i></i>
                    </label>
                </text>
                <text class="lato px-18">( Turned {{user.emailNotification}} )</text>
                <br/>
                <text ng-show="updatingProfile" class="lato px-18">University :&nbsp;&nbsp;&nbsp;</text>
                <text ng-show="updatingProfile" class="blue-text lato px-18">{{user.universityName}}, {{user.campusName}},
                    {{user.stateShortName}}({{user.stateName}}), {{user.countryName}}
                </text>
            </div>


        </div>

        <div ng-show="!updatingProfile" class="row contact-form-start-div">


            <div class="col-md-12">
                <text class="lato px-18">Select University :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.universityName}}, {{user.campusName}},
                    {{user.stateShortName}}({{user.stateName}}), {{user.countryName}}
                </text>
                <br/>
                <text class="lato px-18">Standard Home Phone:&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardHomePhone}}</text>
                <br/>
                <text class="lato px-18">Standard Cell Phone for Contact :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardCellPhone}}</text>
                <br/>
                <text class="lato px-18">Standard Email for Contact :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardEmail}}</text>
            </div>


        </div>

        <div ng-show="updatingProfile" class="contact-form-start-div">


            <div class="row">
                <div class="col-md-12">
                    <div ng-show="!singleFile" class="form-group">
                        <text>Select Profile Picture : (Recommended dimension: 200px/200px & Recommended Size : less than 200KB)</text>
                        <!--<input multiple-image-input="files" file-data="fileData" file-identifier="fileId" ui-jq="filestyle" type="file" class="filestyle" ui-options="{
            buttonText: 'Select file',
            iconName: 'fa fa-inbox'
          }"  multiple accept="image/*">-->
                        <input  single-file="singleFile" single-image-input="files" file-data="fileData" file-identifier="fileId" ui-jq="filestyle" type="file" class="filestyle" ui-options="{
            buttonText: 'Select file',
            iconName: 'fa fa-inbox'
          }" >

                    </div>
                    <div  class="form-group">
                        <div class="tcol">

                            <div class="bg-white">
                                <text class="custom-font text-default m-0 lato">Profile Picture</text>
                            </div>

                                <table class="table b-a b-solid bg-white">
                                    <thead>
                                    <tr >
                                        <th class="text-center">Image</th>

                                        <th class="text-center">Size</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="file in files" class="text-sm">
                                        <td class="text-center"><img style="max-height: 100px;max-width: 100px;" ng-src="{{file.fileData}}"/></td>

                                        <td class="text-center" nowrap>{{ file.size/1024|number:2 }} KB</td>

                                        <td class="text-center" nowrap>


                                            <button type="button" class="myBtn orange-btn" ng-click="removeFile(file)">
                                                <span class="fa fa-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                        </div>
                    </div>
                </div>
            </div>


        <div class="row">


            <div class="col-md-12">
                <text class="lato px-18">Full Name :</text>



                <div class="form-group" ng-class="{ 'has-error' : updateProfileForm.fullName.$invalid && !updateProfileForm.fullName.$pristine, 'has-success' : updateProfileForm.fullName.$valid && !updateProfileForm.fullName.$pristine}">



                    <input
                            placeholder="What is your University Campus?"

                            name="fullName"
                            required type="text"
                            ng-model="fullName"

                            class="form-control">

                    <p class="help-block">
                        <span ng-show="updateProfileForm.fullName.$invalid && !updateProfileForm.fullName.$pristine">Full Name is Required</span>
                    </p>
                </div>


            </div>

        </div>
        <br/>


                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">University :</text>




                        <div class="form-group" ng-class="{ 'has-error' : updateProfileForm.subject.$invalid && !updateProfileForm.subject.$pristine, 'has-success' : updateProfileForm.subject.$valid && !updateProfileForm.subject.$pristine}">


                            <input
                                    placeholder="What is your University Campus?"
                                    ng-change="onCampusChange()"
                                    typeahead-on-select="onCampusSelect($item, $model, $label)"
                                    ng-model-options="modelOptions"
                                    name="subject"
                                    required type="text"
                                    ng-model="subject"
                                    uib-typeahead="campus as campus.display for campus in querySearch($viewValue)"
                                    typeahead-loading="loadingCampuses"
                                    typeahead-no-results="noResults"
                                    class="form-control">

                            <text ng-show="loadingCampuses"  ><i class="fa fa-cog fa-spin fa-fw"></i> Getting University Information...</text>
                            <div ng-show="noResults" class="text-danger">
                                <i class="fa fa-times"></i> No Results Found
                            </div>



                            <p class="help-block">
                                <span ng-show="updateProfileForm.subject.$invalid && !updateProfileForm.subject.$pristine">Campus is required.</span>
                            </p>
                        </div>
                        
                        
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Home Phone :</text>
                        <br/>

                        <div>
                            <input type="text" class="form-control" name="standardHomePhone" ng-model="standardHomePhone"
                                   />
                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Cell Phone for Contact :</text>
                        <br/>

                        <div>

                            <input type="text" class="form-control" name="standardCellPhone" ng-model="standardCellPhone"
                                   />

                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Email For Contact :</text>
                        <br/>

                        <div>

                            <input type="text" class="form-control" name="standardEmail" ng-model="standardEmail"
                                   />


                        </div>
                    </div>

                </div>
                <div class="row contact-form-start-div">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="myBtn orange-btn "><i class="fa fa-check"></i>
                            Save Profile Info
                        </button>
                        <button type="button" ng-show="updatingProfile" ng-click="cancelEditProfile()"
                                class="myBtn orange-btn "><i class="fa fa-times"></i> Cancel
                        </button>
                    </div>
                </div>




        </div>


    </div>
</form>

</div>
<!-- END BLOG POSTS -->

<!-- BLOG SIDEBAR -->
<div class="col-sm-3 sidebar contact-us-page-right-bar">


    <div class="white-background right-head-text text-center right-white-div profile-page">
        <div class="follow-us-head-text">
                        <span class="follow-us-header lato orange-text uppercase px-16"><strong>Follow
                            us</strong></span><br/>
        </div>

        <div class="follow-us-logos-div text-center">
            <div class="follow-twitter white-text"><i class="fa fa-twitter fa-2x"></i></div>
            <div class="follow-facebook  white-text"><i class="fa fa-facebook fa-2x"></i></div>
        </div>
        <div class="follow-us-head-text">
                        <span class=" follow-us-header lato orange-text uppercase px-16"><strong>quick
                            links</strong></span>
        </div>

        <div class="quick-links">
            <ul class="footer-useful-links-ul lato grey-text">
                <li>
                    <a ui-sref="app.sellBook">&nbsp;Sell Books</a>
                </li>
                <li>
                    <a ui-sref="app.bookBuy">&nbsp;Buy Books</a>
                </li>
                <li>
                    <a ui-sref="app.howItWorks">&nbsp;How It Works Video</a>
                </li>
                <li>
                    <a ui-sref="app.news">&nbsp;News</a>
                </li>
                <li>
                    <a ui-sref="app.faq">&nbsp;FAQ</a>
                </li>

            </ul>
        </div>


    </div>

</div>
<!-- END BLOG SIDEBAR -->

</div>
<!-- blog -->


</div>


</div>
</section>




