<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-7">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>profile</strong>
                </p>

                    <!--<p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;fight</text>
                        <text class="uppercase orange-text">them</text>
                    </strong></p>-->
                </div>

            </div>


            <div class="col-md-5 text-right">
                <div class="guard-image">
                    <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
                </div>
            </div>


        </div>


    </div>


</div>


<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">
                    <div class="col-md-12">



                        <br/>

                        <br/><br/>



                        <form name="updateProfileForm" submit-validate ng-submit="updateProfile(updateProfileForm.$valid)">
                            <table class="table table-bordered table-striped">

                                <tr>

                                    <th >Full Name</th>
                                    <td ng-if="!editingFullName">{{user.fullName}}</td>
                                    <td ng-if="editingFullName" ng-class="{ 'has-error' : updateProfileForm.fullName.$invalid && !updateProfileForm.fullName.$pristine, 'has-success' : updateProfileForm.fullName.$valid && !updateProfileForm.fullName.$pristine}">

                                        <input type="text" name="fullName" id="fullName" class="form-control" ng-model="user.fullName"  required>
                                        <p class="help-block">
                                            <span ng-show="updateProfileForm.fullName.$invalid && !updateProfileForm.fullName.$pristine">Full Name is required.</span>
                                        </p>

                                    </td>
                                    <td>
                                        <button type="button"  ng-show="!editingFullName"  ng-click="editFullName(user)"
                                                class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10">Change Full Name<i
                                                class="fa fa-arrow-right"></i></button>
                                        <button ng-show="editingFullName"  type="submit"
                                                class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10">Save New Full Name<i
                                                class="fa fa-arrow-right"></i></button>
                                        <button type="button" ng-click="cancelEditFullName()" ng-show="editingFullName"
                                                class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c mb-10">Cancel<i
                                                class="fa fa-times"></i></button>
                                    </td>

                                </tr>

                                <tr>
                                    <th>Username</th>
                                    <td colspan="2">{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td colspan="2">{{user.email}}</td>
                                </tr>
                                <tr>
                                    <th>University</th>
                                    <td>{{user.universityName}}, {{user.campusName}}, {{user.stateShortName}}, {{user.countryName}}<br/>
                                    <span ng-if="editingUniversityCampus">



                                        <!--<md-autocomplete required
                                                         md-input-id="input-style"

                                                         md-input-name="campus"
                                                         md-selected-item="selectedItem"
                                                         md-search-text-change="searchTextChange(searchText)"
                                                         md-search-text="searchText"
                                                         md-selected-item-change="selectedItemChange(item)"
                                                         md-items="item in querySearch(searchText)"
                                                         md-item-text="item.display"
                                                         md-min-length="0"
                                                         placeholder="What is your University Campus?">
                                            <md-item-template>

                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No matches found for "{{searchText}}".

                                            </md-not-found>

                                            <div ng-messages="updateProfileForm.autocompleteField.$error" ng-if="updateProfileForm.autocompleteField.$touched">
                                                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                                <div ng-message="minlength">Your entry is not long enough.</div>
                                                <div ng-message="maxlength">Your entry is too long.</div>
                                            </div>

                                        </md-autocomplete>-->




                                        <md-autocomplete


                                                md-selected-item="selectedItem"
                                                md-search-text-change="searchTextChange(searchText)"
                                                md-search-text="searchText"
                                                md-selected-item-change="selectedItemChange(item)"
                                                md-items="item in querySearch(searchText)"
                                                md-item-text="item.display"
                                                md-min-length="0"
                                                placeholder="What is your University Campus?">
                                            <md-item-template>

                                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No matches found for "{{searchText}}".
                                            </md-not-found>

                                            <div ng-messages="updateProfileForm.autocompleteField.$error" ng-if="updateProfileForm.autocompleteField.$touched">
                                                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                                <div ng-message="minlength">Your entry is not long enough.</div>
                                                <div ng-message="maxlength">Your entry is too long.</div>
                                            </div>

                                        </md-autocomplete>
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" ng-show="!editingUniversityCampus" ng-click="editingUniversityCampus=true"
                                                class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10">Change University<i
                                                class="fa fa-arrow-right"></i></button>
                                        <button type="submit" ng-show="editingUniversityCampus"
                                                class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10">Save University<i
                                                class="fa fa-arrow-right"></i></button>
                                        <button type="button" ng-click="editingUniversityCampus=false" ng-show="editingUniversityCampus"
                                                class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c mb-10">Cancel<i
                                                class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>


                </div>

            </div>
        </div>



    </div>
</section>


