<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-7">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>profile</strong>
                </p>

                    <!--<p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;fight</text>
                        <text class="uppercase orange-text">them</text>
                    </strong></p>-->
                </div>

            </div>


            <div class="col-md-5 text-right">
                <div class="guard-image">
                    <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

<div class="container clearfix">

<div class="row">


<!-- BLOG POSTS -->
<div cg-busy="{promise:profilePromise}" class="col-sm-9 blog-posts contact-us-form-div">

    <div class="contact-page-left-side profile-page">

        <div class="row">
            <div class="col-md-8">
                <h1 ng-show="!updatingProfile" class="lato form-page-header">Profile</h1>

                <h1 ng-show="updatingProfile" class="lato form-page-header">Update Profile</h1>

            </div>
            <div class="col-md-4">
                <a ng-show="!updatingProfile" ui-sref="app.changePassword" class="myBtn orange-btn max-large-btn"><i
                        class="fa fa-cog"></i> Change Password</a>
                <button ng-show="!updatingProfile" ng-click="editProfile(user)"
                        class="myBtn orange-btn max-large-btn"><i class="fa fa-pencil-square-o"></i> Update Profile Info
                </button>

                <button ng-show="updatingProfile" class="myBtn orange-btn max-large-btn"><i class="fa fa-check"></i>
                    Save Profile Info
                </button>
                <button ng-show="updatingProfile" ng-click="cancelEditProfile()"
                        class="myBtn orange-btn max-large-btn"><i class="fa fa-times"></i> Cancel
                </button>


            </div>
        </div>


        <div class="row contact-form-start-div">


            <div class="col-md-12">
                <text class="lato px-18">Full Name :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.fullName}}</text>
                <br/>
                <text class="lato px-18">Username :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.username}}</text>
                <br/>
                <text class="lato px-18">Email :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.email}}</text>
                <br/>
                <text ng-show="updatingProfile" class="lato px-18">University :&nbsp;&nbsp;&nbsp;</text>
                <text ng-show="updatingProfile" class="blue-text lato px-18">{{user.universityName}}, {{user.campusName}},
                    {{user.stateShortName}}({{user.stateName}}), {{user.countryName}}
                </text>
            </div>


        </div>

        <div ng-show="!updatingProfile" class="row contact-form-start-div">


            <div class="col-md-12">
                <text class="lato px-18">Select University :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.universityName}}, {{user.campusName}},
                    {{user.stateShortName}}({{user.stateName}}), {{user.countryName}}
                </text>
                <br/>
                <text class="lato px-18">Standard Home Phone:&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardHomePhone}}</text>
                <br/>
                <text class="lato px-18">Standard Cell Phone for Contact :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardCellPhone}}</text>
                <br/>
                <text class="lato px-18">Standard Email for Contact :&nbsp;&nbsp;&nbsp;</text>
                <text class="blue-text lato px-18">{{user.standardEmail}}</text>
            </div>


        </div>

        <div ng-show="updatingProfile" class="contact-form-start-div">

            <form name="updateProfileForm" submit-validate ng-submit="updateProfile(updateProfileForm.$valid)">

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">University :</text>
                        <br/>

                        <div ng-class="{ 'has-error' : updateProfileForm.subject.$invalid && !updateProfileForm.subject.$pristine, 'has-success' : updateProfileForm.subject.$valid && !updateProfileForm.subject.$pristine}">

                            <!--<input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Give Subject of your query"
                                   required/>

                            <p class="help-block">
                                <span ng-show="updateProfileForm.subject.$invalid && !updateProfileForm.subject.$pristine">Subject is required.</span>

                            </p>-->

                            <md-autocomplete


                                    md-selected-item="selectedItem"
                                    md-search-text-change="searchTextChange(searchText)"
                                    md-search-text="searchText"
                                    md-selected-item-change="selectedItemChange(item)"
                                    md-items="item in querySearch(searchText)"
                                    md-item-text="item.display"
                                    md-min-length="0"
                                    placeholder="What is your University Campus?">
                                <md-item-template>

                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found for "{{searchText}}".
                                </md-not-found>

                                <div ng-messages="updateProfileForm.autocompleteField.$error"
                                     ng-if="updateProfileForm.autocompleteField.$touched">
                                    <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                    <div ng-message="minlength">Your entry is not long enough.</div>
                                    <div ng-message="maxlength">Your entry is too long.</div>
                                </div>

                            </md-autocomplete>

                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Home Phone :</text>
                        <br/>

                        <div>
                            <input type="text" class="form-control" name="standardHomePhone" ng-model="user.standardHomePhone"
                                   />
                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Cell Phone for Contact :</text>
                        <br/>

                        <div>

                            <input type="text" class="form-control" name="standardCellPhone" ng-model="user.standardCellPhone"
                                   />

                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">


                    <div class="col-md-12">
                        <text class="lato px-18">Standard Email For Contact :</text>
                        <br/>

                        <div>

                            <input type="text" class="form-control" name="standardEmail" ng-model="user.standardEmail"
                                   />


                        </div>
                    </div>

                </div>
                <div class="row contact-form-start-div">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="myBtn orange-btn "><i class="fa fa-check"></i>
                            Save Profile Info
                        </button>
                        <button type="button" ng-show="updatingProfile" ng-click="cancelEditProfile()"
                                class="myBtn orange-btn "><i class="fa fa-times"></i> Cancel
                        </button>
                    </div>
                </div>


            </form>

        </div>


    </div>


</div>
<!-- END BLOG POSTS -->

<!-- BLOG SIDEBAR -->
<div class="col-sm-3 sidebar contact-us-page-right-bar">


    <div class="white-background right-head-text text-center right-white-div profile-page">
        <div class="follow-us-head-text">
                        <span class="follow-us-header lato orange-text uppercase px-16"><strong>Follow
                            us</strong></span><br/>
        </div>

        <div class="follow-us-logos-div text-center">
            <div class="follow-twitter white-text"><i class="fa fa-twitter fa-2x"></i></div>
            <div class="follow-facebook  white-text"><i class="fa fa-facebook fa-2x"></i></div>
        </div>
        <div class="follow-us-head-text">
                        <span class=" follow-us-header lato orange-text uppercase px-16"><strong>quick
                            links</strong></span>
        </div>

        <div class="quick-links">
            <ul class="footer-useful-links-ul lato grey-text">
                <li>
                    <a ui-sref="app.faq">&nbsp;FAQ</a>
                </li>
                <li>
                    <a ui-sref="app.signup">&nbsp;Sign Up</a>
                </li>
                <li>
                    <a ui-sref="app.howItWorks">&nbsp;How It Works Video</a>
                </li>
                <li>
                    <a ui-sref="app.bookBuy">&nbsp;Buy a Book</a>
                </li>
                <li>
                    <a ui-sref="app.universityMap">&nbsp;University Map</a>
                </li>

            </ul>
        </div>


    </div>

</div>
<!-- END BLOG SIDEBAR -->

</div>
<!-- blog -->


</div>


</div>
</section>




