<div class="compare-page-head-banner">

</div>
<section class="compare-page ">

<div class="content-wrap mid-section">

    <div class="section mid-section compare-page-header-section contact-section">
        <div class="container clearfix">

            <div class="row">

                <div ng-if="deal.bookContactMethod=='buyerToSeller'" class="col-md-10">
                    <div class="book-title-header">
                        <h1 class="uppercase"><strong>You (Buyer) need to contact Seller ({{deal.username}})</strong></h1>
                        <hr/>
                    </div>
                    <div>
                        <p class="book-subtitle-header">Buying Textbooks directly from other Students can be so simple</p>
                        <p>
                            The Seller ({{deal.username}}) of this textbook wants <strong>You to contact student him/her</strong>.
                            Please provide your Email below so we can send you the Seller's Contact Information.
                            You also have the option to send a message to the Seller.
                        </p>
                    </div>
                </div>

                <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="col-md-10">
                    <div class="book-title-header">
                        <h1 class="uppercase"><strong>Seller ({{deal.username}}) will contact You ( Buyer )</strong></h1>
                        <hr/>
                    </div>
                    <div>
                        <p class="book-subtitle-header">Buying Textbooks directly from other Students can be so simple</p>
                        <p>
                            The Seller ({{deal.username}}) of this textbook wants to contact you. Please provide your Contact information below.
                            We will send the information to the seller who then will contact you.
                            You also have the option to send a message to the Seller.
                        </p>
                    </div>
                </div>




                <div class="col-md-2">
                    <div class="big-price"><h1 class="big-price-number orange-text lato">
                        <strong>${{deal.bookPriceSell}}</strong></h1></div>
                </div>


            </div>


        </div>
    </div>

    <div class="section mid-section specification-section">
        <div class="container clearfix">

            <div class="row specification-row">

                <div cg-busy="{promise:contactPromise}"  class="col-md-offset-3 col-md-6">
                    <form name="contactForm" submit-validate ng-submit="contactSeller(contactForm.$valid)" role="form" novalidate>


                        <div class="tile-body">


                            <div ng-show="!$parent.loggedIn" class="form-group">

                                <p class="" for="username">Name: </p>
                                <input type="text" name="username" id="username" class="form-control " ng-model="contact.buyerNickName">

                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success' : contactForm.email.$valid && !contactForm.email.$pristine}">

                                <p class="" for="email">Email: </p>
                                <input type="email" name="email" id="email" class="form-control " ng-model="contact.buyerEmail" required>
                                <p class="help-block">
                                    <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Email is required.</span>
                                </p>
                            </div>

                            <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                <p class="" for="cellNumber">Cell Number: </p>
                                <input type="text" name="cellNumber" id="cellNumber" class="form-control " ng-model="contact.buyerCellPhone">

                            </div>

                            <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                <p class="" for="homeNumber">Home Number: </p>
                                <input type="text" name="homeNumber" id="homeNumber" class="form-control " ng-model="contact.buyerHomePhone">

                            </div>


                            <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success' : contactForm.message.$valid && !contactForm.message.$pristine}">

                                <p class="" for="message">Message: </p>
                                <textarea rows="5" type="text" name="message" id="message" class="form-control " ng-model="contact.messages[0].messageBody"   required></textarea>
                                <p class="help-block">
                                    <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Message is required.</span>

                                </p>
                            </div>

                            <!--<div class="form-group" ng-class="{'has-error':contactForm.recaptcha.$invalid && !contactForm.recaptcha.$pristine}">
                                <div    name="recaptcha"
                                        vc-recaptcha
                                        ng-model="contact.key"
                                        required
                                        ></div>
                                <p class="help-block">
                                    <span  ng-show="contactForm.recaptcha.$invalid && !contactForm.recaptcha.$pristine">Captcha is required.</span>
                                </p>
                            </div>-->

                            <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                <div class="form-group text-left mt-20">
                                    <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Send Seller Your Details</button>
                                </div>


                            </div>
                            <div ng-if="deal.bookContactMethod=='buyerToSeller'" class="form-group">

                                <div class="form-group text-left mt-20">
                                    <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Get Seller Details</button>
                                </div>


                            </div>


                        </div>

                    </form>
                </div>
                <div class="col-md-3">


                </div>


            </div>
            <br/><br/><br/>


        </div>
    </div>


</div>

</section>


