<div class="page page-ng-table">


    <!-- page header -->
    <div class="pageheader">

        <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a href="javascript:;">Tables</a>
                </li>
                <li>
                    <a ui-sref="app.tables.ng-table">{{page.title}}</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /page header -->


    <!-- page content -->
    <div class="pagecontent">


        <!-- row -->
        <div class="row">


            <!-- col -->
            <div class="col-md-12">



                <section class="tile" fullscreen="isFullscreen07">



                <div class="tile-widget">

                    <!-- row -->
                    <div style="border-bottom: 1px solid;margin-top: 10px;" class="row" >

                        <div ng-if="deal.bookContactMethod=='buyerToSeller'" class="col-md-12">

                            <h1>You (Buyer) need to contact Seller ( {{deal.username}} )</h1>
                            Buying Textbooks directly from other Students can be so simple<br/><br/>

                            Hello,<br/>
                            The Seller of this textbook wants <strong>You to contact {{deal.username}}</strong>.<br/>
                            Please provide your Email below so we can send you the Seller's Contact Information.<br/>
                            You also have the option to send a message to the Seller.<br/>

                        </div>

                        <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="col-md-12">
                        <h1>Seller ( {{deal.username}} ) will contact You ( Buyer )</h1>
                        Buying Textbooks directly from other Students can be so simple<br/>
                        Hello,<br/>
                        The Seller of this textbook wants to contact you. Please provide your Contact information below.<br/>
                        We will send the information to the seller who then will contact you.<br/>
                        You also have the option to send a message to the Seller.<br/>
                        </div>
                        <div class="col-md-12 reg-page-col-div">

                            <div class="reg-page-form">



                                <!-- tile -->
                                <section class="tile text-left" fullscreen="isFullscreen01">
                                    <form name="contactForm" submit-validate ng-submit="contactSeller(contactForm.$valid)" role="form" novalidate>

                                    <!-- tile body -->
                                    <div class="tile-body">

                                        <div>
                                            Seller:
                                           {{deal.username}}
                                        </div>




                                        <div ng-show="!$parent.loggedIn" class="form-group">

                                            <p class="" for="username">Name: </p>
                                            <input type="text" name="username" id="username" class="form-control " ng-model="contact.buyerNickName">

                                        </div>

                                        <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success' : contactForm.email.$valid && !contactForm.email.$pristine}">

                                            <p class="" for="email">Email: </p>
                                            <input type="email" name="email" id="email" class="form-control " ng-model="contact.buyerEmail" required>
                                            <p class="help-block">
                                                <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Email is required.</span>
                                            </p>
                                        </div>

                                        <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                            <p class="" for="cellNumber">Cell Number: </p>
                                            <input type="text" name="cellNumber" id="cellNumber" class="form-control " ng-model="contact.buyerCellPhone">

                                        </div>

                                        <div ng-if="deal.bookContactMethod=='sellerToBuyer'" class="form-group">

                                            <p class="" for="homeNumber">Home Number: </p>
                                            <input type="text" name="homeNumber" id="homeNumber" class="form-control " ng-model="contact.buyerHomePhone">

                                        </div>


                                        <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success' : contactForm.message.$valid && !contactForm.message.$pristine}">

                                            <p class="" for="message">Message: </p>
                                            <textarea type="text" name="message" id="message" class="form-control " ng-model="contact.messages[0].messageBody"   required></textarea>
                                            <p class="help-block">
                                                <span ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Message is required.</span>
                                                
                                            </p>
                                        </div>

                                        <!--<div class="form-group" ng-class="{'has-error':contactForm.recaptcha.$invalid && !contactForm.recaptcha.$pristine}">
                                            <div    name="recaptcha"
                                                    vc-recaptcha
                                                    ng-model="contact.key"
                                                    required
                                                    ></div>
                                            <p class="help-block">
                                                <span  ng-show="contactForm.recaptcha.$invalid && !contactForm.recaptcha.$pristine">Captcha is required.</span>
                                            </p>
                                        </div>-->

                                        <div class="form-group text-left mt-20">
                                            <button type="submit" class="myBtn app-btn orange-btn max-large-btn">Get Seller Details</button>

                                        </div>


                                    </div>

                                </form>
                                </section>

                            </div>













                        </div>


                    </div>




                </div>


                </section>



            </div>

        </div>



    </div>


</div>
