
        <div class="row">
            <form name="newsForm" submit-validate ng-submit="addNews(newsForm.$valid,'Student')" role="form" novalidate>
            <div class="col-md-6 reg-page-col-div">

                <div class="add-new-quote-form">



                    <!-- tile -->
                    <section class="tile text-left" fullscreen="isFullscreen01">


                        <!-- tile body -->
                        <div class="tile-body">


                            <div class="form-group" ng-class="{ 'has-error' : newsForm.newsTitle.$invalid && !newsForm.newsTitle.$pristine, 'has-success' : newsForm.newsTitle.$valid && !newsForm.newsTitle.$pristine}">
                                <p class="" for="newsTitle">News Title: </p>
                                <input type="text" name="newsTitle" id="newsTitle" class="form-control " ng-model="news.newsTitle"  required>
                                <p class="help-block">
                                    <span ng-show="newsForm.newsTitle.$invalid && !newsForm.newsTitle.$pristine">News Title is required.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  newsForm.newsDescription.$invalid && !newsForm.newsDescription.$pristine, 'has-success' : newsForm.newsDescription.$valid && !newsForm.newsDescription.$pristine}">
                                <p class="" for="newsTitle">News Details: </p>
                                <textarea name="newsDescription" id="newsDescription" class="form-control " ng-model="news.newsDescription" required></textarea>
                                <p class="help-block">
                                    <span ng-show="newsForm.newsDescription.$invalid && !newsForm.newsDescription.$pristine">News Description is required.</span>
                                </p>
                            </div>

                            <div class="form-group">
                                <p>News Images: (Recommended dimension: 780px/490px & Recommended Size : less than 200KB)</p>
                                <input multiple-image-input="files" file-data="fileData" file-identifier="fileId" ui-jq="filestyle" type="file" class="filestyle" ui-options="{
            buttonText: 'Select file',
            iconName: 'fa fa-inbox'
          }"  multiple accept="image/*">


                            </div>
                            <div  class="form-group">
                                <div class="tcol">
                                    <div class="p-15 bg-white">


                                        <h5 class="custom-font text-default m-0">News Images</h5>

                                    </div>

                                    <div class="p-15">

                                        <table class="table b-a b-solid bg-white">
                                            <thead>
                                            <tr>
                                                <th>Image</th>

                                                <th >Size</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="file in files" class="text-sm">
                                                <td style="text-align: center"><img style="max-height: 100px;max-width: 100px;" ng-src="{{file.fileData}}"/></td>

                                                <td nowrap>{{ file.size/1024|number:2 }} KB</td>

                                                <td nowrap>


                                                    <button type="button" class="btn btn-default btn-xs" ng-click="removeFile(file)">
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>



                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="myBtn app-btn buy-now-button "><i class="fa fa-check"></i>&nbsp;Save News</button>
                                </div>
                                <div class="col-md-6">
                                    <a ui-sref="app.newsManagement" class="myBtn app-btn buy-now-button "><i class="fa fa-times"></i>&nbsp;Cancel</a>
                                </div>
                            </div>


                        </div>


                    </section>

                </div>




            </div>

            </form>
        </div>

