
        <div class="row">
            <form name="newsForm" submit-validate ng-submit="addNews(newsForm.$valid,'Student')" role="form" novalidate>
            <div class="col-md-12 reg-page-col-div">

                <div class="add-new-quote-form">



                    <!-- tile -->
                    <section class="tile text-left" fullscreen="isFullscreen01">


                        <!-- tile body -->
                        <div class="tile-body">


                            <div class="form-group" ng-class="{ 'has-error' : newsForm.newsTitle.$invalid && !newsForm.newsTitle.$pristine, 'has-success' : newsForm.newsTitle.$valid && !newsForm.newsTitle.$pristine}">
                                <p class="" for="newsTitle">News Title: </p>
                                <input type="text" name="newsTitle" id="newsTitle" class="form-control " ng-model="news.newsTitle"  required>
                                <p class="help-block">
                                    <span ng-show="newsForm.newsTitle.$invalid && !newsForm.newsTitle.$pristine">News Title is required.</span>
                                </p>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : newsForm.newsDateTime.$invalid && !newsForm.newsDateTime.$pristine, 'has-success' : newsForm.newsDateTime.$valid && !newsForm.newsDateTime.$pristine}">

                                <p class="" for="newsDate">News Date: </p>
                                <p class="input-group">
                                    <input name="newsDateTime" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="news.newsDateTime" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                          <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                                                          </span>

                                </p>

                                <p class="help-block">
                                    <span  ng-show="newsForm.newsDateTime.$invalid && !newsForm.newsDateTime.$pristine">News Date is Required</span>

                                </p>
                            </div>

                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsForm.newsType.$invalid && !newsForm.newsType.$pristine, 'has-success' : newsForm.newsType.$valid && !newsForm.newsType.$pristine}">

                                <p  for="newsType">News Type: </p>


                                <select  class="form-control mb-10" ng-options="newsType.id as newsType.label for newsType in newsTypes track by newsType.id" ng-model="news.newsType">
                                    <option value="">-- Choose News Type --</option>
                                </select>


                                <p class="help-block">
                                    <span ng-show="newsForm.newsType.$invalid && !newsForm.newsType.$pristine">News Type is required.</span>

                                </p>

                            </div>

                            <div class="form-group" ng-class="{ 'has-error' :  newsForm.newsDescription.$invalid && !newsForm.newsDescription.$pristine, 'has-success' : newsForm.newsDescription.$valid && !newsForm.newsDescription.$pristine}">
                                <p class="" for="newsTitle">News Details: </p>
                                <text-angular name="newsDescription"  ng-model="news.newsDescription" required ng-model="htmlVariable"></text-angular>
                                <p class="help-block">
                                    <span ng-show="newsForm.newsDescription.$invalid && !newsForm.newsDescription.$pristine">News Description is required.</span>
                                </p>
                            </div>

                            <div ng-show="news.newsType=='videoType'" class="form-group" ng-class="{ 'has-error' : newsForm.newsVideoEmbedCode.$invalid && !newsForm.newsVideoEmbedCode.$pristine, 'has-success' : newsForm.newsVideoEmbedCode.$valid && !newsForm.newsVideoEmbedCode.$pristine}">
                                <p class="" for="newsTitle">Youtube Embed Code: </p>
                                <input type="text" name="newsVideoEmbedCode" id="newsVideoEmbedCode" class="form-control " ng-model="news.newsVideoEmbedCode"  ng-required="news.newsType=='videoType'">
                                <p class="help-block">
                                    <span ng-show="newsForm.newsVideoEmbedCode.$invalid && !newsForm.newsVideoEmbedCode.$pristine">Youtube Embed Code is required.</span>
                                </p>
                            </div>


                            <div ng-show="news.newsType=='imageType'" class="form-group">
                                <p>News Images: (Recommended dimension: 780px/490px & Recommended Size : less than 300KB)</p>
                                <input multiple-image-input="files" file-data="fileData" file-identifier="fileId" ui-jq="filestyle" type="file" class="filestyle" ui-options="{
            buttonText: 'Select file',
            iconName: 'fa fa-inbox'
          }"  multiple accept="image/*">


                            </div>
                            <div ng-show="news.newsType=='imageType'" class="form-group">
                                <div class="tcol">
                                    <div class="p-15 bg-white">


                                        <h5 class="custom-font text-default m-0">News Images</h5>

                                    </div>

                                    <div class="p-15">

                                        <table class="table b-a b-solid bg-white">
                                            <thead>
                                            <tr>
                                                <th>Image</th>

                                                <th >Size</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="file in files" class="text-sm">
                                                <td style="text-align: center"><img style="max-height: 100px;max-width: 100px;" ng-src="{{file.fileData}}"/></td>

                                                <td nowrap>{{ file.size/1024|number:2 }} KB</td>

                                                <td nowrap>


                                                    <button type="button" class="btn btn-default btn-xs" ng-click="removeFile(file)">
                                                        <span class="fa fa-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>



                                    </div>

                                </div>
                            </div>
                            <div  class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="myBtn app-btn buy-now-button "><i class="fa fa-check"></i>&nbsp;Save News</button>
                                </div>
                                <div class="col-md-6">
                                    <a ui-sref="app.newsManagement" class="myBtn app-btn buy-now-button "><i class="fa fa-times"></i>&nbsp;Cancel</a>
                                </div>
                            </div>


                        </div>


                    </section>

                </div>




            </div>

            </form>
        </div>

