<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title hidden-xs"><text class="uppercase blue-text lato">News</text><text class="uppercase orange-text lato"> Management</text></h1>
                <h1 class="header-title visible-xs"><text class="uppercase blue-text lato">News</text><text class="uppercase orange-text lato"> Manage.</text></h1>

            </div>
        </div>
    </div>
</div>



<section class="compare-page" id="content">


<div class="">




<div class="section m-0 pt-0 mid-one compare-result-section user-management-sections">
<div class="container clearfix ">
<div class="row">

<div class="col-md-12">

    <div cg-busy="{promise:newsPromise}">


        <div class="button-panel">
            <a ui-sref="app.newsManagement.addNews" class="myBtn app-btn buy-now-button "><i class="fa fa-plus"></i>&nbsp;Add News</a>
        </div>


        <div ui-view="addNewsView" ></div>
        <div class="table-responsive">
        <table ng-table="tableParams" class="table table-striped campus-result-table ">

            <form name="userEditForm" submit-validate >

                <tr ng-repeat="news in $data" ng-form="editRowForm">

                    <td data-title="'Image'"  width="250">

                        <div ng-show="news.newsType=='imageType'" class="search-book-image-carousel">


                            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">

                                <uib-slide ng-repeat="slide in news.newsImages" active="slide.active">
                                    <img  ng-click="viewImage($event,book.bookTitle)" data-options="splash-2 splash-primary splash-ef-2"
                                          class="big-images" ng-src="{{imageHostPath}}{{slide.image}}" style="margin:auto;">

                                </uib-slide>
                            </uib-carousel>

                            <div class="btn-group" ng-show="news.showThumb">

                                <span><a class="thumb-control-left" ng-click="prevPage(news)"><i class="fa fa-angle-left fa-3x"></i></a></span>

                                    <span class="search-thumb-image"
                                          ng-repeat="thumb in news.showThumbnails"
                                          ng-class="{true:'active',false:'not-active'}[thumb.active]">
                                        <img ng-src="{{imageHostPath}}{{thumb.image}}" ng-click="setActive(news,thumb.imageId)"/>
                                    </span>

                        <span><a class="thumb-control-right" ng-click="nextPage(news)"><i
                                class="fa fa-angle-right fa-3x"></i></a></span>
                            </div>
                        </div>

                        <!--<div ng-show="news.newsType=='videoType'">
                            <div ng-bind-html="news.newsVideoEmbedCode"></div>
                        </div>-->

                        <div ng-show="news.newsType=='videoType'">
                            <div class="video-div"  ng-bind-html="news.newsVideoEmbedCode"></div>

                        </div>

                    </td>

                    <td data-title="'News Title'" width="200"  filter="{ 'newsTitle': 'text' }">
                        <span ng-if="!news.$edit">{{news.newsTitle}}</span>


                        <div ng-if="news.$edit"
                             ng-class="{ 'has-error' : editRowForm.newsTitle.$invalid && !editRowForm.newsTitle.$pristine, 'has-success' : editRowForm.newsTitle.$valid && !editRowForm.newsTitle.$pristine}">
                            <input name="newsTitle" class="input-sm form-control" type="text"
                                   required
                                   ng-model="news.newsTitle"/>
                            <p class="help-block">
                                <span ng-show="editRowForm.newsTitle.$invalid && !editRowForm.newsTitle.$pristine">News Title Name is required.</span>
                            </p>
                        </div>

                    </td>

                    <td data-title="'Details'" >

                        <!--<span  ng-if="!news.$edit" ng-bind-html="news.newsDescription"></span>-->
                        <div ng-if="!news.$edit" ta-bind="text" ng-model="news.newsDescription" ta-readonly='disabled'></div>

                        <div ng-if="news.$edit"
                             ng-class="{ 'has-error' : editRowForm.newsDescription.$invalid && !editRowForm.newsDescription.$pristine, 'has-success' : editRowForm.newsDescription.$valid && !editRowForm.newsDescription.$pristine}">

                            <text-angular name="newsDescription"  ng-model="news.newsDescription" required ng-model="htmlVariable"></text-angular>


                            <p class="help-block">
                                <span ng-show="editRowForm.newsDescription.$invalid && !editRowForm.newsDescription.$pristine">News Description is required.</span>
                            </p>
                        </div>

                    </td>

                    <td data-title="'Date'" style="width: 10%" >
                        <span>{{news.newsDateTime}}</span>

                    </td>

                    <td data-title="'Status'" style="width: 10%">
                        <span ng-if="!news.$edit">{{news.newsStatus}}</span>

                        <div ng-if="news.$edit">
                            <select ng-model="news.newsStatus" class="form-control mb-10">
                                <option ng-selected="news.newsStatus=='Activated'"
                                        value="Activated">Activated
                                </option>
                                <option ng-selected="news.newsStatus=='Deactivated'"
                                        value="Deactivated">Deactivated
                                </option>
                            </select>
                        </div>
                    </td>
                    <td data-title="'Actions'" style="width: 8%">
                        <a ng-if="!news.$edit" href="" ng-click="editRow(news)" class="text-primary text-uppercase text-strong text-sm mr-10">Edit</a>
                        <a ng-if="news.$edit" href="" type="submit" ng-click="saveEditedRow(editRowForm.$valid,news)" class="text-success text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Save</a>
                        <a ng-if="news.$edit" href="" ng-click="cancelEditRow(news)" class="text-danger text-uppercase text-strong text-sm mr-10 inline-block" style="margin-top: 7px">Cancel</a>
                    </td>
                </tr>
            </form>
        </table>
</div>



    </div>
</div>

</div>

</div>
</div>


</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">

    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>
