<div class="concept-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>Access</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>

                        <text class="uppercase orange-text">Denied</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4">
                <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">



<div class="section mid-section tree-section access-denied-section">
    <div class="container clearfix">

        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="text-danger open-sans uppercase header-text">Access Denied</h1>

                    <p class="text-danger lato sub-header-text">Sorry, You are not authorized to see this page.
                    </p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="dist/images/404.png"/>
            </div>
        </div>



    </div>
</div>


</div>
</section>


