

<header top-header id="header" headerStyle="{{headerStyle}}"  class="transparent-header"  ng-class="{light:'light', dark:'dark'}[headerStyle]" >


    <div id="header-wrap">

        <div class="container clearfix">

            <div id="main-navbar-toggle"><i class="fa fa-bars"></i></div>


            <!-- ============================================
            =================== Branding ====================
            ============================================= -->
            <div id="branding">

                <a ui-sref="app.dashboard" class="brand-normal" data-light-logo="assets/images/logo/xmas/logo.png"><img
                        src="{{appHostPath}}/dist/images/logo/xmas/logo-dark.png" alt="Student2Student"></a>
                <a ui-sref="app.dashboard" class="brand-retina" data-light-logo="assets/images/logo/xmas/logo@2x.png"><img
                        src="{{appHostPath}}/dist/images/logo/xmas/logo@2x-dark.png" alt="Student2Student"></a>
            </div>
            <!-- #branding end -->


            <!-- ============================================
            ================= Main Navbar ===================
            ============================================= -->

            <nav id="main-navbar">

                <ul>
                    <li ng-class="{home:'active'}[activePage]"><a ui-sref="app.dashboard">Home</a></li>
                    <li ng-class="{howItWorks:'active'}[activePage]"><a ui-sref="app.howItWorks">How It Works</a>
                        <ul class="menu-right-position">
                            <li><a ui-sref="app.conceptVideo"><i class="fa fa-video-camera"></i>&nbsp;&nbsp;&nbsp;Concept Video</a></li>
                            <li ng-show="!loggedIn"><a ui-sref="app.tellFriends"><i class="fa  fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Tell A Friend</a></li>
                            <li ng-show="loggedIn && !adminUser"><a ui-sref="app.promoteMyStore"><i class="fa  fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Tell A Friend</a></li>

                        </ul>
                    </li>
                    <li ng-hide="loggedIn && adminUser" ng-class="{sellBook:'active'}[activePage]"><a ui-sref="app.sellBook">Sell Books</a>
                    <li ng-hide="loggedIn && adminUser" ng-class="{buyBook:'active'}[activePage]"><a ui-sref="app.bookBuy">Buy Books</a>


                    <li ng-show="!loggedIn" ng-class="{signup:'active'}[activePage]"><a ui-sref="app.signup">Join</a>
                    <li ng-show="!loggedIn" ng-class="{login:'active'}[activePage]"><a ui-sref="app.login">Sign In</a>
                    <li ng-class="{news:'active'}[activePage]"><a ui-sref="app.news">News</a></li>

                    <li ng-class="{helpAndSafety:'active'}[activePage]"><a ui-sref="app.safetyFirst">Help & Safety</a>
                        <ul class="menu-right-position">
                            <li><a ui-sref="app.contactUs"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;Contact Us</a></li>
                            <li><a ui-sref="app.scamAndFraud"><i class="fa  fa-user-times"></i>&nbsp;&nbsp;&nbsp;Scam & Fraud</a></li>
                            <li><a ui-sref="app.faq"><i class="fa fa-question"></i>&nbsp;&nbsp;&nbsp;FAQ</a></li>
                            <li><a ui-sref="app.safetyFirst"><i class="fa  fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;Safety First</a></li>
                        </ul>
                    </li>

                    <li ng-show="loggedIn && !adminUser" ng-class="{messageBoard:'active'}[activePage]"><a ui-sref="app.messageBoard" class="notification-a message-board-a"><i class="fa fa-comments-o"></i><span ng-show="messageNotificationCounter>0" class="badge bg-lightred">{{messageNotificationCounter}}</span></a>

                        <ul class="menu-right-position notification-ul">
                            <li>Messages</li>
                            <li class="text-center" ng-show="messageNotificationCounter==0">No new messages.</li>
                            <li data-ng-repeat="message in messageNotifications track by $index"><a ui-sref="app.messageBoard">
                                <dl class="dl-horizontal">
                                    <dt><i class="fa fa-phone fa-2x"></i></dt>
                                    <dd><text class="italic">{{message.sender}}</text> has sent you a message</dd>
                                </dl>
                            </a></li>

                        </ul>

                    </li>

                    <li ng-show="loggedIn && !adminUser" ><a class="notification-a"><i class="fa fa fa-bell-o"></i><span ng-show="notificationCounter>0" class="badge bg-lightred">{{notificationCounter}}</span></a>

                        <ul class="menu-right-position notification-ul">
                            <li>Notifications</li>
                            <li class="text-center" ng-show="notificationCounter==0">No new notifications.</li>
                            <li data-ng-repeat="notification in notifications track by $index"><a ui-sref="app.sellingBookList">
                                <dl class="dl-horizontal">
                                    <dt><i class="fa fa-phone fa-2x"></i></dt>
                                    <dd><text class="italic">{{notification.buyerNickName}}</text> has contacted you for <text class="italic">"{{notification.bookTitle}}"</text></dd>
                                </dl>
                            </a></li>

                        </ul>

                    </li>


                    <li ng-show="loggedIn && !adminUser" ng-class="{user:'active'}[activePage]"><a href="#">Hi, <img class="header-profile-picture" ng-src="{{imageHostPath}}{{profilePicture}}"/></a>
                        <ul  class="menu-right-position">
                            <li><a ui-sref="app.messageBoard"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;&nbsp;Message Board <span ng-show="messageNotificationCounter>0" class="badge badge-primary">{{messageNotificationCounter}}</span></a></li>
                            <li><a ui-sref="app.sellingBookList"><i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;Selling Books <span ng-show="notificationCounter>0" class="badge badge-primary">{{notificationCounter}}</span></a></li>
                            <li><a ui-sref="app.contactedBookList"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Buying Books</a></li>
                            <li><a ui-sref="app.sellArchive"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;&nbsp;Sell Archive</a></li>
                            <li><a ui-sref="app.buyArchive"><i class="fa fa-archive"></i>&nbsp;&nbsp;&nbsp;Buy Archive</a></li>
                            <li><a ui-sref="app.wishList"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;&nbsp;WishList</a></li>
                            <li><a ui-sref="app.mySellPage({username:username})"><i class="fa fa-map-o"></i>&nbsp;&nbsp;&nbsp;My Sell Page</a></li>
                            <li><a ui-sref="app.promoteMyStore"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;Promote My Store</a></li>
                            <li><a ui-sref="app.profile"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a></li>
                            <li><a ui-sref="app.changePassword"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Change Password</a></li>
                            <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>
                    <li ng-show="loggedIn && adminUser" ng-class="{user:'active'}[activePage]"><a href="#">Hi, {{username}}</a>
                        <ul  class="menu-right-position">
                            <li><a ui-sref="app.adminUserReport"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;&nbsp;User Report</a></li>
                            <li><a ui-sref="app.adminUniversityReport"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;&nbsp;University Report</a></li>
                            <li><a ui-sref="app.adminBookDealReport"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;&nbsp;Book Report</a></li>
                            <li><a ui-sref="app.googleAnalyticsReport"><i class="fa fa-google"></i>&nbsp;&nbsp;&nbsp;Google Report</a></li>
                            <li><a ui-sref="app.adminUserBrowsingReport"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;&nbsp;Browsing Report</a></li>
                            <li><a ui-sref="app.userList"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;User Management</a></li>
                            <li><a ui-sref="app.universityManagement"><i class="fa fa-university"></i>&nbsp;&nbsp;&nbsp;Manage University</a></li>
                            <li><a ui-sref="app.allBookDeals"><i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;Book Deals</a></li>
                            <li><a ui-sref="app.newsManagement"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;News Management</a></li>
                            <li><a ui-sref="app.quotes"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Quotes</a></li>
                            <li><a ui-sref="app.newsletter"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;Newsletter</a></li>
                            <li><a ui-sref="app.log"><i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Logs</a></li>
                            <li><a ui-sref="app.databases"><i class="fa fa-database"></i>&nbsp;&nbsp;&nbsp;Databases</a></li>
                            <li><a ui-sref="app.changePassword"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Change Password</a></li>
                            <li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Log Out</a></li>
                        </ul>

                    </li>



                </ul>


                <!-- ==============================================
                ================= Search Toggle ===================
                =============================================== -->

                <!--<div id="search-toggle"> <span>|</span> <a href="#"><i class="fa fa-search"></i></a> </div>-->


            </nav>
            <!-- #main-navbar end -->

        </div>

    </div>

</header>


<div class="view-container" ui-view-container>

    <section ui-view autoscroll="false"></section>
</div>

<section ng-include="'views/web/footer.html'" id="footer" class="{{main.settings.navbarHeaderColor}}"></section>
