<div class="concept-page-head-banner concept-video-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-video-page-banner-first-text  text-white uppercase"><strong>CONCEPT
                    VÍDEO</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase akashi-text ">&nbsp;&nbsp;Student 2</text>
                        <text class="uppercase orange-text">Student</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4 ">
                <img alt="student2student" class="img-responsive margin-auto"
                     src="{{appHostPath}}/dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>

<div class="concept-video-page-text-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">

                <p class="lato white-text uppercase header-text"><strong>Ver cómo funciona</strong></p>

                <p class="lato white-text sub-header-text">Aprenda en 2 minutos cómo funciona el Estudiante 2
                    Estudiante. Simplemente no puede ser más fácil que esto.</p>

            </div>
            <div class="col-md-2">
                <a ui-sref="app.conceptVideo" class="myBtn blue-btn white-border-btn margin-top-50">English</a>
            </div>

        </div>


    </div>


</div>


<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one  play-video-section ">
    <div class="container clearfix quote-container-homepage video-container">
        <div class="row">

            <div class="col-md-12 mid-three-uni-quote-col text-center">
                <div class="concept-video-page-mid-one-odd-image">

                    <div class="hidden-lg hidden-md hidden-sm hidden-xs visible-xxs">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/uja55f5sCbA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="300" height="169" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0"
                                allowfullscreen></iframe>-->
                    </div>
                    <div class="visible-xs hidden-for-xxs">
                        <iframe width="450" height="253" src="https://www.youtube.com/embed/uja55f5sCbA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="450" height="253" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0"
                                allowfullscreen></iframe>-->
                    </div>
                    <div class="visible-sm">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/uja55f5sCbA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0"
                                allowfullscreen></iframe>-->
                    </div>

                    <div class="visible-lg visible-md">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/uja55f5sCbA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="853" height="480" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0"
                                allowfullscreen></iframe>-->
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<div id="how-it-works" class="section mid-section tree-section concept-video-page ">
<div class="container clearfix">


<div class="row">
    <div class="col-md-12 text-center">
        <div class="blue-circle"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div>
    </div>
</div>


<div class="row">


    <div class="col-md-6 border-right-blue padding-right-none min-height-1300">

        <div class="padding-right-30">
            <p class="mid-one-details lato">

                <text class="orange-text px-30"><strong>Asi que,</strong></text>
                <!-- you’ve been here before, right? You’re at the campus bookstore counter with all the
                 other
                 students? You’re pretty horrified that the textbooks that your professors casually
                 insist
                 you buy cost an exorbitant amount of money?<br/><br/>

                 And reselling books from last year back to the store is even worse. It’s enough to make
                 you
                 sick, right? This price gouge creates a panic that grips students, worldwide, every
                 semester, every year.<br><br/>

                 We know how you feel, and we think that it’s time for a change. Like, a real change.<br><br/>-->


                Ya has estado aquí antes, ¿verdad?. ¿Estás en el mostrador de la librería del campus con todos tus
                compañeros?. ¿Estás horrorizado de que los libros de texto que tus profesores insisten casualmente en
                que compres, cuestan una cantidad exorbitante de dinero?<br/><br/>

                Y revender los libros del año pasado de nuevo a la tienda es aún peor. Es suficiente para hacer que
                enfermes, ¿verdad?. Este aumento de precio crea un pánico que se apodera de los estudiantes en todo el
                mundo, cada semestre, cada año.<br/><br/>

                Sabemos cómo te sientes, y creemos que es el momento para un cambio. Un cambio real.<br/><br/>


                Aquí en Student 2 Student, tenemos la intención de revolucionar el mundo de los libros de texto de la
                Universidad.

                Student 2 Student es una plataforma para que puedas vender tus viejos libros de texto por dinero en
                efectivo, y comprar los nuevos libros de texto que necesitas, en buen uso, por un coste mínimo. Libros
                de texto baratos pueden ser tu realidad, ¡no sólo un sueño!

            </p>
            <blockquote class="orange-blockquote">
                <text class="lato orange-text"><strong>Student 2 Student es una plataforma para que puedas vender tus
                    viejos libros de texto por dinero en
                    efectivo</strong></text>
            </blockquote>


            <p class="mid-one-details lato">

                y comprar los nuevos libros de texto que necesitas, en buen uso, por un coste mínimo. Libros
                de texto baratos pueden ser tu realidad, ¡no sólo un sueño!

            </p>
        </div>


        <div class="text-right visible-lg visible-md">
            <img alt="Student2Student.com is a platform for you to sell
                            your old textbooks for cash"
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoSecondImage.png"/>
        </div>
        <div class="text-center hidden-lg hidden-md">
            <img alt="Student2Student.com is a platform for you to sell
                            your old textbooks for cash"
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoSecondImage_small.png"/>
        </div>
        <br/>

        <div class="padding-right-30">
            <p class="mid-one-details lato">
                <text class="blue-text px-30"><strong>Usar</strong></text>

                Student 2 Student es muy fácil, rápido y gratis. De verdad, lo es:

                En primer lugar, tú encuentras tu campus. En segundo lugar, encuentras el libro de texto que necesitas.
                Busca en línea por título, autor, o utilizando el ISBN (ya sabes, ese número en la parte posterior por
                el código de barras). En tercer lugar, haz contacto con el vendedor para acordar la fecha y el lugar de
                encuentro. Y luego, ¡listo, ya está!. Los costes de los libros de texto no volverán a ser exorbitantes.
                <br><br>


                Si no puedes encontrar el libro de texto que necesitas en tu campus universitario,
            </p>
            <blockquote class="green-blockquote">
                <text class="lato blue-text"><strong>sólo tienes que utilizar nuestra función de comparación de precios
                    práctica-excelente</strong></text>
            </blockquote>

            <p class="mid-one-details lato">
                que te dirigirá al lugar más barato en línea para comprar el libro usado.<br/><br/>


                ¿Ya terminaste la materia? ¿Has conseguido el crédito? ¿Qué vas a hacer con tus libros usados ahora?.
            </p>
        </div>
        <div class="text-right margin-top-20 visible-lg visible-md">
            <img alt="Just use our handy-dandy price comparison
                            feature" src="{{appHostPath}}/dist/images/concept_video/conceptVideoFourthImage.png"/>
        </div>
        <div class="text-center margin-top-20 hidden-lg hidden-md">
            <img alt="Just use our handy-dandy price comparison
                            feature" src="{{appHostPath}}/dist/images/concept_video/conceptVideoFourthImage_small.png"/>
        </div>

    </div>


    <div class="col-md-6 border-left-blue padding-left-none min-height-1300">


        <div class="margin-top-120 visible-lg visible-md">
            <img alt="Or, you could make a wise decision and just list it
                            online
                            with us in minutes"
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoFirstImage.png"/>
        </div>

        <div class="margin-top-120 hidden-lg hidden-md text-center">
            <img alt="Or, you could make a wise decision and just list it
                            online
                            with us in minutes"
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoFirstImage_small.png"/>
        </div>

        <div class="padding-left-30">
            <p class="mid-one-details  lato mid-one-details">
                <text class="blue-text px-30"><strong>Bien,</strong></text>


                tienes dos opciones: puedes publicar en el tablón de anuncios del campus, entre los cientos o miles de
                otras
                notas ...y ya sabes, simplemente se perderán en la confusión.
            </p>
            <blockquote class="green-blockquote">
                <text class="lato blue-text"><strong>O bien, puedes tomar una decisión sabia y simplemente publicarla en
                    línea con nosotros en cuestión de minutos</strong></text>
            </blockquote>

            <p class="mid-one-details  lato mid-one-details">
                De esta manera, podrás encontrar un hogar para los libros de texto universitarios usados, que de otro
                modo sólo terminarían como topes de las puertas o colectores de polvo. Es decir, que no vas a leerlos de
                nuevo ¿cierto?. <br/><br/>

                Aquí en Student 2 Student, somos todo sobre la seguridad y prevención de fraudes. Tú eliges cómo
                funciona el
                contacto, y quien se pone en contacto con quien. Sólo tienes que elegir la cantidad de información que
                deseas proporcionar a tu contacto. Unicamente el apodo que elijas se da a conocer.<br/><br/>

                Un par de consejos para recordar: Reúnete siempre en un lugar público. Y, por supuesto, dile siempre a
                alguien cuándo y dónde vas a reunirte. La mayoría de las personas son estudiantes normales, al igual que
                tú;
                pero es sólo por precaución, ya que esto te ayudará a evitar cualquier tipo de personajes pintorescos.


            </p>

        </div>


        <div class="visible-lg visible-md">
            <img alt="Let's face it. Getting through school can be tough on
                            your pocketbook."
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoThirdImage.png"/>
        </div>
        <div class="hidden-lg hidden-md text-center">
            <img alt="Let's face it. Getting through school can be tough on
                            your pocketbook."
                 src="{{appHostPath}}/dist/images/concept_video/conceptVideoThirdImage_small.png"/>
        </div>

        <div class="padding-left-30">
            <p class="mid-one-details lato margin-top-quarter">

                <text class="orange-text px-30"><strong>Por lo tanto,</strong></text>
                para recapitular sobre lo que hacemos. Es completamente gratis comprar y vender libros de texto en
                Student 2 Student, y en tu propio campus universitario o Universidad. Tendrás la oportunidad de hacer
                intercambios en efectivo y de inmediato. No hay que esperar para el envío u otros problemas similares.
                Nuestra función de comparación de precios es muy interesante y siempre te apuntará en la dirección
                correcta, si no puedes encontrar los libros de texto baratos que necesitas en tu campus.
            </p>
            <blockquote class="orange-blockquote">
                <text class="lato orange-text"><strong>
                    Seamos sinceros. Pasar a través de la escuela puede ser costoso para tu bolsillo. </strong></text>
            </blockquote>
            <p class="mid-one-details lato margin-top-quarter last-special-div">
                ¿Por qué no te das un descanso? Visita www.student2student.com hoy. Compra y vende libros de texto
                utilizados de una forma que tenga sentido. Y ahórrale dinero a tus bolsillos.


            </p></div>

    </div>


</div>

<div class="row visible-lg visible-md">


    <div class="col-md-12 mid-one-col-root text-center">

        <div class="">
            <img src="{{appHostPath}}/dist/images/concept_video/conceptVideoLastPic.png"/>
        </div>


    </div>


</div>


</div>
</div>


</div>
</section>

<div class="concept-video-page-text-footer">
    <div class="container clearfix">


        <div class="row concept-banner-row concept-video-buttons">

            <div class="col-md-6 ">

                <p class="lato white-text uppercase header-text"><strong>Buy or sell textbooks now</strong></p>

                <p class="lato white-text sub-header-text">Buy directly from other students and save big</p>

            </div>

            <div class="col-md-6 text-center">
                <a ui-sref="app.sellBook" class="myBtn orange-btn">Sell Books</a>
                <a ui-sref="app.bookBuy" class="myBtn blue-btn">Buy Books</a>

            </div>


        </div>


    </div>


</div>
