<div class="concept-page-head-banner concept-video-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-video-page-banner-first-text  text-white uppercase"><strong>Concept
                    Video</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase akashi-text ">&nbsp;&nbsp;Student 2</text>
                        <text class="uppercase orange-text">Student</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4 ">
                <img alt="student2student" class="img-responsive margin-auto" src="{{appHostPath}}/dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>

<div class="concept-video-page-text-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">

                <p class="lato white-text uppercase header-text"><strong>See how it works</strong></p>

                <p class="lato white-text sub-header-text">Learn in 2 minutes how Student 2 Student works. It just can't
                    get any easier than this.</p>

            </div>
            <div class="col-md-2">
                <a ui-sref="app.conceptVideoSpanish" class="myBtn blue-btn white-border-btn margin-top-50">Spanish</a>
            </div>

        </div>


    </div>


</div>


<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one  play-video-section ">
    <div class="container clearfix quote-container-homepage video-container">
        <div class="row">

            <div class="col-md-12 mid-three-uni-quote-col text-center">
                <div class="concept-video-page-mid-one-odd-image">

                    <div class="hidden-lg hidden-md hidden-sm hidden-xs visible-xxs">
                        <iframe width="300" height="169" src="https://www.youtube.com/embed/5rJ0rrMyQuA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="300" height="169" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                    <div class="visible-xs hidden-for-xxs">
                        <iframe width="450" height="253" src="https://www.youtube.com/embed/5rJ0rrMyQuA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="450" height="253" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                    <div class="visible-sm">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/5rJ0rrMyQuA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0" allowfullscreen></iframe>-->
                    </div>

                    <div class="visible-lg visible-md">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/5rJ0rrMyQuA" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="853" height="480" src="https://www.youtube.com/embed/Qb3tUvLRehI" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<div id="how-it-works" class="section mid-section tree-section concept-video-page ">
    <div class="container clearfix">


        <div class="row">
            <div class="col-md-12 text-center">
                <div class="blue-circle"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div>
            </div>
        </div>


        <div class="row">


            <div class="col-md-6 border-right-blue padding-right-none min-height-1150">

                <div class="padding-right-30">
                    <p class="mid-one-details lato">

                        <text class="orange-text px-30"><strong>So,</strong></text>
                        you’ve been here before, right? You’re at the campus bookstore counter with all the
                        other
                        students? You’re pretty horrified that the textbooks that your professors casually
                        insist
                        you buy cost an exorbitant amount of money?<br/><br/>

                        And reselling books from last year back to the store is even worse. It’s enough to make
                        you
                        sick, right? This price gouge creates a panic that grips students, worldwide, every
                        semester, every year.<br><br/>

                        We know how you feel, and we think that it’s time for a change. Like, a real change.<br><br/>
                        Here at Student2Student.com, we plan to revolutionize the college textbook world, one
                        subject at
                        a time.
                    </p>
                    <blockquote class="orange-blockquote">
                        <text class="lato orange-text"><strong>Student2Student.com is a platform for you to sell
                            your old textbooks for cash</strong></text>
                    </blockquote>


                    <p class="mid-one-details lato">

                        and buy the new, well, used textbooks that you need for a fraction of the cost. Cheap
                        textbooks can be your reality, not just your dream!

                    </p>
                </div>


                <div class="text-right visible-lg visible-md">
                    <img alt="Student2Student.com is a platform for you to sell
                            your old textbooks for cash"  src="{{appHostPath}}/dist/images/concept_video/conceptVideoSecondImage.png"/>
                </div>
                <div class="text-center hidden-lg hidden-md">
                    <img alt="Student2Student.com is a platform for you to sell
                            your old textbooks for cash" src="{{appHostPath}}/dist/images/concept_video/conceptVideoSecondImage_small.png"/>
                </div>
                <br/>

                <div class="padding-right-30">
                    <p class="mid-one-details lato">
                        <text class="blue-text px-30"><strong>Using</strong></text>
                        Student2Student.com is super easy, fast, and free. No,
                        really, it is. First, you find your campus. Second, you find the textbook that you need.
                        Search online by title, author, or by using the ISBN (you know, that number on the back
                        by the barcode?) Third, make contact with the seller to arrange a meeting time and place.
                        And then, hey presto, you’re done! No more exorbitant textbook costs!<br><br>

                        If you can’t find the textbook you need on your college campus,
                    </p>
                    <blockquote class="green-blockquote">
                        <text class="lato blue-text"><strong>Just use our handy-dandy price comparison
                            feature</strong></text>
                    </blockquote>

                    <p class="mid-one-details lato">
                        which will direct you to the cheapest place
                        online to buy the used book.<br/><br/>


                        Done with the class? Earned the credit? What are you going to do with your used books now?
                    </p>
                </div>
                <div class="text-right margin-top-20 visible-lg visible-md">
                    <img alt="Just use our handy-dandy price comparison
                            feature"  src="{{appHostPath}}/dist/images/concept_video/conceptVideoFourthImage.png"/>
                </div>
                <div class="text-center margin-top-20 hidden-lg hidden-md">
                    <img alt="Just use our handy-dandy price comparison
                            feature"  src="{{appHostPath}}/dist/images/concept_video/conceptVideoFourthImage_small.png"/>
                </div>

            </div>


            <div class="col-md-6 border-left-blue padding-left-none min-height-1150">


                <div class="margin-top-120 visible-lg visible-md">
                    <img alt="Or, you could make a wise decision and just list it
                            online
                            with us in minutes" src="{{appHostPath}}/dist/images/concept_video/conceptVideoFirstImage.png"/>
                </div>

                <div class="margin-top-120 hidden-lg hidden-md text-center" >
                    <img alt="Or, you could make a wise decision and just list it
                            online
                            with us in minutes" src="{{appHostPath}}/dist/images/concept_video/conceptVideoFirstImage_small.png"/>
                </div>

                <div class="padding-left-30">
                    <p class="mid-one-details  lato mid-one-details">
                        <text class="blue-text px-30"><strong>Well,</strong></text>
                        you could post it on the campus bulletin board, among the hundreds (thousands?) of
                        other notes… you know it’ll just get lost in the shuffle.
                    </p>
                    <blockquote class="green-blockquote">
                        <text class="lato blue-text"><strong>Or, you could make a wise decision and just list it
                            online
                            with us in minutes</strong></text>
                    </blockquote>

                    <p class="mid-one-details  lato mid-one-details">
                        This way, you’ll find a home for those used college textbooks that would otherwise just end up
                        as door stops or dust collectors. I mean, you’re not going to actually read them again, are you?<br/><br/>

                        Here at Student2Student.com, you choose how the contact works, and who gets in touch with who.
                        We’re all about safety and preventing scams. You choose how much information you want to
                        provide to your contact. Only the nickname that you choose is disclosed.<br/><br/>

                        A couple tips to remember: always meet in a public place. And of course, always tell someone
                        when and
                        where you plan to meet. Most people are normal students, just like you, but just a little bit
                        of precaution like this will help you to avoid any sketchy characters.

                    </p>

                </div>


                <div class="visible-lg visible-md">
                    <img alt="Let's face it. Getting through school can be tough on
                            your pocketbook." src="{{appHostPath}}/dist/images/concept_video/conceptVideoThirdImage.png"/>
                </div>
                <div class="hidden-lg hidden-md text-center">
                    <img alt="Let's face it. Getting through school can be tough on
                            your pocketbook." src="{{appHostPath}}/dist/images/concept_video/conceptVideoThirdImage_small.png"/>
                </div>

                <div class="padding-left-30">
                    <p class="mid-one-details lato margin-top-quarter">

                        <text class="orange-text px-30"><strong>So,</strong></text>
                        just to recap what we’re all about here. It’s completely free to buy and sell textbooks on
                        Student2Student.com, right on your own college or university campus. You’ll get to do immediate
                        cash exchanges so there’s no waiting for shipping or other similar hassles. Our price comparison
                        feature is really cool and will always point you in the right direction if you can’t find the
                        cheap textbooks you need on your campus.
                    </p>
                    <blockquote class="orange-blockquote">
                        <text class="lato orange-text"><strong>Let's face it. Getting through school can be tough on
                            your pocketbook.</strong></text>
                    </blockquote>
                    <p class="mid-one-details lato margin-top-quarter last-special-div">
                        Visit Student2Student.com today, buy and sell used textbooks in a way that makes
                        sense,
                        and put some money back in your pockets where it belongs!


                    </p></div>

            </div>


        </div>

        <div class="row visible-lg visible-md">


            <div class="col-md-12 mid-one-col-root text-center">

                <div class="">
                    <img src="{{appHostPath}}/dist/images/concept_video/conceptVideoLastPic.png"/>
                </div>


            </div>


        </div>


    </div>
</div>


</div>
</section>

<div class="concept-video-page-text-footer">
    <div class="container clearfix">


        <div class="row concept-banner-row concept-video-buttons">

            <div class="col-md-6 ">

                <p class="lato white-text uppercase header-text"><strong>Buy or sell textbooks now</strong></p>

                <p class="lato white-text sub-header-text">Buy directly from other students and save big</p>

            </div>

            <div class="col-md-6 text-center">
                <a ui-sref="app.sellBook" class="myBtn orange-btn">Sell Books</a>
                <a ui-sref="app.bookBuy" class="myBtn blue-btn">Buy Books</a>

            </div>


        </div>


    </div>


</div>
