<div class="concept-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-video-page-banner-first-text  text-white uppercase"><strong>Concept Videos</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;Student 2</text>
                        <text class="uppercase orange-text">Student</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4">
                <img src="dist/images/parallax/conceptpageHeaderLogo.png"/>
            </div>


        </div>


    </div>


</div>
<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-12 mid-three-uni-quote-col text-center">
                <div class="concept-video-page-mid-one-odd-image">
                    <iframe style="border:3px solid #FF530D !important; border-radius: 4px;" width="560" height="315" src="https://www.youtube.com/embed/lXvwHtAXAXQ" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <h2 class="orange-text uppercase lato mid-one-header-text"><strong>How it works</strong></h2>
                </div>

                <div>
                    <p class="grey-text lato mid-one-details">Learn in 2 minutes how Student 2 Student works. It just can't get any easier than this.
                    </p>
                </div>
            </div>


        </div>

    </div>
</div>




</div>
</section>


