<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-6">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Condition

                        </strong>

                    </p>

                    <p class=" text-right open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;of</text>
                        <text class="uppercase orange-text">use</text>
                    </strong></p>

                </div>

            </div>


            <div class="col-md-6 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-files-o" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">


                        <p>Welcome to student2student.com. Student 2 Student provides website features to you subject to
                            the following conditions. If you visit, trade or shop at Student 2 Student, you accept these
                            conditions. Please read them carefully. Should you object to any term or condition of the
                            Condition of Use, any guidelines, or any subsequent modifications thereto or become
                            dissatisfied with Student 2 Student in any way, your only recourse is to immediately
                            discontinue use of Student 2 Student.</p>

                        <p class="blue-text lato uppercase heading-text">PRIVACY</p>

                        <p>Please review our Privacy Policy, which also governs your visit to Student 2 Student, to
                            understand our practices. Your use of the Student 2 Student website or the Service signifies
                            acknowledgement of and agreement to our Privacy Policy.</p>

                        <p class="blue-text lato uppercase heading-text">MODIFICATIONS TO THIS AGREEMENT</p>

                        <p>We reserve the right, at our sole discretion, to change, modify or otherwise alter these
                            terms and conditions at any time. Such modifications shall become effective immediately upon
                            the posting thereof. You must review this agreement on a regular basis to keep yourself
                            apprised of any changes.</p>

                        <p class="blue-text lato uppercase heading-text">ELECTRONIC COMMUNICATIONS</p>

                        <p>When you visit Student 2 Student or send e-mails to us, you are communicating with us
                            electronically. You consent to receive communications from us electronically. We will
                            communicate with you by e-mail or by posting notices on this site. You agree that all
                            agreements, notices, disclosures and other communications that we provide to you
                            electronically satisfy any legal requirement that such communications be in writing.</p>

                        <p class="blue-text lato uppercase heading-text">COPYRIGHT</p>

                        <p>All content included on this site, such as text, graphics, logos, button icons, images, audio
                            clips, digital downloads, data compilations, and software, is the property of Student 2
                            Student or its content suppliers. The compilation of all content on this site is the
                            exclusive property of Student 2 Student. All software used on this site is the property of
                            Student 2 Student or its software suppliers.</p>

                        <p class="blue-text lato uppercase heading-text">LICENSE AND SITE ACCESS</p>

                        <p>Student 2 Student grants you a limited license to access and make personal use of this site
                            and not to download (other than page caching) or modify it, or any portion of it, except
                            with express written consent of Student 2 Student. This license does not include any resale
                            or commercial use of this site or its contents; any collection and use of any product
                            listings, descriptions, or prices; any derivative use of this site or its contents; any
                            downloading or copying of account information for the benefit of another merchant; or any
                            use of data mining, robots, or similar data gathering and extraction tools. This site or any
                            portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or
                            otherwise exploited for any commercial purpose without express written consent of Student 2
                            Student. You may not frame or utilize framing techniques to enclose any trademark, logo, or
                            other proprietary information (including images, text, page layout, or form) of Student 2
                            Student without express written consent. You may not use any meta tags or any other "hidden
                            text" utilizing Student 2 Student’s name or trademarks without the express written consent
                            of Student 2 Student. Any unauthorized use terminates the permission or license granted by
                            Student 2 Student. You are granted a limited, revocable, and nonexclusive right to create a
                            hyperlink to the home page of Student 2 Student so long as the link does not portray Student
                            2 Student, or its products or services in a false, misleading, derogatory, or otherwise
                            offensive matter. You may not use any Student 2 Student logo or other proprietary graphic or
                            trademark as part of the link without express written permission.</p>

                        <p class="blue-text lato uppercase heading-text">YOUR ACCOUNT</p>

                        <p>If you use this site, you are responsible for maintaining the confidentiality of your account
                            and password and for restricting access to your computer, and you agree to accept
                            responsibility for all activities that occur under your account or password. If you are
                            under 18, you may use Student 2 Student only with involvement of a parent or guardian.
                            Student 2 Student reserves the right to refuse service, terminate accounts, remove or edit
                            content, or cancel orders at their sole discretion.</p>

                        <p class="blue-text lato uppercase heading-text">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER
                            CONTENT</p>

                        <p>Visitors may post reviews, comments, photos, and other content; other communications; and
                            submit suggestions, ideas, comments, questions, or other information, <strong>so long as the
                                content is not illegal, obscene, threatening, defamatory, invasive of privacy,
                                infringing of intellectual property rights, or otherwise injurious to third parties or
                                objectionable and does not consist of or contain software viruses, political
                                campaigning, commercial solicitation, chain letters, mass mailings, or any form of
                                "spam."</strong> You may not use a false e-mail address, impersonate any person or
                            entity, or otherwise mislead as to the origin of a card or other content. Student 2 Student
                            reserves the right (but not the obligation) to remove or edit such content, but does not
                            regularly review posted content.</p>

                        <p>If you do post content or submit material, and unless we indicate otherwise, you grant
                            Student 2 Student a nonexclusive, royalty-free, perpetual, irrevocable, and fully
                            sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative
                            works from, distribute, and display such content throughout the world in any media. You
                            grant Student 2 Student and sublicensees the right to use the name that you submit in
                            connection with such content, if they choose. You represent and warrant that you own or
                            otherwise control all of the rights to the content that you post; that the content is
                            accurate; that use of the content you supply does not violate this policy and will not cause
                            injury to any person or entity; and that you will indemnify Student 2 Student for all claims
                            resulting from content you supply. Student 2 Student has the right but not the obligation to
                            monitor and edit or remove any activity or content. Student 2 Student takes no
                            responsibility and assumes no liability for any content posted by you or any third party.
                            You acknowledge that Student 2 Student does not pre-screen or approve Content, but that
                            Student 2 Student shall have the right (but not the obligation) in its sole discretion to
                            refuse, delete or move any Content that is available via the Service, for violating the
                            letter or spirit of the Condition of Use or for any other reason.</p>

                        <p class="blue-text lato uppercase heading-text">THIRD PARTY CONTENT, SITES, AND SERVICES</p>

                        <p>The Student 2 Student site and Content available through the Service may contain features and
                            functionalities that may link you or provide you with access to third party content which is
                            completely independent of Student 2 Student, including web sites, directories, servers,
                            networks, systems, information and databases, applications, software, programs, products or
                            services, and the Internet as a whole.</p>

                        <p>Your interactions with organizations and/or individuals found on or through the Service,
                            including payment and delivery of goods or services, and any other terms, conditions,
                            warranties or representations associated with such dealings, are solely between you and such
                            organizations and/or individuals. You should make whatever investigation you feel necessary
                            or appropriate before proceeding with any online or offline transaction with any of these
                            third parties.</p>

                        <p>You agree that Student 2 Student shall not be responsible or liable for any loss or damage of
                            any sort incurred as the result of any such dealings. If there is a dispute between
                            participants on this site, or between users and any third party, you understand and agree
                            that Student 2 Student is under no obligation to become involved. In the event that you have
                            a dispute with one or more other users, you hereby release Student 2 Student, its officers,
                            employees, agents and successors in rights from claims, demands and damages (actual and
                            consequential) of every kind or nature, known or unknown, suspected and unsuspected,
                            disclosed and undisclosed, arising out of or in any way related to such disputes and / or
                            our service. If you are a California resident, you waive California Civil Code Section 1542,
                            which says: "A general release does not extend to claims which the creditor does not know or
                            suspect to exist in his favor at the time of executing the release, which, if known by him
                            must have materially affected his settlement with the debtor."</p>

                        <p class="blue-text lato uppercase heading-text">CONDUCT</p>

                        <p>You agree not to post, email, or otherwise make available Content:</p>
                        <ul class="text-list">
                            <li><span>that is unlawful, harmful, threatening, abusive, harassing, defamatory, libelous, invasive of another\'s privacy, or is harmful to minors in any way.</span>
                            </li>
                            <li>
                                <span>that is pornographic or depicts a human being engaged in actual sexual activities.</span>
                            </li>
                            <li><span>that harasses, degrades, intimidates or is hateful toward an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age,
                        or disability;</span></li>
                            <li><span>that violates the Fair Housing Act by stating, in any notice or ad for the sale or rental of any dwelling, a discriminatory preference based on race, color, national origin,
                        religion, sex, familial status or handicap (or violates any state or local law prohibiting discrimination on the basis of these or other characteristics);</span>
                            </li>
                            <li><span>that violates federal, state, or local equal employment opportunity laws, including but not limited to, stating in any advertisement for employment a preference or
                        requirement based on race, color, religion, sex, national origin, age, or disability.</span>
                            </li>
                            <li><span>that includes personal or identifying information about another person without that person\'s explicit consent;</span>
                            </li>
                            <li><span>that is false, deceptive, misleading, deceitful, misinformative, or constitutes "bait and switch";</span>
                            </li>
                            <li><span>that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party, or Content that you do not have a right to make available under any
                        law or under Contractual or fiduciary relationships;</span></li>
                            <li><span>that constitutes or contains "affiliate marketing", "link referral code", "junk mail", "spam", "chain letters", "pyramid schemes", or unsolicited commercial advertisement;</span>
                            </li>
                            <li><span>that constitutes or contains any form of advertising or solicitation.</span></li>
                            <li><span>that includes links to commercial services or web sites, except as allowed by Student 2 Student.</span>
                            </li>
                            <li><span>that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or
                        hardware or telecommunications equipment;</span></li>
                            <li><span>that disrupts the normal flow of dialogue with an excessive amount of Content (flooding attack) to the Service, or that otherwise negatively affects other users\' ability to
                        use the Service; or</span></li>
                            <li><span>that employs misleading email addresses, or forged headers or otherwise manipulated identifiers in order to disguise the origin of Content transmitted through the
                        Service.</span></li>
                        </ul>
                        <br/>

                        <p class="blue-text lato sub-heading-text">Additionally, you agree not to:</p>
                        <ul class="text-list">
                            <li><span>contact anyone who has asked not to be contacted, or make unsolicited contact with anyone for any commercial purpose;</span>
                            </li>
                            <li><span>"stalk" or otherwise harass anyone;</span></li>
                            <li>
                                <span>collect personal data about other users for commercial or unlawful purposes;</span>
                            </li>
                            <li><span>use automated means, including spiders, robots, crawlers, data mining tools, or the like to download data from the Service. Unless expressly permitted by
                        Student 2 Student;</span></li>
                            <li><span>post non-local or otherwise irrelevant Content, repeatedly post the same or similar Content or otherwise impose an unreasonable or disproportionately large load on
                        our infrastructure;</span></li>
                            <li><span>attempt to gain unauthorized access to Student 2 Student’s computer systems or engage in any activity that disrupts, diminishes the quality of, interferes with the
                        performance of, or impairs the functionality of, the Service or the Student 2 Student website; or</span>
                            </li>
                            <li><span>use any form of automated device or computer program that enables the submission of postings on Student 2 Student without each posting being manually entered
                        by the author thereof (an "automated posting device"), including without limitation, the use of any such automated posting device to submit postings in bulk,
                        or for automatic submission of postings at regular intervals.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">NO-SPAM POLICY</p>

                        <p>You understand and agree that sending unsolicited email advertisements to Student 2 Student
                            email addresses or through Student 2 Student computer systems, which is expressly prohibited
                            by these Conditions, will use or cause to be used servers located in Switzerland. Any
                            unauthorized use of Student 2 Student computer systems is a violation of these
                            Conditions.</p>

                        <p class="blue-text lato uppercase heading-text">LIMITATIONS ON SERVICE</p>

                        <p>You acknowledge that Student 2 Student may establish limits concerning use of the Service,
                            including the maximum number of days that Content will be retained by the Service, the
                            maximum number and size of postings, email messages, or other Content that may be
                            transmitted or stored by the Service, and the frequency with which you may access the
                            Service. You agree that Student 2 Student has no responsibility or liability for the
                            deletion or failure to store any Content maintained or transmitted by the Service. You
                            acknowledge that Student 2 Student reserves the right at any time to modify or discontinue
                            the Service (or any part thereof) with or without notice, and that Student 2 Student shall
                            not be liable to you or to any third party for any modification, suspension or
                            discontinuance of the Service.</p>

                        <p class="blue-text lato uppercase heading-text">TERMINATION OF SERVICE</p>

                        <p>You agree that Student 2 Student, in its sole discretion, has the right (but not the
                            obligation) to delete or deactivate your account, block your email or IP address, or
                            otherwise terminate your access to or use of the Service (or any part thereof), immediately
                            and without notice, and remove and discard any Content within the Service, for any reason,
                            including, without limitation, if Student 2 Student believes that you have acted
                            inconsistently with the letter or spirit of the Condition of Use. Further, you agree that
                            Student 2 Student shall not be liable to you or any third-party for any termination of your
                            access to the Service. Further, you agree not to attempt to use the Service after said
                            termination.</p>

                        <p class="blue-text lato uppercase heading-text">COPYRIGHT COMPLAINTS</p>

                        <p>Student 2 Student respects the intellectual property of others. If you believe that your work
                            has been copied in a way that constitutes copyright infringement, please inform Student 2
                            Student.</p>

                        <p class="blue-text lato uppercase heading-text">PRODUCT DESCRIPTIONS</p>

                        <p>Student 2 Student attempts to be as accurate as possible. However, Student 2 Student does not
                            warrant that product descriptions or other content of this site is accurate, complete,
                            reliable, current, or error-free.</p>

                        <p class="blue-text lato uppercase heading-text">PRICING</p>

                        <p>Please note that Student 2 Student does not sell any products. You purchase from third-party
                            sellers using the Student 2 Student platform. Student 2 Student is not responsible for
                            third-party sellers\' price in case of a mispriced item.</p>

                        <p class="blue-text lato uppercase heading-text">OTHER BUSINESSES</p>

                        <p>Parties other than Student 2 Student, provide services, or sell product lines on this site.
                            In addition, we provide links to the sites of affiliated companies and certain other
                            businesses. We are not responsible for examining or evaluating, and we do not warrant the
                            offerings of, any of these businesses or individuals or the content of their Web sites.
                            Student 2 Student does not assume any responsibility or liability for the actions, product,
                            and content of all these and any other third parties. You should carefully review their
                            privacy statements and other conditions of use.</p>

                        <p class="blue-text lato uppercase heading-text">DISCLAIMER OF WARRANTIES AND LIMITATION OF
                            LIABILITY</p>

                        <p>THIS SITE AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) AND SERVICES
                            INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE ARE PROVIDED BY Student 2
                            Student ON AN "AS IS" AND "AS AVAILABLE" BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING.
                            Student 2 Student MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS
                            TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING
                            SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE,
                            UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT
                            YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Student 2 Student DISCLAIM
                            ALL WARRANTIES, EXPRESS OR IMPLIED. Student 2 Student DOES NOT WARRANT THAT THIS SITE;
                            INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR
                            OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE; THEIR SERVERS; OR E-MAIL SENT FROM
                            Student 2 Student ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Student 2 Student WILL
                            NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE OR FROM ANY
                            INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR
                            OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT,
                            INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN
                            WRITING. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION
                            OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE
                            DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL
                            RIGHTS.</p>

                        <p class="blue-text lato uppercase heading-text">APPLICABLE LAW</p>

                        <p>By visiting Student 2 Student, you agree that the laws of the state Zurich in Switzerland,
                            without regard to principles of conflict of laws, will govern these Conditions of Use and
                            any dispute of any sort that might arise between you and Student 2 Student.</p>

                        <p class="blue-text lato uppercase heading-text">SITE POLICIES, MODIFICATION, AND
                            SEVERABILITY</p>

                        <p>Please review our other policies, posted on this site. These policies also govern your visit
                            to Student 2 Student. We reserve the right to make changes to our site, policies, and these
                            Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or
                            for any reason unenforceable, that condition shall be deemed severable and shall not affect
                            the validity and enforceability of any remaining condition.</p>

                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


