<div class="contact-us-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">


            </div>
        </div>
    </div>
</div>


<section id="content">

<div class="content-wrap contact-us-page-content-wrap">

    <div class="container clearfix">

        <div class="row">


            <!-- BLOG POSTS -->
            <div class="col-sm-9 blog-posts contact-us-form-div">

                <div class="contact-page-left-side">

                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="lato form-page-header">Contact Us</h1>
                            <h4 class="lato">Tell student 2 student what is on your mind...</h4>
                        </div>
                        <div class="col-md-12">
                            <p class="grey-text lato">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dolor diam, egestas id
                                elit bibendum, laoreet sagittis odio. Praesent semper malesuada libero, egestas
                                fermentum erat gravida sed. Ut maximus, lectus vel ultrices dignissim, est tellus
                                tristique lorem, sed euismod dui orci vel risus.

                            </p>

                            <p class="grey-text lato">
                                Suspendisse tincidunt, turpis ac ultrices euismod, diam nibh imperdiet libero, sed
                                dictum metus elit id diam. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </p>
                        </div>
                    </div>

                    <form cg-busy="{promise:contactUsPromise}" name="contactUsForm" role="form" ng-submit="sendMessage(contactUsForm.$valid)" submit-validate novalidate class="form-validation">
                        <div class="row contact-form-start-div">


                            <div class="col-md-6">
                                <text class="lato px-18">Full Name *</text>
                                <br/><br/>

                                <div ng-class="{ 'has-error' : contactUsForm.fullName.$invalid && !contactUsForm.fullName.$pristine, 'has-success' : contactUsForm.fullName.$valid && !contactUsForm.fullName.$pristine}">

                                    <input type="text" class="form-control" name="fullName" ng-model="fullName" placeholder="Your Full Name"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.fullName.$invalid && !contactUsForm.fullName.$pristine">Full Name is required.</span>

                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <text class="lato px-18">Email *</text>
                                <br/><br/>

                                <div ng-class="{ 'has-error' : contactUsForm.email.$invalid && !contactUsForm.email.$pristine, 'has-success' : contactUsForm.email.$valid && !contactUsForm.email.$pristine}">

                                    <input type="email" class="form-control" name="email" ng-model="email" placeholder="you@yourmail.com"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.email.$invalid && !contactUsForm.email.$pristine">Email is required.</span>

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">Subject *</text>
                                <br/><br/>

                                <div ng-class="{ 'has-error' : contactUsForm.subject.$invalid && !contactUsForm.subject.$pristine, 'has-success' : contactUsForm.subject.$valid && !contactUsForm.subject.$pristine}">

                                    <input type="text" class="form-control" name="subject" ng-model="subject" placeholder="Give Subject of your query"
                                           required/>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.subject.$invalid && !contactUsForm.subject.$pristine">Subject is required.</span>

                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">Your Message *</text>
                                <br/><br/>

                                <div ng-class="{ 'has-error' : contactUsForm.message.$invalid && !contactUsForm.message.$pristine, 'has-success' : contactUsForm.message.$valid && !contactUsForm.message.$pristine}">

                                    <textarea type="text" class="form-control" name="message" placeholder="Write the message..."
                                              ng-model="message" required></textarea>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.message.$invalid && !contactUsForm.message.$pristine">Your Message is required.</span>

                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-12">
                                <text class="lato px-18">I want :</text>
                                <br/><br/>

                                <div ng-class="{ 'has-error' : contactUsForm.want.$invalid && !contactUsForm.want.$pristine, 'has-success' : contactUsForm.want.$valid && !contactUsForm.want.$pristine}">

                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Feedback" required><i></i> Feedback
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Administrative Support" required><i></i> Administrative Support
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Technical Support" required><i></i> Technical Support
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Suggestion" required><i></i> Suggestion
                                    </label>
                                    <label class="checkbox-inline checkbox-custom">
                                        <input name="want" ng-model="want" type="radio"
                                               value="Question" required><i></i> Question ?
                                    </label>

                                    <p class="help-block">
                                        <span ng-show="contactUsForm.want.$invalid && !contactUsForm.want.$pristine">Your have to select what you want.</span>

                                    </p>
                                </div>

                            </div>

                        </div>

                        <div class="row">


                            <div class="col-md-12">
                                <button type="submit" class="myBtn orange-btn contact-form-submit-button">Send</button>

                            </div>

                        </div>

                    </form>
                </div>


            </div>
            <!-- END BLOG POSTS -->

            <!-- BLOG SIDEBAR -->
            <div class="col-sm-3 sidebar contact-us-page-right-bar">

                <div class="blue-background right-head-text">
                    <p class="white-text lato px-16">You didn’t find your university? Go <a ui-sref="app.addUniversity">here</a>
                        and add it to Student 2 Student automatically
                    </p>
                </div>
                <div class="white-background right-head-text text-center right-white-div">
                    <div class="follow-us-head-text">
                        <span class="follow-us-header lato orange-text uppercase px-16"><strong>Follow
                            us</strong></span><br/>
                    </div>

                    <div class="follow-us-logos-div text-center">
                        <div class="follow-twitter white-text"><i class="fa fa-twitter fa-2x"></i></div>
                        <div class="follow-facebook  white-text"><i class="fa fa-facebook fa-2x"></i></div>
                    </div>
                    <div class="follow-us-head-text">
                        <span class=" follow-us-header lato orange-text uppercase px-16"><strong>quick
                            links</strong></span>
                    </div>

                    <div class="quick-links">
                        <ul class="footer-useful-links-ul lato grey-text">
                            <li>
                                <a ui-sref="app.faq">&nbsp;FAQ</a>
                            </li>
                            <li>
                                <a ui-sref="app.signup">&nbsp;Sign Up</a>
                            </li>
                            <li>
                                <a ui-sref="app.howItWorks">&nbsp;How It Works Video</a>
                            </li>
                            <li>
                                <a ui-sref="app.bookBuy">&nbsp;Buy a Book</a>
                            </li>
                            <li>
                                <a ui-sref="app.universityMap">&nbsp;University Map</a>
                            </li>

                        </ul>
                    </div>


                </div>

            </div>
            <!-- END BLOG SIDEBAR -->

        </div>
        <!-- blog -->


    </div>


</div>
</section>

