<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Disclaimer
                        </strong>
                    </p>

                </div>

            </div>


            <div class="col-md-3 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">


                        <p>Welcome to Student 2 Student. This is an independent web site and is not associated with any
                            specific college or university. The site provides website features to its members under the
                            following terms and conditions. If you visit, trade or shop at Student 2 Student, you agree
                            to accept these terms and conditions as written and are solely responsible for any exchange
                            of textbooks for money or vice versa. Please read these terms and conditions carefully and
                            click Accept to proceed. If you visit, trade or shop at Student 2 Student, you accept this
                            disclaimer. Please read it carefully.</p>

                        <p class="blue-text lato uppercase heading-text">DISCLAIMER</p>

                        <p>The service offered by Student 2 Student is not an e-commerce site and simply provides the
                            mechanism for students to connect virtually with other students for the purpose of buying
                            and selling used/new textbooks. Student 2 Student does NOT guarantee that a buyer will find
                            the textbook(s) for which he/she is searching, nor does it guarantee that textbook titles
                            published on the site will sell either for the asking price or at all. Student 2 Student
                            assumes NO responsibility or liability associated with the final outcome of any reservation
                            or exchange arranged using this site. Additionally, site members are completely responsible
                            for maintaining their own personal safety when leveraging the site’s service to set up an
                            exchange.</p>

                        <p class="blue-text lato uppercase heading-text">Recommendations for setting exchanges:</p>
                        <ul class="text-list">
                            <li><span>Set exchange arrangements to occur in public places</span></li>
                            <li><span>Exercise the COE (cash on exchange) method of payment</span></li>
                            <li><span>Provide limited personal information when setting exchanges up</span></li>
                        </ul>


                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


