<footer id="footer">

    <div class="footer-main">
        <div class="container">
            <div class="row">

                <div class="col-md-4 text-center-samll-device">

                    <div class="widget widget-about">
                        <img alt="student2student" class="img-responsive footer-main-image" src="{{appHostPath}}/dist/images/logo_and_text.png"/>



                        <p>Buy and sell textbooks directly with students at your university. Meet on-campus
                            to the deal. No shipping, no credit cards, no hassles... All Free!</p>

                        <a
                            ui-sref="app.howItWorks">
                        <div class="badge"><i class="fa fa-angle-right"></i></div>
                        Read more</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="float: right;"
                                ui-sref="app.conceptVideo">
                            <div class="badge"><i class="fa fa-angle-right"></i></div>
                            Watch the Concept</a>

                    </div>

                    <div class="social-div">
                        <div class="social_icon"><img alt="student2student facebook url" src="{{appHostPath}}/dist/images/footer/facebook_logo.png"/></div>
                        <div class="social_connect"><a target="_blank" href="https://www.facebook.com/student2student"><strong>Find Us</strong><br/>
                            on Facebook</a></div>
                        <div class="social_icon"><img alt="student2student twitter url" src="{{appHostPath}}/dist/images/footer/twitter_logo.png"/></div>
                        <div class="social_connect"><a target="_blank" href="https://www.twitter.com/St2StTextbook"><strong>Find Us</strong><br/>
                            on Twitter</a></div>


                    </div>

                </div>

                <div class="col-md-4 text-center">
                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>search amongst hundreds of booksellers and get the best price</strong></h4>

                        <div class="fslider" data-animation="slide" data-arrows="false">
                            <div class="flexslider reference-slider footer-silder">
                                <div class="slider-wrap">
                                    <flex-slider slide="brandImage in brandImages track by $index" animation="slide" direction="vertical" controlNav="false" directionNav="false">
                                        <li>
                                            <div class="slide">
                                                <ul class="footer-brands-ul">
                                                    <li data-ng-repeat="brand in brandImage.brands">
                                                        <img alt="{{brand.image}}" ng-src="{{appHostPath}}/{{brand.image}}"/>
                                                    </li>

                                                </ul>

                                            </div>
                                        </li>
                                    </flex-slider>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="col-md-4">

                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>Subscribe to our Newsletter</strong></h4>

                        <form cg-busy="{promise:newsletterPromise}" name="newsletterForm" submit-validate
                              ng-submit="addToNewsletter(newsletterForm.$valid)" role="form"
                              novalidate>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.email.$invalid && !newsletterForm.email.$pristine, 'has-success' : newsletterForm.email.$valid && !newsletterForm.email.$pristine}">

                                <input ng-model="user.newsLetterEmail" name="email" type="email"
                                       class="form-control subscribe-input" placeholder="Enter your Email"
                                       required="">

                                <p class="help-block">

                                </p>
                                <button class="myBtn myBtn-rounded search-homepage-btn subscribe-btn" type="submit">
                                    Subscribe Now
                                </button>

                            </div>
                        </form>


                    </div>

                    <div class="widget widget-newsletter mb-0">

                        <h4><strong>Useful Links</strong></h4>

                        <ul class="footer-useful-links-ul">
                            <li>
                                &nbsp;<a ui-sref="app.howItWorks">How Student 2 Student works</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.conceptVideo">Watch the Video</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.news">News</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.signup">Join</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.login">Sign In</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.universityMap">University Map</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.faq">FAQ</a>
                            </li>
                            <li>
                                &nbsp;<a ui-sref="app.contactUs">Contact Us</a>
                            </li>
                        </ul>


                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-5 copyright">
                    <p class="mb-0">Copyright &copy; 2007-2017, Student2Student.com. All Rights Reserved.</p>
                </div>
                <div class="col-md-7 copyright">
                    <p>
                        <a ui-sref="app.privacyPolicy">Privacy Policy :: </a>
                        <a ui-sref="app.disclaimer"> Disclaimer </a>
                        <a ui-sref="app.conditionOfUse">:: Condition of Use</a>
                    </p>
                </div>


            </div>
        </div>
    </div>

</footer>
