<footer id="footer">

    <div class="footer-main">
        <div class="container">
            <div class="row">

                <div class="col-md-4 text-center-samll-device">

                    <div class="widget widget-about">
                        <img src="assets/images/logo.png"/>

                        <!--<h2>Student2Student</h2>-->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a href="#">
                        <div class="badge"><i class="fa fa-angle-right"></i></div>
                        Read more</a>
                    </div>

                    <div class="social-div">
                        <div class="social_icon"><img src="assets/images/footer/facebook_logo.png"/></div>
                        <div class="social_connect"><a href="#"><strong>Find Us</strong><br/>
                            on Facebook</a></div>
                        <div class="social_icon"><img src="assets/images/footer/twitter_logo.png"/></div>
                        <div class="social_connect"><a href="#"><strong>Find Us</strong><br/>
                            on Twitter</a></div>


                    </div>

                </div>

                <div class="col-md-4">
                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>Search Hundreds of Booksellers and Get the Best Price</strong></h4>


                        <ul class="footer-brands-ul">
                            <li>

                                <img src="assets/images/footer/amazon_logo.png"/>


                            </li>
                            <li>
                                <img src="assets/images/footer/abe_logo.png"/>


                            </li>
                            <li>
                                <img src="assets/images/footer/chegg_logo.png"/>
                            </li>
                            <li>
                                <img src="assets/images/footer/half_logo.png"/>
                            </li>
                            <li>
                                <img src="assets/images/footer/tbl_logo.png"/>
                            </li>
                        </ul>


                    </div>
                </div>

                <div class="col-md-4">

                    <div class="widget widget-contact mt-20-md">
                        <h4><strong>Subscribe to our Newsletter</strong></h4>
                        <input type="email" class="form-control subscribe-input" placeholder="Enter your Email"
                               required="">
                        <br/>
                        <button class="myBtn myBtn-rounded search-homepage-btn subscribe-btn" type="submit">
                            Subscribe Now
                        </button>

                    </div>

                    <div class="widget widget-newsletter mb-0">

                        <h4><strong>Useful Links</strong></h4>

                        <ul class="footer-useful-links-ul">
                            <li>
                                &nbsp;Dashboard
                            </li>
                            <li>
                                &nbsp;Change Password
                            </li>
                            <li>
                                &nbsp;News
                            </li>
                            <li>
                                &nbsp;Contact
                            </li>
                            <li>
                                &nbsp;Support
                            </li>
                            <li>
                                &nbsp;FAQ
                            </li>
                        </ul>


                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md-4 copyright">
                    <p class="mb-0">Copyright &copy; 1999-2016, Student2Student.com. </p>


                </div>
                <div class="col-md-4"><p><a href="#">Privacy</a>, <a href="#">Policy</a>, <a href="#">Disclaimer</a>, <a
                        href="#">Condition
                    of Use</a></p></div>


            </div>
        </div>
    </div>

</footer>