<div class="concept-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-8">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>Why ?</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;Student 2</text>
                        <text class="uppercase orange-text">Student</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-4">
                <img alt="how it works" class="img-responsive margin-auto" src="{{appHostPath}}/dist/images/logo/xmas/logo@2x.png"/>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="how it works" du-smooth-scroll="how-it-works" class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageFirstPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="how-it-works" href=""><h2
                            class="orange-text uppercase lato mid-one-header-text"><strong>How it works</strong></h2>
                    </a>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="how it works" class="img-responsive margin-auto-small" src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">This is the easiest thing you’ll do all semester. No,
                        really.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">

                <div class="mid-one-style">
                    <img alt="why use student2student" class="img-responsive margin-auto-small" src="{{appHostPath}}/dist/images/concept/conceptPageSecondStyle.png"/>
                </div>
                <div>
                    <a href=""><img alt="why use student2student" du-smooth-scroll="why-student-2-student" class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageSecondPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a du-smooth-scroll="why-student-2-student" href=""><h2
                            class="tiya-text uppercase lato mid-one-header-text"><strong>Why use student 2 Student
                        ?</strong></h2></a>
                </div>

                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details middle">We’re the hassle-free way to buy textbooks and sell textbooks online, cheaply and locally.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <a href=""><img alt="watch concept video in 2 minutes" du-smooth-scroll="concept-video" class="img-responsive margin-auto-small"
                                    src="{{appHostPath}}/dist/images/concept/conceptPageThirdPic.png"/></a>
                </div>
                <div class="text-center-small">
                    <a href="" du-smooth-scroll="concept-video"><h2
                            class="blue-text uppercase lato mid-one-header-text"><strong>Watch our concept in
                        2 Minutes</strong></h2></a>
                </div>
                <div class="mid-one-style">
                    <img alt="watch concept video in 2 minutes" class="img-responsive margin-auto-small" src="{{appHostPath}}/dist/images/concept/conceptPageThirdStyle.png"/>
                </div>
                <div class="text-center-small">
                    <p class="grey-text lato mid-one-details">We’ve taken out the middle man and made getting cheap college textbooks easy!
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>


<div id="how-it-works" class="section mid-section tree-section">
    <div class="container clearfix">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="white-text open-sans uppercase header-text">How it works</h1>

                    <p class="white-text lato sub-header-text">This is the easiest thing you’ll do all semester. No,
                        really.<br/>
                        Here’s how the simple, fast, Student 2 Student system works to make your life easier:
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="white-circle"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-top border-right">


                <p class="mid-one-details white-text lato">Need to buy a used textbook? No problem. Search for it and
                    then contact the seller. Can’t find the used book you need? That’s no problem either. We’ll give you
                    a price comparison and tell you where you can get the cheapest textbooks!


                </p>


            </div>


            <div class="col-md-6 mid-one-col-top border-left padding-left-none">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 1" class="large-pic" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic.png"/>
                    <img alt="how it works step 1" class="small-pic margin-auto" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFirstPic_small.png"/>


                </div>
                <p class="white-text lato mid-one-details step1">Step 01</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right padding-right-none">

                <div class="mid-two-first-pic text-right">
                    <img alt="how it works step 2"  class="large-pic" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic.png"/>
                    <img alt="how it works step 2" class="small-pic margin-auto" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoSecondPic_small.png"/>
                </div>
                <p class="white-text lato mid-one-details step2 text-right">Step 02</p>

            </div>


            <div class="col-md-6 border-left mid-one-col-mid">

                <p class="mid-one-details white-text lato mid-one-details">We’ll save you the hassle of having to look
                    on
                    a whole bunch of bookselling websites on your own to find cheap college textbooks. Who really knows
                    where to look anyway? We do, that’s who. We’ve got a huge network of booksellers, and we’ll cut
                    through
                    the clutter for you and find you a place to get those discount books for a great deal.


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-mid border-right">

                <p class="mid-one-details lato white-text">Need to sell textbooks? Great! Just create an account, enter
                    the book’s info, and sell away. Meet up on campus to do the deal. No fees, no shipping, and no
                    credit
                    cards. What else do you need?
                </p>


            </div>


            <div class="col-md-6 padding-left-none border-left mid-one-col-mid">


                <div class="mid-two-first-pic">
                    <img alt="how it works step 3" class="large-pic"  src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic.png"/>
                    <img alt="how it works step 3" class="small-pic margin-auto" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoThirdPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step1 text-left">Step 03</p>
            </div>


        </div>
        <div class="row">


            <div class="col-md-6 mid-one-col-bottom border-right padding-right-none text-right">

                <div class="mid-two-first-pic">
                    <img alt="how it works step 4" class="large-pic" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic.png"/>
                    <img alt="how it works step 4" class="small-pic margin-auto" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoFourthPic_small.png"/>
                </div>

                <p class="white-text lato mid-one-details step2 text-right">Step 04</p>
            </div>


            <div class="col-md-6 mid-one-col-bottom border-left">

                <p class="mid-one-details lato white-text margin-top-quarter">Celebrate all the money you’ve saved on
                    cheap textbooks by spending it on something way more fun… might we suggest… you know it without us
                    saying it...


                </p>


            </div>


        </div>
        <div class="row">


            <div class="col-md-12 mid-one-col-root text-center">

                <div class="">
                    <img alt="how it works" src="{{appHostPath}}/dist/images/concept/conceptPageMidTwoLastPic.png"/>
                </div>


            </div>


        </div>


    </div>
</div>


<div id="why-student-2-student" class="section m-0 pt-0 mid-one">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center why-student-2-student">
                <h1 class="open-sans uppercase header-text ">Why Student 2 Student ?</h1>
            </div>

            <div class="col-md-6 mid-three-left-part">

                <div>
                    <h5 class="uppercase lato mid-one-header-text body-text-size"><strong>Really, the question you
                        should
                        be asking yourself is why wouldn’t you use Student 2 Student?</strong></h5>
                </div>

                <div>
                    <p class="lato mid-one-details body-text-size">Our service is completely free!</p>

                    <p class="lato mid-one-details body-text-size">You can easily meet the buyer or seller right on your
                        campus to trade textbooks for cash.</p>

                    <p class="lato mid-one-details body-text-size">Stay anonymous if you want! You’re completely in
                        control of how much info you share online.</p>

                    <p class="lato mid-one-details body-text-size">We’re not going to get in the way. It’s just you and
                        the buyer or seller doing the deal on the used books.</p>

                    <p class="lato mid-one-details body-text-size">No shipping, no credit cards, and no hassles.</p>

                    <p class="lato mid-one-details body-text-size">Can’t find the used books you need? Our price
                        comparison will help you find the cheapest place you can get it.</p>

                    <p class="lato mid-one-details body-text-size">Don’t get ripped off trying to buy textbooks or sell
                        back textbooks to your bookstore anymore!</p>

                    <p class="lato mid-one-details body-text-size">Did we mention that Student 2 Student is FREE?</p>

                    <p class="lato mid-one-details body-text-size last">Now, there are other sites out there that do the
                        same thing, right? Well, they might try, but they’re not doing what we can do.
                    </p>


                </div>
            </div>

            <div class="col-md-6 mid-three-right-part">
                <div class="row">
                    <div class="col-md-6 padding-right-none">
                        <div class="blue-header"><h5 class="white-text uppercase lato  body-text-size header-text">
                            Student 2 Student</h5></div>

                        <div>
                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">No shipping and no hassles</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">No payment systems, just cash</p>
                            </div>

                            <div class="blue-box">
                                <p class="lato mid-one-details body-text-size">Verified buyers and no middle man</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">Quick sales no waiting
                                and no middle man</p>
                            </div>
                            <div class="blue-box"><p class="lato mid-one-details body-text-size">Completely free, free,
                                and more free</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6 padding-left-none">
                        <div class="orange-header"><h5 class=" white-text uppercase lato  header-text body-text-size ">
                            The other guys</h5></div>

                        <div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Expensive shipping leading to hassles</p>
                            </div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Transaction fees, identity theft and
                                    complex
                                    payment systems</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Unknown, faceless buyers and the risk of
                                    scams</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size">Slow sales, lots of waiting and a middle
                                    man
                                    in the way</p></div>
                            <div class="orange-box">
                                <p class="lato mid-one-details body-text-size last">Listing, sales and transaction fees,
                                    fees and more fees.</p></div>


                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div id="concept-video" class="section m-0 pt-0 mid-last-style-section"></div>
<div class="section m-0 pt-0 mid-one mid-last-section">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 left-part">

                <div>
                    <h1 class="uppercase lato mid-one-header-text">Watch our concept in<br/>
                        <text class="tiya-text">2 minutes</text>
                    </h1>
                </div>

                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive" src="{{appHostPath}}/dist/images/concept/video1.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Here’s some of the highlights of our concept:
                            </p></div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive" src="{{appHostPath}}/dist/images/concept/video2.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Here’s some of the highlights of our concept:
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive" src="{{appHostPath}}/dist/images/concept/video3.png"/>
                            </a>

                            <p class="lato video-text  grey-text">Here’s some of the highlights of our concept:
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="video">
                            <a ui-sref="app.conceptVideo">
                                <img alt="how it works concept video" class="img-responsive" src="{{appHostPath}}/dist/images/concept/video4.png"/>
                            </a>

                            <p class="lato video-text grey-text">Here’s some of the highlights of our concept:
                            </p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6 ">
                <div class="right-part hide-in-small">
                    <div><h3 class="lato white-text body-text-size-22 header-text">We’re creating a local network for
                        every school in our system, and helping every student that
                        signs up with us find discount books.</h3></div>

                    <p class="white-text lato body-text-size line-height-1">Here’s some of the highlights of our
                        concept:
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Everyone navigates to our
                        Student2Student.com homepage.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Every school has its own section.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">You create an account at your school’s
                        section and search for college textbooks there too.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Buy and sell with students at your own
                        school where it’s easy to meet up to do the transaction. Cash for used books. Simple, right?</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">If nobody’s selling the textbook you need at
                        your school, we’ll help you compare prices at dozens of sites so you can get the best deal.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">You finally get to pay fair prices that your
                        campus bookstore doesn’t believe in!</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">We’ve taken out the middle man and made
                        getting cheap college textbooks easy!</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideo"><h2 class="uppercase lato white-text">Watch Video</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>

<div class="section m-0 pt-0 mid-one mid-last-section dark-background">
    <div class="container clearfix quote-container-homepage ">
        <div class="row">

            <div class="col-md-6 ">
                <div class="right-part hide-in-large">
                    <div><h3 class="lato white-text body-text-size-22 header-text">We’re creating a local network for
                        every school in our system, and helping every student that
                        signs up with us find discount books.</h3></div>

                    <p class="white-text lato body-text-size line-height-1">Here’s some of the highlights of our
                        concept:
                    </p>

                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Everyone navigates to our
                        Student2Student.com homepage.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Every school has its own section.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">You create an account at your school’s
                        section and search for college textbooks there too.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">Buy and sell with students at your own
                        school where it’s easy to meet up to do the transaction. Cash for used books. Simple, right?</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">If nobody’s selling the textbook you need at
                        your school, we’ll help you compare prices at dozens of sites so you can get the best deal.</p>
                    <br/>

                    <p class="white-text lato body-text-size line-height-1">You finally get to pay fair prices that your
                        campus bookstore doesn’t believe in!</p>
                    <br/>
                    <h4 class="white-text lato body-text-size-20 header-text">We’ve taken out the middle man and made
                        getting cheap college textbooks easy!</h4>

                    <br/><br/>
                    <a ui-sref="app.conceptVideo"><h2 class="uppercase lato white-text">Watch Video</h2></a>

                </div>
            </div>
        </div>

    </div>

</div>



</div>
<div class="section m-0 pt-0 mid-last-style-section"></div>
</div>
</section>


