<div class="archive-page-head-banner">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 ng-show="showPagination" class="header-title">
                    <text class="uppercase blue-text lato">Sell Page Of {{user.username}}</text>
                    <text class="uppercase orange-text lato"> :: {{user.university}}</text>
                </h1>

            </div>
        </div>
    </div>
</div>


<section class="compare-page" id="content">


<div class="content-wrap mid-section">


<!--SELLER TO BUYER-->
<div class="selling-book-promise-div"
     cg-busy="{promise:sellingBookPromise,templateUrl:'views/template/search_result_loading_template.html'}">

<div class="section m-0 pt-0 archive-page-sections" ng-show="!resultFound">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="lato px-25 orange-text">"{{username}}" is not selling any textbooks yet.</p>
            </div>
        </div>
    </div>
</div>

<div class="section m-0 pt-0 archive-page-sections" ng-show="noUserFound">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="lato px-25 text-danger">Sorry, no user was found named "{{username}}"</p>
            </div>
        </div>
    </div>
</div>

<div class="section m-0 pt-0 search-result-section" ng-show="showPagination">
    <div class="container clearfix quote-container-homepage">
        <div class="row">
            <div class="col-md-12 mid-three-people-quote-col">

                <div class="search-result-bar-info-div">

                    <div class="col-md-4 text-center">
                        <text class="orange-text lato">Total Results:</text>
                        <text class="blue-text lato">{{totalSearchResults}}</text>
                        <br/>

                    </div>
                    <div class="col-md-4 text-center">
                        <text class="orange-text lato">Pages:</text>
                        <text class="blue-text lato">{{numPages}}</text>
                        <br/>

                    </div>
                    <div class="col-md-4 text-center">
                        <text class="orange-text lato">Showing Page:</text>
                        <text class="blue-text lato">{{currentPage}} of {{numPages}}</text>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="search-page-options">Sort By:

                            <select ng-model="sortType">
                                <option value="bookTitle" ng-selected="true">Title</option>
                                <option value="bookDirectorAuthorArtist">Author</option>
                                <option value="bookIsbn">ISBN</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6 text-center">


                        <div class="search-page-options">
                            <!--<span>Select View:</span>
                                <span class="btn-group">

                                    <label class="btn btn-default" ng-model="viewType" uib-btn-radio="'List'"><i
                                            class="fa fa-th-list"></i></label>

                                    <label class="btn btn-default" ng-model="viewType" uib-btn-radio="'Grid'"><i
                                            class="fa fa-th-large"></i></label>
                                </span>-->
                            <div class="input-group">
                                <input type="text"
                                       ng-model="searchQuery"
                                       ng-change="search(searchQuery)"
                                       ng-model-options="{debounce: 750}"
                                       class="form-control">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Search</button>
                            </span>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="col-md-12 text-center">
                    <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                    ng-change="changePage(currentPage)" class="search-page-pagination"
                                    boundary-links="true"
                                    rotate="false" num-pages="numPages"></uib-pagination>

                </div>
            </div>


        </div>

    </div>
</div>

<div class="section m-0 pt-0 archive-page-sections" data-ng-repeat="deal in campusBookDeals | orderBy:sortType">
<div class="container clearfix quote-container-homepage">
<div class="row">

    <div class="col-md-3">
        <div class="search-book-image-carousel selling-book-image-carousel">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">

                <uib-slide ng-repeat="slide in deal.bookImages" active="slide.active">
                    <img ng-click="viewImage($event,book.bookTitle)" data-options="splash-2 splash-primary splash-ef-2"
                         class="big-images" ng-src="{{imageHostPath}}{{slide.image}}" style="margin:auto;">

                </uib-slide>
            </uib-carousel>
            <div class="btn-group" ng-show="deal.showThumb">
                <div class="text-center">
                <span><a class="thumb-control-left" ng-click="prevPage(deal)"><i class="fa fa-angle-left fa-3x"></i></a></span>

                                    <span class="search-thumb-image"
                                          ng-repeat="thumb in deal.showThumbnails"
                                          ng-class="{true:'active',false:'not-active'}[thumb.active]">
                                        <img ng-src="{{imageHostPath}}{{thumb.image}}"
                                             ng-click="setActive(deal,thumb.imageId)"/>
                                    </span>

                        <span><a class="thumb-control-right" ng-click="nextPage(deal)"><i
                                class="fa fa-angle-right fa-3x"></i></a></span>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-9">
                <div class="archive-page-headers">
                    <h3 class="book-title orange-text lato uppercase">{{deal.bookTitle}}</h3>
                    <h4 class="book-sub-title blue-text lato">{{deal.bookSubTitle}}</h4>

                    <p class="book-description grey-text">By
                        <text class="blue-text">{{deal.bookDirectorAuthorArtist}}</text>
                        :: Published by {{deal.bookPublisher}} {{deal.bookPublishDate}} :: ({{deal.bookBinding}})
                        <br/>ISBN:
                        <text class="blue-text">{{deal.bookIsbn}}</text>&nbsp;&nbsp;&nbsp;&nbsp;ISBN-13: <text class="blue-text">{{deal.bookIsbn13}}</text>
                    </p>
                </div>
                <div class="archive-page-deal-information">
                    <div ng-show="!deal.viewMoreInfo" class="view-more-info-btn-div">
                        <button ng-click="deal.viewMoreInfo=true" class="view-more-info-btn myBtn app-btn blue-btn">View
                            More Information
                        </button>
                    </div>
                    <div ng-show="deal.viewMoreInfo">
                        <text class="box-title uppercase orange-text lato"><strong>Deal Information</strong></text>
                        <div class="deal-information-box">
                            <div class="row">
                                <div class="col-md-7">
                                    <p>
                                        <text class="blue-text"><strong>Contact Method</strong></text>
                                        <text class="grey-text" ng-if="deal.bookContactMethod=='sellerToBuyer'"> :
                                            Seller Contact Buyer
                                        </text>
                                        <text class="grey-text" ng-if="deal.bookContactMethod=='buyerToSeller'"> : Buyer
                                            Contact Seller
                                        </text>
                                        <br/>
                                    </p>

                                    <!--<p><text class="icons"><i class="fa fa-phone 2x"></i></text> <text> <strong>{{deal.bookContactHomeNumber}}</strong></text><br/></p>-->
                                    <!--<p><text class="icons"><i class="fa fa-phone 2x"></i></text> <text> <strong>{{deal.bookContactCellNumber}}</strong></text><br/></p>-->
                                    <p>
                                        <text class="icons"><i class="fa fa-envelope-o 2x"></i></text>
                                        <text><strong>{{deal.sellerEmail}}</strong></text>
                                        <br/></p>
                                    <p>
                                        <text class="blue-text"><strong>Comment</strong></text>
                                        <text class="grey-text"> : {{deal.bookComment}}</text>
                                        <br/></p>
                                </div>
                                <div class="col-md-5">
                                    <p>
                                        <text class="blue-text"><strong>Payment</strong></text>
                                        <text class="grey-text"> :

                                            <text ng-show="deal.bookPaymentMethodCaShOnExchange && !deal.bookPaymentMethodCheque">
                                                Cash
                                            </text>
                                            <text ng-show="!deal.bookPaymentMethodCaShOnExchange && deal.bookPaymentMethodCheque">
                                                Cheque
                                            </text>
                                            <text ng-show="deal.bookPaymentMethodCaShOnExchange && deal.bookPaymentMethodCheque">
                                                Cash, Cheque
                                            </text>

                                        </text>
                                        <br/></p>
                                    <p>
                                        <text class="blue-text"><strong>Available Date</strong></text>
                                        <text class="grey-text"> : {{deal.bookAvailableDate}}</text>
                                        <br/></p>
                                    <p>
                                        <text class="blue-text"><strong>Available To Public</strong></text>
                                        <text class="grey-text"> : {{deal.bookIsAvailablePublic}}</text>
                                        <br/></p>
                                    <p>
                                        <text class="blue-text"><strong>Textbook Has Notes</strong></text>
                                        <text class="grey-text"> : {{deal.bookHasNotes}}</text>
                                        <br/></p>
                                    <p>
                                        <text class="blue-text"><strong>Textbook Is Highlighted</strong></text>
                                        <text class="grey-text"> : {{deal.bookIsHighlighted}}</text>
                                        <br/></p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div ng-show="deal.viewMoreInfo">
                    <button ng-click="deal.viewMoreInfo=false" class="myBtn back-button"><img
                            src="./dist/images/archive_pages/back.png"> &nbsp;&nbsp;&nbsp;Close
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="archive-page-side">
                    <h1 class="orange-text open-sans price-header">${{deal.bookPriceSell}} </h1>

                    <!--<div class="share-images">
                                <span class="dropdown" uib-dropdown on-toggle="toggled(open)">
                                  <a href class="dropdown-toggle" uib-dropdown-toggle>
                                      <span><img src="./dist/images/archive_pages/share.png"/></span>
                                  </a>
                                  <ul class="dropdown-menu share-ul">
                                      <li>
                                          <a href="" socialshare
                                             socialshare-provider="twitter"
                                             socialshare-hashtags="mySellPage, student2student, Textbook Exchange Made Easy"
                                             socialshare-text="My Sell Page|Student2Student.com|Textbook Exchange made Easy"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-twitter fa-2x"></i></a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                          <a href="" socialshare
                                             socialshare-provider="linkedin"
                                             socialshare-text="My Sell Page|Student2Student.com|Textbook Exchange made Easy"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-linkedin fa-2x"></i></a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                          <a href=""  socialshare
                                             socialshare-provider="google"
                                             socialshare-text="My Sell Page|Student2Student.com|Textbook Exchange made Easy"
                                             socialshare-url="{{shareUrl}}"><i class="fa fa-google-plus fa-2x"></i></a>
                                      </li>
                                  </ul>
                                </span>
                                <span><a href="" socialshare
                                         socialshare-provider="skype"
                                         socialshare-text="My Sell Page|Student2Student.com|Textbook Exchange made Easy"
                                         socialshare-url="{{shareUrl}}"><img src="./dist/images/archive_pages/skype.png"/></a></span>
                                <span><a href="" socialshare
                                         socialshare-provider="facebook"
                                         socialshare-text="My Sell Page|Student2Student.com|Textbook Exchange made Easy"
                                         socialshare-hashtags="mySellPage, student2student, Textbook Exchange Made Easy"
                                         socialshare-url="{{shareUrl}}">
                                    <img src="./dist/images/archive_pages/fb.png"/></a></span>

                    </div>-->
                    <div class="buttons">

                        <a ng-if="!$parent.loggedIn" ui-sref="app.login" class="myBtn app-btn orange-btn"><i class="fa fa-phone"></i>&nbsp; Contact</a>
                        <a ng-if="$parent.loggedIn" ui-sref="app.contact({deal:deal})" class="myBtn app-btn orange-btn"><i class="fa fa-phone"></i>&nbsp; Contact</a>

                        <!--<a ng-if="!$parent.loggedIn" ui-sref="app.login"  class="myBtn app-btn orange-btn"><i class="fa fa-heart-o"></i>&nbsp;Add To Wishlist</a>-->
                        <button ng-click="saveToWishList(deal)"  class="myBtn app-btn orange-btn"><i class="fa fa-heart-o"></i>&nbsp;Add To Wishlist</button>



                    </div>
                    <div class="view-and-contact">
                        <p>
                            <text class="blue-text"><img src="./dist/images/archive_pages/view.png"/>
                                &nbsp;&nbsp;<strong>Views</strong></text>
                            <text class="grey-text"> : {{deal.bookViewCount}}</text>
                            <br/></p>
                        <p>
                            <text class="blue-text"><img src="./dist/images/archive_pages/contact.png"/>&nbsp;&nbsp;&nbsp;<strong>Contact</strong>
                            </text>
                            <text class="grey-text"> : {{deal.contacts.length}}</text>
                            <br/></p>
                    </div>

                </div>
            </div>
        </div>



    </div>


</div>



</div>
</div>


<div class="section custom-pagination-section" ng-show="showPagination">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <uib-pagination total-items="totalSearchResults" ng-model="currentPage" max-size="maxSize"
                                ng-change="changePage(currentPage)" class="search-page-pagination"
                                boundary-links="true"
                                rotate="false" num-pages="numPages"></uib-pagination>

            </div>
        </div>
    </div>
</div>

</div>


<!--BUYER TO SELLER-->


</div>
</div>

</section>


<script type="text/ng-template" id="myModalContent">
    <!-- <div class="modal-header">
         <h3 class="modal-title custom-font white-text">{{title}}</h3>
     </div>-->
    <div class="modal-body">

        <div class="modal-images">
            <img style="width: 100%;" data-ng-src="{{src.src}}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-arrow-right"></i> Ok
        </button>
    </div>
</script>

<script type="text/ng-template" id="sellingModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">You want to Sell Book to "{{src.contact.buyerNickName}}"?</h3>
    </div>
    <div class="modal-body">

        <p>You Sure you want to sell this book to this user ?</p>

        <p>Once Sold You can see the book on the Selling Archive Page</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"
                ng-click="confirmModal(markUserAsBuyerOfThatDeal,src)">
            <i class="fa fa-check"></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>


<script type="text/ng-template" id="deactivateModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">You want to Deactivate This Book?</h3>
    </div>
    <div class="modal-body">

        <p>You Sure you want to Deactivate "{{src.deal.bookTitle}}" ?</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(changeBookDealStatus,src)">
            <i class="fa fa-check"></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>

<script type="text/ng-template" id="activateModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">You want to Activate This Book?</h3>
    </div>
    <div class="modal-body">

        <p>You Sure you want to Activate "{{src.deal.bookTitle}}" ?</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(changeBookDealStatus,src)">
            <i class="fa fa-check"></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>

<script type="text/ng-template" id="deleteModalContent">
    <div class="modal-header">
        <h3 class="modal-title custom-font white-text">You want to Delete This Book Deal?</h3>
    </div>
    <div class="modal-body">

        <p>You Sure you want to Delete "{{src.deal.bookTitle}}" ?</p>

        <p>Once deleted all the content regarding this book deal will be erased. There is no way you can retrieve the
            data regarding this book deal after that.</p>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="confirmModal(deleteBookDeal,src)">
            <i class="fa fa-check"></i> Yes
        </button>
        <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c" ng-click="closeModal()"><i
                class="fa fa-times"></i> No
        </button>
    </div>
</script>