<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text">
                    <p class=" open-sans concept-page-banner-first-text  text-white uppercase">
                        <strong>Privacy
                            <text class="orange-text">Policy</text>
                        </strong>
                    </p>

                </div>

            </div>


            <div class="col-md-3 text-right">
                <div class="guard-image icon-as-header">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>

                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


    <div class="content-wrap mid-section">


        <div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
            <div class="container clearfix quote-container-homepage">
                <div class="row">


                    <div class="col-md-12 mid-three-uni-quote-col page-text-side ">



                        <p>Welcome to Student 2 Student. Student 2 Student provides website features to you subject to
                            the following "Privacy Policy". <strong>If you visit, trade or shop at Student 2
                                Student</strong>, you accept this "Privacy Policy". Please read it carefully.</p>

                        <p>Student 2 Student has established this privacy policy to explain to you how your information
                            is protected, collected and used, which may be updated by Student 2 Student from time to
                            time. Student 2 Student will provide notice of materially significant changes to this
                            privacy policy by posting notice on the Student 2 Student site or through email.</p>

                        <p class="blue-text lato uppercase heading-text">Protecting your privacy</p>

                        <ul class="text-list">
                            <li><span>We do NOT share your information with third parties for marketing purposes.</span>
                            </li>
                            <li><span>We do NOT employ tracking devices for marketing purposes ("cookies”).</span></li>
                            <li><span>We do NOT send you unsolicited communications for marketing purposes.</span></li>
                            <li><span>Account information is password-protected. Keep your password safe and do NOT tell or share with anyone.</span>
                            </li>
                            <li><span>Contact information of other users will be sent through email after you reserve a book. You will see the necessary contact information
                on Student 2 Student if you or other members reserve books.</span></li>
                            <li><span>Make it a habit to close your browser after clicking on “sign out”.</span></li>
                            <li><span>Student 2 Student does not knowingly collect any information from persons under the age of 13. If Student 2 Student finds out that a member is under
                the age of 13, Student 2 Student will remove this person as a member.</span></li>
                            <li><span>Student 2 Student, or people who publish on Student 2 Student, may provide links to other sites, which may have different privacy practices.</span>
                            </li>
                            <li><span>We are not responsible for, nor have any control over, the privacy policies of those websites, and encourage all users to read the
                privacy policies of each and every website visited.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Data we collect</p>
                        <ul class="text-list">

                            <li><span>Student 2 Student collects your email address, for purposes such as sending self-publishing and confirmation emails, authenticating
                user accounts, providing subscription email services, sending contact information when reserving a book, etc.</span>
                            </li>
                            <li><span>All information provided to Student 2 Student when signing up for an account will NOT be given out to third parties.</span>
                            </li>
                            <li><span>Student 2 Student does not store credit card information.</span></li>
                            <li><span>The use of Student 2 Student is based on Secure Sockets Layer (SSL) technology. Signing up, signing in, using Student 2 Student is protected by SSL.</span>
                            </li>
                            <li><span>We may collect personal information if you provide it in feedback or comments, post it on Student 2 Student, or if you contact us directly.</span>
                            </li>
                            <li><span>Please do not post any personal information on Student 2 Student that you expect to keep private.</span>
                            </li>
                            <li><span>Our logs collect your IP address, page URL, and timestamp. Web logs help us to diagnose problems with our server, to administer
                the Student 2 Student site, and to otherwise provide our service to you.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Data we store</p>
                        <ul class="text-list">
                            <li><span>All published books are stored in our database, even after "deletion" and may be archived elsewhere.</span>
                            </li>
                            <li><span>Our web logs and other records are also stored in our database.</span></li>
                            <li><span>Although we make good faith efforts to store the information in a secure operating environment that is not available to the public,
                we cannot guarantee complete security.</span></li>
                        </ul>
                        <p class="blue-text lato uppercase heading-text">Archiving and displaying of Student 2 Student
                            published books by search engines and other sites</p>


                        Search engines and other sites not affiliated with Student 2 Student could archive or otherwise
                        make Student 2 Student postings available.

                        <p class="blue-text lato uppercase heading-text">Circumstances in which Student 2 Student may
                            release information</p>

                        <ul class="text-list">
                            <li><span>Student 2 Student may disclose information about its users if required to do so by law or in the good faith belief that such disclosure is
                reasonably necessary to respond to subpoenas, court orders, or other legal process.</span></li>
                            <li><span>Student 2 Student may also disclose information about its users to law enforcement officers or others, in the good faith belief that such disclosure is
                reasonably necessary to: enforce our Terms of Use; respond to claims that any posting or other content violates the rights of third-parties;
                or protect the rights, property, or personal safety of Student 2 Student, its users or the general public.</span>
                            </li>
                        </ul>

                        <p class="blue-text lato uppercase heading-text">International Users</p>
                        <ul class="text-list">
                            <li><span>By visiting our web site and providing us with data, you acknowledge and agree that due to the international dimension of Student 2 Student
                we may use the data collected in the course of our relationship for the purposes identified in this policy or in our other communications
                with you, including the transmission of information outside your resident jurisdiction. In addition, please understand that data are stored
                on servers located in Switzerland. By providing us with your data, you consent to the data transfer.</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


