<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-9">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>Safety First</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;you are our</text>
                        <text class="uppercase orange-text">priority</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-3">
                <div class="guard-image">
                <img src="dist/images/safety_first/guard.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <img class="img-responsive" src="dist/images/safety_first/image.png"/>
                </div>
                <div>
                    <h2 class="orange-text uppercase lato mid-one-header-text"><strong>We want you to be safe</strong></h2>
                </div>
                <div class="mid-one-style first-style">
                    <img class="img-responsive" src="dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div>
                    <p class="grey-text lato mid-one-details">Read carefully as your safety is our first priority
                    </p>
                </div>
            </div>
            <div class="col-md-8 mid-three-uni-quote-col page-text-side">

                <p class="blue-text lato uppercase heading-text">When meeting someone for the first time, please remember</p>

                <p class="blue-text lato sub-heading-text">It's very important to be safe when you meet people when exchanging money and book(s).</p>

                <ul class="text-list">
                    <li><span>Insist on a public meeting place like a cafe surrounded by people</span></li>
                    <li><span>Travel there on your own – don’t accept a lift from the other person</span></li>
                    <li><span>Do tell a friend or family member who you are meeting, where you are going and when you will be back</span></li>
                    <li><span>Take your cell phone with you at all times</span></li>
                    <li><span>Consider having a friend accompany you</span></li>
                    <li><span>Trust your instincts</span></li>
                </ul>

                <p class="lato">For more information about personal safety online and offline please see <br/><a class="orange-link">http://www.getsafeonline.org/</a></p>

            </div>

        </div>

    </div>
</div>



</div>
</section>


