<div class="safety-first-page-head-banner">
    <div class="container clearfix">


        <div class="row concept-banner-row">

            <div class="col-md-7">
                <div class="concept-page-banner-text"><p
                        class=" open-sans concept-page-banner-first-text  text-white uppercase"><strong>scam & Fraud</strong>
                </p>

                    <p class="open-sans concept-page-banner-second-text text-right"><strong>
                        <text class="uppercase navy-blue-text ">&nbsp;&nbsp;fight</text>
                        <text class="uppercase orange-text">them</text>
                    </strong></p>
                </div>

            </div>


            <div class="col-md-5">
                <div class="guard-image">
                <img alt="student2student scam & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/security.png"/>
                </div>
            </div>


        </div>


    </div>


</div>

<section class="concept-page" id="content">


<div class="content-wrap mid-section">


<div class="section m-0 pt-0 mid-one safety-first-section scam-fraud-section">
    <div class="container clearfix quote-container-homepage">
        <div class="row">

            <div class="col-md-4 mid-three-uni-quote-col">
                <div class="concept-page-mid-one-odd-image">
                    <img alt="avoid scams & fraud" class="img-responsive" src="{{appHostPath}}/dist/images/scam_fraud/image2.jpg"/>
                </div>
                <div>
                    <h2 class="orange-text uppercase lato mid-one-header-text"><strong>avoid scams & fraud</strong></h2>
                </div>
                <div class="mid-one-style first-style">
                    <img alt="Read carefully to fight Scams & Fraud" class="img-responsive" src="{{appHostPath}}/dist/images/concept/conceptPageFirstStyle.png"/>
                </div>
                <div>
                    <p class="grey-text lato mid-one-details center-sm">Read carefully to fight Scams & Fraud
                    </p>
                </div>
            </div>
            <div class="col-md-8 mid-three-uni-quote-col page-text-side ">

                <p class="blue-text lato uppercase heading-text">Who are scammers?</p>

                <p class="blue-text lato sub-heading-text">Follow these common-sense rules:</p>


                <ul class="text-list">
                    <li><span>DEAL LOCALLY WITH FOLKS YOU CAN MEET IN PERSON - COE (Cash on Exchange) - follow this one simple rule, and you will avoid 99% of the scam attempts on Student 2 Student.</span></li>
                    <li><span>NEVER WIRE FUNDS, MONEY - anyone who asks you to do so is a potential scammer.</span></li>
                    <li><span>FAKE CASHIER CHECKS & MONEY ORDERS ARE COMMON, and BANKS WILL CASH THEM AND THEN HOLD YOU RESPONSIBLE when the fake is discovered weeks later.</span></li>
                    <li><span>Student 2 Student IS NOT INVOLVED IN ANY TRANSACTION, and does not handle payments, guarantee transactions, or offer "buyer protection" or    "seller certification".</span></li>
                    <li><span>NEVER GIVE OUT FINANCIAL INFORMATION (bank account number, social security number, eBay/PayPal info, etc.)</span></li>
                    <li><span>AVOID DEALS INVOLVING SHIPPING OR UPFRONT PAYMENT and know that ONLY A SCAMMER WILL "GUARANTEE" YOUR TRANSACTION.</span></li>
                    <li><span>NEVER GIVE OUT FINANCIAL INFORMATION (bank account number, social security number, eBay/PayPal info, etc.). We don't collect it, so shouldn't any other user.</span></li>
                </ul>



            </div>

        </div>

    </div>
</div>



</div>
</section>


