<form class="form-inline" name="addCampusForm" novalidate="" ng-submit="$event.preventDefault()">
    <p class="docs">Fill Up following form to Add Campus.</p>




    <section class="tile" fullscreen="isFullscreen01">

    </section>




            <input type="text" class="form-control mb-10" placeholder="Enter Campus Name"
                   ng-model="campus.campusName" required>

            <select  ng-model="campus.country"  class="form-control mb-10" ng-change="fetchStates(campus.country)"
                     data-ng-options="country.id as country.countryName for country in countries">
                <option value="">---Select Country---</option>
            </select>

            <select  ng-model="campus.state"  class="form-control mb-10"
                     data-ng-options="state.id as state.stateName for state in states">
                <option value="">---Select State---</option>
            </select>



    <!--<button class="btn btn-success btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10" ng-click="addNewUniversity()"><i-->
            <!--class="fa fa-plus"></i> <span>Add Uni Row</span></button>-->
    <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="saveNewCampus(campus)">Save New Campus
    </button>
    <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="cancelAddingCampus()">Cancel
    </button>

</form>





